

@model ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseStatus?

<div class="flex flex-wrap">
    <div class="col p-0 col-left">
        
        <partial name="_Grid_Purchase" model="Model" />
    </div>



</div>


