@model ERPKeeperCore.Enterprise.Models.Profiles.Profile

<div class="mb-3 border mh-100v">
    <div id="treeListDemo" class="mb-2">
        @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Profiles.ProfileAddress>()
        .ID("gridList")
        .DataSource(d =>
        d.RemoteController()
        .Key("AddressGuid")
        .LoadUrl($"/api/{CompanyId}/Profiles/{Model.Id}/Addresses/All")
        .InsertUrl($"/api/{CompanyId}/Profiles/{Model.Id}/Addresses/Insert")
        .UpdateUrl($"/api/{CompanyId}/Profiles/{Model.Id}/Addresses/Update")
        .UpdateMethod("Post")
        .DeleteUrl($"/api/{CompanyId}/Profiles/{Model.Id}/Addresses/Delete")
        .DeleteMethod("Post")
        )
       
        .KeyExpr("AddressGuid")
        .Editing(editing => {
        editing.Mode(GridEditMode.Popup);
        editing.AllowAdding(true);
        editing.AllowDeleting(true);
        editing.AllowUpdating(true);
        editing.UseIcons(true);
        editing.Form(f=>f.ColCount(1).Width(500));
        }) 
        .RowAlternationEnabled(true)
        .ShowRowLines(false)
        .ShowBorders(false)
        .Paging(paging => paging.PageSize(100))
        .HeaderFilter(headerFilter => headerFilter.Visible(true))
        .ColumnAutoWidth(false)
        .Width("100%")
        .Columns(columns => {
        columns.AddFor(m=>m.Number).Width(80);
        columns.AddFor(m=>m.Title).Width(150);
        columns.AddFor(m=>m.AddressLine).FormItem(i => i
                    .Editor(e => e
                        .TextArea()
                        .Height(120))
                    .ColSpan(2)
                );
        columns.AddFor(m=>m.PhoneNumber).Width(130);
        columns.AddFor(m=>m.IsPrimary).Visible(false);
        })
        )
    </div>


</div>
