@model ERPKeeperCore.Enterprise.Models.Profiles.Profile




<div class="mb-3 border">
    <div id="treeList" class="mt-2  mb-2">
        @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Profiles.ProfileContact>()
        .ID("AddressesGridList")
        .RowAlternationEnabled(true).AllowColumnReordering(true)
        .DataSource(d =>
        d.RemoteController()
        .Key("Id")
        .LoadUrl($"/api/{CompanyId}/Profiles/{Model.Id}/Contacts/All")
        .InsertUrl($"/api/{CompanyId}/Profiles/{Model.Id}/Contacts/Insert")
        .UpdateUrl($"/api/{CompanyId}/Profiles/{Model.Id}/Contacts/Update")
        .UpdateMethod("Post")
        .DeleteUrl($"/api/{CompanyId}/Profiles/{Model.Id}/Contacts/Delete")
        .DeleteMethod("Post")
        )
        .Editing(editing => {
        editing.Mode(GridEditMode.Popup);
        editing.AllowAdding(true);
        editing.AllowDeleting(true);
        editing.AllowUpdating(true);
        editing.UseIcons(true);
        editing.Form(f=>f.ColCount(1).Width(500));
        })
        .KeyExpr("Id")
        .ShowRowLines(true)
        .ShowBorders(false)
        .Width("100%")
        .Paging(paging => paging.PageSize(100))
        .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
        .ColumnAutoWidth(false)
        .Columns(columns => {
        columns.AddFor(m=>m.Name);
        columns.AddFor(m=>m.Email).Width(300);
        columns.AddFor(m=>m.MobilePhone).Width(130);
        columns.AddFor(m=>m.OfficePhone).Width(130);
        columns.AddFor(m=>m.Note).Visible(false);
        columns.AddFor(m=>m.ShippingNote).Visible(false);
        })
        )
    </div>


</div>
