@model ERPKeeperCore.Enterprise.Models.Profiles.Profile

@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div>
            <div class="row e-r">
                <div class="w-10/12 p-l@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {
                            
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="w-2/12 p-0 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}

<div class="lh-120 bg-gray-100 font-weight-600 p-2 border">

    <a href="/@CompanyId/Profiles/">
        Profiles
    </a>:
    <a href="/@CompanyId/Profiles/@Model.Id">
        @Model.Name
    </a>
</div>


<div class="lh-120 bg-gray-100 p-2 border">
    @{
        MenuTemplate(0, "General", $"/{CompanyId}/Profiles/{Model.Id}");
        MenuTemplate(0, "Addresses", $"/{CompanyId}/Profiles/{Model.Id}/Addresses", Model.Addresses.Count());
        MenuTemplate(0, "Contacts", $"/{CompanyId}/Profiles/{Model.Id}/Contacts", Model.Addresses.Count());
    }
</div>

<div class="lh-120 bg-gray-100 p-2 border">
    @{
        if (Model.Customer != null)
            MenuTemplate(0, "Customers", $"/{CompanyId}/Customers/Customers/{Model.Id}");

        if (Model.Supplier != null)
            MenuTemplate(0, "Suppliers", $"/{CompanyId}/Suppliers/Suppliers/{Model.Id}");

        if (Model.Investor != null)
            MenuTemplate(0, "Investors", $"/{CompanyId}/Investors/Investors/{Model.Id}");

        if (Model.Employee != null)
            MenuTemplate(0, "Employees", $"/{CompanyId}/Employees/Employees/{Model.Id}");

    }
</div>