@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div class="">
            <div class="row e-r">
                <div class="col-10 p-l@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {
                            <i class="fa-solid fa-l"></i>
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="col-2 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}

<div class="lh-12 bg-fb1 p-2 border">
    @{

        MenuTemplate(0, "Profiles", $"/{CompanyId}/Profiles");
        // MenuTemplate(1, "Customers", $"/{CompanyId}/Customers");
        // MenuTemplate(1, "Suppliers", $"/{CompanyId}/Suppliers");
        // MenuTemplate(1, "Employees", $"/{CompanyId}/Employees");
        // MenuTemplate(1, "Investors", $"/{CompanyId}/Investors");
    }
</div>


<div class="lh-12 bg-fb1 p-2 border">
    <div><a href="/@CompanyId/Profiles/@Model.Id/">General</a></div>
    <div>    <a href="/@CompanyId/Profiles/@Model.Id/Addresses">Addresses</a></div>
    <div><a href="/@CompanyId/Profiles/@Model.Id/Contacts">Contacts</a> </div>
    <div> <a href="/@CompanyId/Profiles/@Model.Id/Roles">Roles</a></div>



</div>