@model ERPKeeperCore.Enterprise.Models.Profiles.Profile


<div class="flex w-full font-semibold text-lg text-uppercase justify-between">
    <div class="p-2">
        <a href="/@CompanyId/Profiles"> Profiles</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
        <a href="/@CompanyId/Profiles/@Model.Id"> @Model.Name</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
    </div>
</div>

