@model ERPKeeperCore.Enterprise.Models.Profiles.Profile


<div class="row mb-2 font-weight-600">
    <div class="p-2">
        <a href="/">ERP</a>
        <a href="/Profiles">> Profiles</a>
        <a href="/Profiles/@Model.Uid">> @Model.Name</a>
    </div>
</div>


<div class="mb-2 text-right">
    <a href="/Profiles/@Model.Uid/">General</a> ·
    <a href="/Profiles/@Model.Uid/Addresses">Addresses</a>  ·
    <a href="/Profiles/@Model.Uid/Contacts">Contacts</a>   ·
    <a href="/Profiles/@Model.Uid/Roles">Roles</a>  
</div>