@model ERPKeeperCore.Enterprise.Models.Profiles.Profile


<div class="row mb-2 font-weight-600">
    <div class="p-2">
        <a href="/">ERP</a>
        <a href="/Profiles">> Profiles</a>
        <a href="/Profiles/@Model.Id">> @Model.Name</a>
    </div>
</div>


<div class="mb-2 text-right">
    <a href="/Profiles/@Model.Id/">General</a> ·
    <a href="/Profiles/@Model.Id/Addresses">Addresses</a>  ·
    <a href="/Profiles/@Model.Id/Contacts">Contacts</a>   ·
    <a href="/Profiles/@Model.Id/Roles">Roles</a>  
</div>