@model ERPKeeperCore.Enterprise.Models.Profiles.Profile

<div class="flex">
    <div class="col-8 p-0 col-left">
        <partial name="_Detail" />
    </div>
    <div class="col-right w-3/12">
    </div>
</div>