@model ERPKeeperCore.Enterprise.Models.Profiles.Profile

<div class="row">
    <div class="col-9 p-0 col-left">
        
        <partial name="_Roles" />
    </div>
    <div class="col-4 pr-0 col-right">
    </div>
</div>

