

    <div class="flex flex-wrap">
        <div class="w-full col-center p-0">
        Performance & Appraisal

        Purpose: Motivation & career development

        Data to show

        Performance review history

        KPI / OKR results

        Scores and feedback

        Appraisal period

        Promotion history

        ?? Managers may see more; employees see only their own.
        </div>
        <div class="col-300px col-right">
   
        </div>
    </div>

