
@{
    var profile = new
    {
        Profile.Id,
        Profile.Name,
        Profile.ShotName,
        Profile.TaxNumber,
        Profile.WebSite,
        Profile.PhoneNumber,
        Profile.IsSelfOrganization
    };
}


<div class="mb-3 border">
    <form id="EditForm" method="post" action="/Profiles/@Profile.Id/Update">
        <div class="grid grid-cols-2">
            <div class="">
                <div class="p-2 bg-gray-100 rouned mb-2">
                    @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Profiles.Profile>()
                        .ID("form_0")
                        .FormData(profile)
                        .LabelMode(FormLabelMode.Static)
                        .LabelLocation(FormLabelLocation.Left)
                        .MinColWidth(300)
                        .ReadOnly(false)
                        .ShowColonAfterLabel(true)
                        .ColCount(1)
                        .Items(items =>
                        {
                            items.AddSimpleFor(m => m.Name);
                            items.AddSimpleFor(m => m.ShotName);
                            items.AddSimpleFor(m => m.TaxNumber);
                        })
                        )
                </div>
                <div class="p-2 bg-gray-100 rouned">
                    @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Profiles.Profile>()
                        .ID("form_1")
                        .FormData(profile)
                        .LabelMode(FormLabelMode.Static)
                        .LabelLocation(FormLabelLocation.Left)
                        .MinColWidth(300)
                        .ReadOnly(false)
                        .ShowColonAfterLabel(true)
                        .ColCount(1)
                        .Items(items =>
                        {
                            items.AddSimpleFor(m => m.WebSite);
                            items.AddSimpleFor(m => m.PhoneNumber);
                            items.AddSimpleFor(m => m.Note).Editor(e => e.TextArea().MinHeight(100));
                        })
                        )
                </div>
            </div>
            <div class="">

                @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Profiles.Profile>()
                    .ID("form_1")
                    .FormData(profile)
                    .LabelMode(FormLabelMode.Static)
                    .LabelLocation(FormLabelLocation.Left)
                    .MinColWidth(300)
                    .ReadOnly(false)
                    .ShowColonAfterLabel(true)
                    .ColCount(1)
                    .Items(items =>
                    {
                        items.AddSimpleFor(m => m.IsSelfOrganization);
                    })
                    )

            </div>
            <div class="col-span-2 text-right">
                <button class="btn py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
                    Save
                </button>
            </div>
        </div>


    </form>
</div>