

@{
    string[] profileTypes = { "Customer", "Supplier", "Employee", "Investor" };
}

<div class="grid grid-cols-2">

    @foreach (string profileType in profileTypes)
    {
        var isAssigned = profileType switch
        {
            "Customer" => Profile.Customer != null,
            "Supplier" => Profile.Supplier != null,
            "Employee" => Profile.Employee != null,
            "Investor" => Profile.Investor != null,
            _ => false
        };

        <div class="border h-20">
            @if (!isAssigned)
            {
                <div class="bg-gray-300 h-20 content-center text-center">
                    <a href="/Profiles/@Profile.Id/AssignRole?Role=@profileType">
                        <i class="fa-solid fa-circle-plus text-lg"></i> @profileType
                    </a>
                </div>
            }
            else
            {
                <div class="bg-green-300 h-20 content-center text-center">
                    <a href="/@(profileType)s/@(profileType)s/@Profile.Id">
                        <i class="fa-solid fa-check"></i> @profileType
                    </a>
                </div>
            }
        </div>
    }
</div>

@if (Profile.Customer != null && Profile.Supplier != null && Profile.Employee != null && Profile.Investor != null)
{
    <div class="text-green-500 mt-4">
        All profile types have been assigned.
    </div>
}
else
{
    <div class="text-red-500 mt-4">
        Not all profile types have been assigned.
    </div>
}
