@model ERPKeeperCore.Enterprise.Models.Financial.RetentionPeriod


<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2">
        <a href="/Financial">Financial</a>
        /
        <a href="/Financial/RetentionGroups">RetentionGroups</a>
        /
        <a href="/Financial/RetentionGroups/@Model.Id">@Model.Name</a>
    </div>
    <div class="col p-2">



        <a href="/Financial/RetentionGroups/@Model.Id/Unpost">Unpost</a>
    </div>
</div>