@model ERPKeeperCore.Enterprise.Models.Financial.RetentionPeriod


<div class="flex font-semibold  text-uppercase">
    <div class="col-8 p-2">
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/RetentionGroups">RetentionGroups</a>
        /
        <a href="/@CompanyId/Financial/RetentionGroups/@Model.Id">@Model.Name</a>
    </div>
    <div class="col p-2">
        <a href="/@CompanyId/Financial/RetentionGroups/@Model.Id/Unpost">Unpost</a>
    </div>
</div>