@model ERPKeeper.Node.Models.Transactions.Commercial

<div class="row p-2 mb-2 bg-fb2 mh-50 rounded">
    <div class="col p-0" style="font-weight: 600;font-size: 120%;">
        @Model.Age Days
    </div>
    <div class="col p-0 text-right">
        @Model.Status
    </div>
</div>
