@model ERPKeeper.Node.Models.Transactions.Commercial


<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">
            @Html.Partial("_MenuTop")
        </div>
        <div class="col col-Middle p-0">
            <div class="MiddleSubRightColContainer">

            </div>
            <div class="MiddleSubLeftColContainer" style="margin-left:10px;margin-right:0px;">

                <div>
                    <b>FILEs</b><br />
                    @Html.Action("SummaryList", "Documents", new { id = Model.Uid, Area = "Documents" })
                    @Html.Partial("~/Areas/Commercials/Views/Commercial/_UploadFile.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
