@{
    Layout = null;
}

@model IQueryable<ERPKeeper.Node.Models.Suppliers.Supplier>

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.KeyFieldName = "Uid";
        settings.EnableTheming = true;


        settings.SettingsSearchPanel.Visible = true;
        settings.Settings.ShowFilterRow = false;
        settings.Styles.Header.Font.Bold = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
        settings.CallbackRouteValues = new { Controller = "Suppliers", Action = "PartialGridView", id = ViewBag.id };
        settings.Styles.Header.Font.Bold = true;
        settings.Width = Unit.Percentage(100);
         

        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsPopup.HeaderFilter.Height = 400;
        settings.SettingsPopup.HeaderFilter.SettingsAdaptivity.MinHeight = 300;


        settings.Settings.ShowFooter = true;

        settings.Columns.Add(column =>
        {
            column.FieldName = "Profile.ShotName";
            column.Caption = "SN";
            column.Width = Unit.Pixel(30);
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Profile.Name";
            column.Caption = "Name";


            column.SetDataItemTemplateContent(t =>
            {
                string ProfileGuid = DataBinder.Eval(t.DataItem, "ProfileUid").ToString();
                string Name = (DataBinder.Eval(t.DataItem, "Profile.Name") ?? "N/A").ToString();

                var linkTag = Html.ActionLink(Name, "Home", "Supplier", new { id = ProfileGuid }, null);
                ViewContext.Writer.Write(string.Format("<div style='text-overflow:ellipsis;overflow:hidden; white-space:nowrap ; width:300px;'>{0}</div>", linkTag));

            });
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Profile.TaxNumber";
            column.Caption = Lang.TaxID;
            column.Width = 130;
        });

        
        settings.Columns.Add(column =>
        {
            column.FieldName = "CountPurchases";
            column.Caption = "TR#";
        });



        settings.Columns.Add(column =>
        {
            column.FieldName = "SumPurchaseBalance";
            column.Caption = "Total";

            column.PropertiesEdit.DisplayFormatString = "N2";
            column.Width = 100;
            column.SortIndex = 1;
            column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        });
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "SumSaleBalance").DisplayFormat = "N2";

    });
}

@grid.BindToLINQ("", "", (s, e) =>
{
e.KeyExpression = "ProfileUid";
e.QueryableSource = Model;
}).GetHtml()

