

<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">

            
        </div>
        <div class="col col-Middle p-0">
            <div class="MiddleSubLeftColContainer">
                @Html.Action("PartialGridView")
            </div>
            <div class="MiddleSubRightColContainer">
                <div class="p-2 mb-2 bg-fb2 mh-50">
                    @Html.ActionLink("New", "New", "ShippingTerm")
                </div>
            </div>
        </div>
    </div>
</div>
