
<div id="treeList" class="">
    @(
            Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Financial.RetentionPeriod>()
            .ID("gridList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Financial/RetentionGroups/All")
            .InsertUrl($"/API/{CompanyId}/Financial/RetentionGroups/Insert")
            .InsertMethod("Post")
            .UpdateUrl($"/API/{CompanyId}/Financial/RetentionGroups/Update")
            .UpdateMethod("Post")
            )
            .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("Financial_Retention_Periods" + CompanyId.ToString()))
            .RowAlternationEnabled(true).AllowColumnReordering(true).AllowColumnResizing(true)
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .GroupPanel(groupPanel => groupPanel.Visible(true))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
            .ColumnAutoWidth(false)
            .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))

            .Columns(columns =>
            {
                columns.AddFor(m => m.No).Width(100)
                    .CellTemplate(@<text><a href="/@CompanyId/Financial/RetentionGroups/<%= data.Id %>/"><%= data.No %></a></text>
            );


                 columns.AddFor(m => m.RetentionTypeId)
                 .MinWidth(200)
    .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.RetentionTypes.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
    .HeaderCellTemplate(@<text>Retention Acc.</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Financial/RetentionTypes/<%= data.RetentionTypeId %>/"><%= displayValue %></a></text>);
                
                columns.AddFor(m => m.StartDate).SortIndex(1).SortOrder(SortOrder.Desc);

                columns.AddFor(m => m.EndDate).AllowEditing(false);

                columns.AddFor(m => m.Count).Width(60);

                columns.AddFor(m => m.AmountCommercial).Width(130).HeaderCellTemplate("Amount").AllowEditing(false).Format("#,##0.00");
                    columns.AddFor(m => m.AmountRetention).Width(130).HeaderCellTemplate("Retention").AllowEditing(false).Format("#,##0.00");



                columns.AddFor(m => m.RetentionType.RetentionToAccountId)
                .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.ToList().Select(t => new { t.Id, Name = t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
                .AllowEditing(false)
                .HeaderCellTemplate(@<text>Account</text>);



                columns.AddFor(m => m.PayDate);
                columns.AddFor(m => m.PayFromAccountId)
            .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.ToList().Select(t => new { t.Id, Name = t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .HeaderCellTemplate(@<text>PayFrom</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Accounting/Accounts/<%= data.PayFromAccountId %>/"><%= displayValue %></a></text>);








                columns.AddFor(m => m.IsPosted)
            .AllowEditing(false).Width(30)
            .HeaderCellTemplate(@<text> </text>)
        .CellTemplate(@<text><i class="fas fa-fingerprint text-<%= data.IsPosted %>"></i></text>);






            })
        )
</div>

