
<div id="treeList" class="">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.Customer>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/Customers/Customers/All")
            .UpdateUrl($"/API/Customers/Customers/Update")
            .UpdateMethod("Post")
            )
            .KeyExpr("Id")
            .RowAlternationEnabled(true).AllowColumnReordering(true)
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .ColumnAutoWidth(false)
            .StateStoring(ss => ss.Enabled(true).StorageKey("Customers_Customers"))
            .AllowColumnResizing(true)
            .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).UseIcons(true))
            .Columns(columns =>
            {

                columns.AddFor(m => m.Profile.TaxNumber).AllowEditing(false).HeaderCellTemplate("Tax ID").Width(150);
                columns.AddFor(m => m.Profile.ShotName).AllowEditing(false).HeaderCellTemplate("SN").Width(80);
                columns.AddFor(m => m.Profile.Name).AllowEditing(false).HeaderCellTemplate("Name")
                    .CellTemplate(@<text><a href="/Customers/Customers/<%= data.Profile.Id %>/"><%= data.Profile.Name %></a></text>);

                columns.AddFor(m => m.TotalSales).AllowEditing(false).Width(100).HeaderCellTemplate(@<text>Sale</text>).Format(Format.FixedPoint);
                columns.AddFor(m => m.TotalSalesCount).AllowEditing(false).Width(80).HeaderCellTemplate(@<text>Sale</text>);
                columns.AddFor(m => m.TotalBalance).AllowEditing(false).Width(100).HeaderCellTemplate(@<text>Balance</text>).Format(Format.FixedPoint);
                columns.AddFor(m => m.TotalBalanceCount).AllowEditing(false).Width(80).HeaderCellTemplate(@<text>Balance</text>);

           
                columns.AddFor(m => m.DefaultIncomeAccountId)
                    .Lookup(lookup => lookup.DataSource(Organization.ChartOfAccount.IncomeAccounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
                    .Width(150)
                    .HeaderCellTemplate(@<text>Income Acc</text>)
                    .CellTemplate(@<text><a href="/Accounting/Accounts/<%= data.DefaultIncomeAccountId %>/"><%= displayValue %></a></text>);

            })
        )
</div>


