
<div id="treeListDemo" class="mb-3 border">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.Customer>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Customers/Customers/All"))
            .KeyExpr("Id")
            .RowAlternationEnabled(true)
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .ColumnAutoWidth(false)
            .StateStoring(ss => ss.Enabled(true).StorageKey("Customers_Customers"))
            .Columns(columns =>
            {

                columns.AddFor(m => m.ProfileId).Width(150)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.TaxNumber }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>TAX ID</text>)
            .CellTemplate(@<text><a href="/@CompanyId/Customers/Customers/<%= data.Id %>/"><%= displayValue %></a></text>);

                columns.AddFor(m => m.ProfileId).Width(150)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.ShotName }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .MinWidth(200)
            .HeaderCellTemplate(@<text>SN</text>)
            .CellTemplate(@<text><a href="/@CompanyId/Customers/Customers/<%= data.Id %>/"><%= displayValue %></a></text>);


                columns.AddFor(m => m.ProfileId).Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.Name }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>Customer</text>)
             .CellTemplate(@<text><a href="/@CompanyId/Customers/Customers/<%= data.Id %>/"><%= displayValue %></a></text>);

                columns.AddFor(m => m.TotalSales).Width(120).HeaderCellTemplate(@<text>Sale</text>).Format(Format.FixedPoint);
                columns.AddFor(m => m.TotalSalesCount).Width(120).HeaderCellTemplate(@<text>Sale</text>);
                columns.AddFor(m => m.TotalBalance).Width(120).HeaderCellTemplate(@<text>Balance</text>).Format(Format.FixedPoint);
                columns.AddFor(m => m.TotalBalanceCount).Width(120).HeaderCellTemplate(@<text>Balance</text>);
            })
        )
</div>


