
<div class="row font-weight-600  text-uppercase">
    <div class="col-9 p-2">
        / <a href="/@CompanyId/Customers"> Customers</a>
        / <a href="/@CompanyId/Customers/Customers"> Customers</a>
    </div>
    <div class="col-3 text-right p-0">
        <div class="btn-group">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-fs-18"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Customers/Customers/Refresh">Refresh</a>
                </li>

            </ul>
        </div>
    </div>

</div>

