
<div class="row font-weight-600  text-uppercase">
    <div class="col-9 p-2">
        <a href="/@CompanyId/Customers"> Customers</a>
        / <a href="/@CompanyId/Customers/Customers"> Customers</a>
    </div>
    <div class="w-3/12 text-right p-0">
        <a href="/@CompanyId/Customers/Customers/Refresh"> <i class="fa-solid fa-arrows-rotate text-xl"></i></a>
    </div>
</div>