
<div class="flex font-semibold  text-uppercase">
    <div class="col-9 p-2">
        <a href="/@CompanyId/Customers"> Customers</a>
        / <a href="/@CompanyId/Customers/Customers"> Customers</a>
    </div>
    <div class="w-3/12 text-right p-0">

        <div class="dropdown dropleft p-1">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border roundedmin-w-64 min-h-40" aria-labelledby="dropdownMenuLink">


                <div>
                    <a href="/@CompanyId/Customers/Customers/Refresh">
                        Update Balance
                    </a>
                </div>

                <div>
                    <a href="/@CompanyId/Customers/Customers/RemoveNoSale">
                        Remove NoSale Customer
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>