@model ERPKeeperCore.Enterprise.Models.Projects.Project




<div class="row font-weight-600  text-uppercase">
    <div class="col-8 p-2">
        <a href="/@CompanyId/Profiles/Customers"> Customers</a>
        / <a href="/@CompanyId/Profiles/Customers/Projects"> Sales</a>
        / <a href="/@CompanyId/Profiles/Customers/Projects/@Model.Id"> @Model.Name</a>
    </div>
</div>
