

    <div class="flex flex-wrap">
        <div class="w-full col-center p-0">
        Purpose: Transparency + fewer disputes

        Data to show

        Daily attendance log

        Check-in / Check-out

        Late / Early

        Monthly summary

        OT hours

        Missing punches

        Work shift / schedule

        Holiday calendar

        Optional

        GPS / Device source

        Correction request workflow
        </div>
        <div class="col-300px col-right">
   
        </div>
    </div>

