@model ERPKeeperCore.Enterprise.Models.Taxes.TaxCode

<div class="flex bg-gray-100 p-2 mb-2 rounded">
    <div class="w-9/12 p-0 font-semibold">
        <a href="/Taxes">Taxes</a>
        /
        <a href="/Taxes/Codes"> Codes</a>
        /
        <a href="/Taxes/Codes/@Model.Id"> @Model.Name</a>
    </div>
    <div class="w-4/12 p-0 text-right">

    </div>
</div>
