


<div id="treeListDemo" class="mb-3 border">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.Sale>()
        .ID("gridList")
        .DataSource(d => d.RemoteController().Key("Id")
        .LoadUrl($"/API/{CompanyId}/Customers/Orders/All")
        @*  .InsertUrl($"/API/{CompanyId}/Customers/Estimates/Insert")
    .UpdateUrl($"/API/{CompanyId}/Customers/Estimates/Update")
    .UpdateMethod("Post")
    .DeleteUrl($"/API/{CompanyId}/Customers/Estimates/Delete")
    .DeleteMethod("Post")*@
        )
        .KeyExpr("Id")
        .RowAlternationEnabled(true)
        .ShowRowLines(false)
        .ShowBorders(false)
        .Paging(paging => paging.PageSize(100))

        .AllowColumnResizing(true)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))

        .ColumnAutoWidth(false)
        @*.AutoExpandAll(true)*@
        .RowDragging(rd => rd
        .AllowDropInsideItem(false)
        .AllowReordering(false)
        @*.OnDragChange("onDragChange")
    .OnDragEnd("onDragEnd")
    .ShowDragIcons(false)*@
        )
            .Columns(columns =>
            {




                columns.AddFor(m => m.Date).SortOrder(SortOrder.Desc).SortIndex(1).Width(130);

                columns.AddFor(m => m.Status).AllowEditing(false).Width(80).SortOrder(SortOrder.Desc).SortIndex(2).Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Name)
            .Width(130)
            .CellTemplate(@<text>
        <a href="/@CompanyId/Customers/Estimates/<%= data.Id %>/">
            <%= data.Name %>
        </a>
    </text>);

                columns.Add().DataField("ProfileName")
            .Width(300)
            .CellTemplate(@<text>
        <a href="/@CompanyId/Customers/Customers/<%= data.ProfileId %>/">
            <%= data.ProfileName %>
        </a>
    </text>);

                columns.AddFor(m=>m.Reference);
                 columns.AddFor(m=>m.Total).AllowEditing(false).Width(130).Format("#,##0.00");
                 columns.AddFor(m=>m.Tax).AllowEditing(false).Format("#,##0.00");

                //columns.Add().DataField("Id");
            })
        )
</div>

