



<div class="flex w-full font-semibold text-lg text-uppercase justify-between">
    <div class="p-2">

        <a href="/@CompanyId/Customers"> Customers</a> /
        <a href="/@CompanyId/Customers/Orders"> Orders</a>
    </div>
</div>
