@using ERPKeeper.Node.Models.Items.Enums



<div class="row mb-2 font-weight-600">
    <div class="p-0">
        <a href="/">ERP</a>
        <a href="/@CompanyId/Customers">> Customers</a>
        <a href="/@CompanyId/Customers/Orders">> Orders</a>
    </div>
</div>
