

<div class="flex">
    <div class="font-weight-600">
        Customers > Estimates > Orders
    </div>
    <div class="text-right">
 @*       <a href="/@CompanyId/Customers/Home/Active">Active</a>  ·
        <a href="/@CompanyId/Customers/Home/InActive">In-Active</a>  ·
        <a href="/@CompanyId/Customers/Estimates/Clear">Clear</a>*@
    </div>
</div>
