@model ERPKeeper.Node.Models.Employees.EmployeePaymentPeriod


<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">
            @Html.Partial("_MenuTop", Model)

            @Html.DevExpress().WebDocumentViewer(settings =>
                {
                    settings.Name = "documentViewer";
                }).Bind(ViewBag.Report).GetHtml()

        </div>
        <div class="col-3 col-Middle pr-0">

        </div>
    </div>
</div>


