
<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
           
        </div>
        <div class="col col-Middle p-0">
            <div class="MiddleSubLeftColContainer">

            </div>
            <div class="MiddleSubRightColContainer">


            </div>
        </div>
    </div>
</div>
