
<div style="float: left;padding:0px;">
    <img src="~/Content/SampleImage/ccw.png" width="745" />
    <div>
        <a href="@Url.Action("Home","Sales",new { Area = "Customer"})">
            <span style="font-size:13px;font-weight:bold;padding-right:10px;">SALES</span>
        </a>
        <a href="@Url.Action("Home","Purchases",new { Area = "Suppliers"})">
            <span style="font-size:13px;font-weight:bold;padding-right:10px;">PURCHASES</span>
        </a>
        <a href="@Url.Action("Home","Employees",new { Area = "Employees"})">
            <span style="font-size:13px;font-weight:bold;padding-right:10px;">EMPLOYEES</span>
        </a>
    </div>
</div>