

<div style="width: 100%; margin-bottom: 10px; padding: 0px; top:0; left:0;z-index: 100; ">
    <div style="width: 1326px; margin:0 auto; min-height: 50px;  background-color:#3b5998;">
        <div style="float: left;margin :10px;padding-right:10px; border-right:3px solid #FFFFFF;">
                <img src="https://www.core.social/Content/Images/Core.png" />
        </div>
        <div style="float: left;margin-top :15px;">
            <span style="font-weight: 600;color:white;">ERP.CORE.SOCIAL</span>
        </div>

        <div style="float: right; padding-top: 5px; padding-right: 10px; padding :5px;">
          
        </div>
    </div>
</div>
