

    <div class="flex flex-wrap">
        <div class="w-full col-center p-0">
        Data to show

        Salary history (effective date, amount)

        Current base salary

        Allowances (position, transport, OT, etc.)

        Bonus history (optional)

        Payslips (PDF download)

        Deductions

        Tax

        Social security

        Loans

        Absences

        Net salary per month

        ?? Best practice

        Show monthly payslip, not raw payroll tables

        Mask sensitive numbers (e.g., bank account: xxx-x-1234)

        Download requires re-authentication
        </div>
        <div class="col-300px col-right">
   
        </div>
    </div>

