@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote

<div class="row font-weight-600  text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId/">@CompanyId</a>
        <a href="/@CompanyId/Profiles/Customers"> Customers</a>
        <a href="/@CompanyId/Profiles/Customers/CustomerQuotes"> Estimates</a>
        <a href="/@CompanyId/Profiles/Customers/CustomerQuotes/@Model.Id"> @Model.Name</a>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12 p-0 text-left">
        <a href="/@CompanyId/Profiles/Customers/CustomerQuotes/@Model.Id/">Detail</a>  ·
        <a href="/@CompanyId/Profiles/Customers/CustomerQuotes/@Model.Id/Items">Items</a>  ·
        <a href="/@CompanyId/Profiles/Customers/CustomerQuotes/@Model.Id/Shipments">Documents</a>  ·
        <a href="/@CompanyId/Profiles/Customers/CustomerQuotes/@Model.Id/Shipments">Export</a>  ·
        <a href="https://erp.advancemaker.com/Customers/CustomerQuote/@Model.Id">
            Old
        </a>
    </div>
</div>
