@model ERPKeeperCore.Enterprise.Models.Employees.Employee


<div class="row font-weight-600  text-uppercase">
    <div class="col-6 p-2">
        <a href="/@CompanyId/Employees">Employees</a>
        /
        <a href="/@CompanyId/Employees/Employees"> Employees</a>
        /
        <a href="/@CompanyId/Employees/Employees/@Model.Id"> @Model.Profile.Name</a>
    </div>
    <div class="col-6 text-right p-2">
        <a href="/@CompanyId/Employees/Employees/@Model.Id">Overview</a>  ·
        <a href="/@CompanyId/Profiles/@Model.Id">Profile</a>  ·
        <a href="/@CompanyId/Employees/Employees/@Model.Id/Payments">Estimates</a>
    </div>
</div>


