@model ERPKeeperCore.Enterprise.Models.Employees.Employee

<div class="flex flex-wrap">
    <div class="w-9/12">
        <partial name="_Detail" />
        <partial name="_Grid_Payments" />
    </div>
</div>

