
@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div class="">
                    <div class="row e-r">
                        <div class="col-10 p-l@(level)">
                            <a href="@url">
                        @if (level > 0)
                        {
                                        <i class="fa-solid fa-l"></i>
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                            </a>
                        </div>
                        <div class="col-2 text-right p-0">
                            <span class="menuCount">@count</span>
                        </div>
                    </div>
        </div>
    }
}
<div class="lh-12 bg-fb1 p-2 rounded border font-weight-600">
    @{
        MenuTemplate(0, "Profiles", $"/{CompanyId}/Profiles");
        MenuTemplate(1, "Customers", $"/{CompanyId}/Customers");
    }
</div>

<div class="lh-12 bg-fb1 p-2 rounded border">
    @{
        MenuTemplate(0, "Customers", $"/{CompanyId}/Customers/Customers", Organization.Customers.Count());
        MenuTemplate(0, "Projects", $"/{CompanyId}/Customers/Projects");
        MenuTemplate(0, "Estimates", $"/{CompanyId}/Customers/Estimates");
        MenuTemplate(1, "Orders", $"/{CompanyId}/Customers/Orders");
        MenuTemplate(0, "Sales", $"/{CompanyId}/Customers/Sales");
        MenuTemplate(0, "Payments", $"/{CompanyId}/Customers/Payments");
    }
</div>
