@using ERPKeeperCore.Enterprise.Models.Customers.Enums


<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Customers", Url = "/Customers" })
</div>
<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Customers", Url = "/Customers/Customers", Count = Organization.Customers.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Quote", Url = $"/Customers/SaleQuotes?status={SaleQuoteStatus.Open}", Count = Organization.ErpCOREDBContext.SaleQuotes.Where(s => s.Status == SaleQuoteStatus.Open).Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Sales", Url = "/Customers/Sales?status={SaleQuoteStatus.Open}", Count = Organization.ErpCOREDBContext.Sales.Where(s => s.Status == SaleStatus.Open).Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Payments", Url = "/Customers/ReceivePayments", Count = Organization.ErpCOREDBContext.ReceivePayments.Count() })
</div>