
<div id="treeList" class="">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Investors.Investor>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Investors/Investors/All"))
            .KeyExpr("Id")
            .RowAlternationEnabled(true).AllowColumnReordering(true)
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))

            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .ColumnAutoWidth(false)
            .Columns(columns =>
            {

                columns.AddFor(m => m.ProfileId).Width(150)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.TaxNumber }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>TAX</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Investors/Investors/<%= data.Id %>/"><%= displayValue %></a></text>);

                columns.AddFor(m => m.ProfileId).Width(80)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.ShotName }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>SN</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Investors/Investors/<%= data.Id %>/"><%= displayValue %></a></text>);


                columns.AddFor(m => m.ProfileId).Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.Name }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>Investor</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Investors/Investors/<%= data.Id %>/"><%= displayValue %></a></text>);


            })
        )
</div>


