
<style>
    .dx-treelist .dx-flex > td {
        padding: 2px !important;
    }
</style>


<div id="treeList" class="">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Items.Brand>()
        .ID("gridList")
        .DataSource(d => d.RemoteController().Key("Id")
        .LoadUrl($"/api/{CompanyId}/Products/Brands/All")
        .InsertUrl($"/api/{CompanyId}/Products/Brands/Insert")
        .UpdateUrl($"/api/{CompanyId}/Products/Brands/Update")
        .UpdateMethod("Post")
        )
        .KeyExpr("Id")


        .ShowRowLines(true)
        .ShowBorders(false)
        .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(true)@*
    .AllowDeleting(true)*@
        .AllowAdding(true)
        )
        .Paging(pagging => pagging.PageSize(100))
        .AllowColumnResizing(true).AllowColumnReordering(true)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))

        .ColumnAutoWidth(false)
        @*.AutoExpandAll(true)*@
        .RowDragging(rd => rd
        .AllowDropInsideItem(false)
        .AllowReordering(false)
        @*.OnDragChange("onDragChange")
    .OnDragEnd("onDragEnd")
    .ShowDragIcons(false)*@
        )


        .Columns(columns =>
        {
            columns.AddFor(m => m.Name).Width(150).CellTemplate(@<text><a href="/@CompanyId/Products/Brands/<%= data.Id %>"><%= data.Name %></a></text>);
            columns.AddFor(m => m.WebSite).Width(150).CellTemplate(@<text><a href="/@CompanyId/Products/Brands/<%= data.Id %>"><%= data.WebSite %></a></text>);
            columns.AddFor(m => m.Description).MinWidth(250);
            columns.AddFor(m => m.ItemsCount);
        })
        )
</div>


