



<div class="flex flex-wrap">
    <div class="col p-2 font-semibold">
        <a href="/Products">Products</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/Products/Brands">Brands</a>
    </div>
    <div class="col p-0 text-right">

        <div class="dropdown dropleft ">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border roundedmin-w-64 min-h-40" aria-labelledby="dropdownMenuLink">
                <div>
                    <a href="/Products/Brands/UpdateAmount">Update Amount</a>
                </div>
            </div>
        </div>

    </div>
</div>


