@using ERPKeeperCore.Enterprise.Models.Items.Enums



<div class="row">
    <div class="col p-2 font-weight-600">
        <a href="/@CompanyId/Products">Products</a>
        / <a href="/@CompanyId/Products/Brands">Brands</a>
    </div>
    <div class="col p-0 text-right">

        <div class="btn-group">
            <a class="btn btn-outline-light border btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">

            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Products/Brands/UpdateAmount">Update Amount</a>
                </li>
            </ul>
        </div>


    </div>
</div>


