@model ERPKeeperCore.Enterprise.Models.Financial.FundTransfer

<div class="row mb-2 font-weight-600">
    <div class="p-2">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/FundTransfers">FundTransfers</a>
        /
        <a href="/@CompanyId/Financial/FundTransfers/@Model.Id">@Model.Name</a>
    </div>
</div>

      