@model ERPKeeperCore.Enterprise.Models.Financial.FundTransfer

<div class="row">
    <div class="col p-0 col-center">
        <div class="border bg-fb2 px-2 py-1">
            <span>Deposit Account</span>
        </div>
        <div class="border p-2 mb-2">
            <partial name="Items_Grid" />
        </div>
    </div>
    <div class="col-4 p-0 col-right">
        <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />

    </div>
</div>

