@model ERPKeeperCore.Enterprise.Models.Taxes.IncomeTax

<div class="flex bg-gray-100 p-2 mb-2 rounded">
    <div class="w-9/12 p-0 font-semibold">
        <a href="/Taxes">Taxes</a>
        /
        <a href="/Taxes/IncomeTaxs"> IncomeTaxs</a>
        /
        <a href="/Taxes/IncomeTaxes/@Model.Id"> @Model.Name</a>
    </div>
    <div class="w-4/12 p-0 text-right">
        @if (Model.IsPosted)
        {
            <a href="/Taxes/IncomeTaxes/@Model.Id/UnPost"> UnPost</a>
        }
    </div>
</div>
