@model ERPKeeperCore.Enterprise.Models.Taxes.IncomeTax    

<div class="flex">
    <div class="col-center-div grow">
        <partial name="_EditForm" />
    </div>
    <div class="col-right-div w-3/12">
        <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />

    </div>
</div>

