@model ERPKeeperCore.Enterprise.Models.Accounting.Account


<div class="grid grid-cols-2 bg-gray-100 p-2">


    <div class="border p-3">
        Debit<br />

        @Model.CurrentDebit
    </div>
    <div class="border p-3">
        Credit<br />
        @Model.CurrentCredit
    </div>
    <div class="border p-3 col-span-2">
        Balance
        <a href="/Accounting/Accounts/@Model.Id/Refresh">
            <i class="fa-solid fa-arrows-rotate text-xl"></i> Refresh
        </a><br />
        @Model.CurrentBalance

    </div>
</div>
