@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.AccountBalance>()
        .ID("LedgerList")
        .KeyExpr("Id")
        .DataSource(d => d.RemoteController().LoadUrl($"/api/{CompanyId}/Accounting/Accounts/{Model.Id}/AccountBalances/All"))
        .AllowColumnReordering(true)
        .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
        .ShowColumnLines(true)
        .ShowBorders(false)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .ColumnAutoWidth(false)
        .Paging(pagging => pagging.PageSize(100))
        .GroupPanel(gp => gp.Visible(true))
        .Columns(columns =>
        {
            columns.AddFor(m => m.Date);
            columns.AddFor(m => m.Debit).Width(130).Format("#,##0.00");
            columns.AddFor(m => m.Credit).Width(130).Format("#,##0.00");

            columns.AddFor(m => m.TotalDebit)
            .Width(130)
            .CellTemplate(new JS("cellElementTotalDebit"))
            .Format("#,##0.00"); // Apply the JavaScript function for TotalDebit

            columns.AddFor(m => m.TotalCredit)
            .Width(130)
            .CellTemplate(new JS("cellElementTotalCredit"))
            .Format("#,##0.00"); // Apply the JavaScript function for TotalCredit

            
        })
        .Summary(s => s.TotalItems(items =>
        {
            items.AddFor(m => m.Debit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.Credit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
        })
        .GroupItems(groupItems =>
        {
            groupItems.AddFor(m => m.Debit).SummaryType(SummaryType.Sum).DisplayFormat("Sum: {0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            groupItems.AddFor(m => m.Credit).SummaryType(SummaryType.Sum).DisplayFormat("Sum: {0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
        })
        )
        )

</div>



<script>
    function cellElementTotalDebit(element, info) {
        var cell = element.append(info.text);

        console.log("Value-" + info.data.TotalDebit);

        if (info.data.TotalDebit == "0")
            cell.css("background", "lightgray");
    }
    function cellElementTotalCredit(element, info) {
        var cell = element.append(info.text);

        console.log("Value-" + info.data.TotalCredit);

        if (info.data.TotalCredit == "0")
            cell.css("background", "lightgray");
    }


</script>