@model ERPKeeperCore.Enterprise.Models.Accounting.Account
@using ERPKeeperCore.Enterprise.Models.Accounting
@using Microsoft.EntityFrameworkCore;


@{
    var account = Organization
    .ErpCOREDBContext
    .Accounts
    .AsNoTracking()
    .FirstOrDefault(a => a.Id == Model.Id);


}



<div class="mb-3 p-1 border bg-fb1">
    <form id="EditForm" method="post" action="/@CompanyId/Accounting/Accounts/@account.Id/Update">
        <div class="row">
            <div class="col-6 p-1 mb-2">
                <div class="p-1">
             
                    @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Accounting.Account>()
                        .ID("form_0")
                        .FormData(account)
                        .LabelMode(FormLabelMode.Static)
                        .LabelLocation(FormLabelLocation.Left)
                        .MinColWidth(300)
                        .ReadOnly(false)
                        .ShowColonAfterLabel(true)
                        .ColCount(1)
                        .Items(items =>
                        {
                            items.AddSimpleFor(m => m.Name);
                            items.AddSimpleFor(m => m.No);


                            items.AddSimpleFor(m => m.Type).Editor(e => e.SelectBox()
                            .SearchEnabled(true)
                            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
                            .DisplayExpr("Text").ValueExpr("Value"));

                            items.AddSimpleFor(m => m.SubType).Editor(e => e.SelectBox()
                            .SearchEnabled(true)
                            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountSubTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
                            .DisplayExpr("Text").ValueExpr("Value"));

                            items.AddSimpleFor(m => m.IsLiquidity);
                            items.AddSimpleFor(m => m.IsCashEquivalent);

                        })
                        )


                </div>

            </div>
            <div class="col-6 p-1 mb-2">
                <div class="p-1">

                    @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Accounting.Account>()
                        .ID("form_1")
                        .FormData(account)
                        .LabelMode(FormLabelMode.Static)
                        .LabelLocation(FormLabelLocation.Left)
                        .MinColWidth(300)
                        .ReadOnly(false)
                        .ShowColonAfterLabel(true)
                        .ColCount(1)
                        .Items(items =>
                        {
                            items.AddSimpleFor(m => m.Description).Editor(e => e.TextArea().MinHeight(200));
                        })
                        )
                </div>
            </div>
            <div class="col-12 text-right">
                <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>