@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.TransactionLedger>()
            .ID("LedgerList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().LoadUrl($"/api/{CompanyId}/Accounting/Accounts/{Model.Id}/Ledgers/All"))
            .AllowColumnReordering(true)
            .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
            .ShowColumnLines(true)
            .ShowBorders(false)
            .HeaderFilter(headerFilter => headerFilter.Visible(true))
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .ColumnAutoWidth(false)
            .Paging(pagging => pagging.PageSize(100))
            .Columns(columns =>
            {
                 columns.AddFor(m => m.Debit).Width(130).Format(Format.FixedPoint);
                columns.AddFor(m => m.Credit).Width(130).Format(Format.FixedPoint);
            })
        .Summary(s => s.TotalItems(items =>
        {
            items.AddFor(m => m.Transaction.Date);
            items.AddFor(m => m.Transaction.Type);
            items.AddFor(m => m.Transaction.Reference);
            items.AddFor(m => m.Debit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat(Format.FixedPoint);
            items.AddFor(m => m.Credit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat(Format.FixedPoint);
        })
        )
        )
</div>










