@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.TransactionLedger>()
            .ID("LedgerList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().LoadUrl($"/api/Accounting/Accounts/{Model.Id}/Ledgers/All"))
            .AllowColumnReordering(true)
            .RowAlternationEnabled(true).AllowColumnReordering(true).ShowRowLines(true).HoverStateEnabled(true)
            .ShowColumnLines(true)
            .ShowBorders(false)
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .ColumnAutoWidth(false)
            .Paging(pagging => pagging.PageSize(100))
            .GroupPanel(gp => gp.Visible(true))
            .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("Accounting_Account_Ledgers" ))

            .Columns(columns =>
            {
            columns.AddFor(m => m.Transaction.Date);


            columns.AddFor(m => m.Transaction.Type)
            .HeaderCellTemplate("SubType").SortOrder(SortOrder.Asc).SortIndex(2).Width(150).Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.TransactionType>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Transaction.FiscalYearId)
            .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.FiscalYears.ToList().Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .Width(150)
            .HeaderCellTemplate(@<text>Fiscal</text>)
            .CellTemplate(@<text><a href="/Accounting/FiscalYears/<%= data.Transaction.FiscalYearId %>/">FY:<%= displayValue %></a></text>);



                columns.AddFor(m => m.Transaction.Name)
            .CellTemplate(@<text><a href="/Accounting/Transactions/<%= data.TransactionId %>/">TR: <%= displayValue %></a></text>);

                columns.AddFor(m => m.Transaction.Reference)
            .CellTemplate(@<text><a href="/Accounting/Transactions/<%= data.TransactionId %>/">R:<%= displayValue %></a></text>);

                columns.AddFor(m => m.Debit).Width(130).Format("#,##0.00");
                columns.AddFor(m => m.Credit).Width(130).Format("#,##0.00");
            })
            
        .Summary(s => s.TotalItems(items =>
        {
            items.AddFor(m => m.Debit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.Credit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
        })
        .GroupItems(groupItems =>
        {
            groupItems.AddFor(m => m.Debit).SummaryType(SummaryType.Sum).DisplayFormat("Sum: {0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            groupItems.AddFor(m => m.Credit).SummaryType(SummaryType.Sum).DisplayFormat("Sum: {0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
        })
        )
        )
</div>
