@model ERPKeeperCore.Enterprise.Models.Accounting.Account

@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="flex e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@CompanyId/Accounting/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="w-2/12 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}
<div class="bg-fb1 p-2 text-xl border">
    <div class="font-weight-600">
        <a href="/@CompanyId/Accounting">Accounting</a>
    </div>
</div>
<div class="bg-fb1 p-2 text-xl font-semibold border">
    <a href="/@CompanyId/Accounting/Accounts/">
        Accounts
    </a> :
    <a href="/@CompanyId/Accounting/Accounts/@Model.Id">
        Account @Model.No
    </a>
</div>
<div class="bg-fb1 p-2 text-xl border">

    <div>
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id">
            Home
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Ledgers">
            Ledgers
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Balances">
            Balances
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Balances">
            Charts
        </a>
    </div>
</div>

