@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="bg-fb1 p-2 text-xl border">
    <div class="font-weight-600">
        <a href="/@CompanyId/Accounting">Accounting</a>
    </div>
</div>
<div class="bg-fb1 p-2 text-xl font-semibold border">
    <a href="/@CompanyId/Accounting/Accounts/">
        Accounts
    </a> :
    <a href="/@CompanyId/Accounting/Accounts/@Model.Id">
        Account @Model.No
    </a>
</div>
<div class="bg-fb1 p-2 text-xl border">

    <div>
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id">
            Home
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Ledgers">
            Ledgers
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Balances">
            Balances
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Balances">
            Charts
        </a>
    </div>
</div>

