@model ERPKeeperCore.Enterprise.Models.Accounting.Account

@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="row e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@CompanyId/Accounting/@controller" class="">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="col-2 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}
<div class="bg-fb1 p-2 text-fs-18 border">
    <div class="font-weight-600">
        <a href="/@CompanyId/Accounting">Accounting</a>
    </div>
</div>
<div class="bg-fb1 p-2 text-fs-18 border">
    @{
        Template("Accounts", "Accounts");
    }

</div>
<div class="bg-fb1 p-2 text-fs-18 border">

    <div class="">
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id" class="">
            Account @Model.No
        </a>
    </div>
    <div class="">
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Ledgers" class="">
            Ledgers
        </a>
    </div>
    <div class="">
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Balances" class="">
            Balances
        </a>
    </div>
    <div class="">
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id/Balances" class="">
            Charts
        </a>
    </div>
</div>

