@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="row bg-gray-100  p-1 ">
    <div class="col p-0 font-weight-600">
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/Accounts">Accounts</a>

        /
        <a href="/@CompanyId/Accounting/Accounts/@Model.Id">@Model.Code @Model.Name</a>
    </div>
    <div class="w-3/12 p-0 text-right">
        <div class="btn-group">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/@Model.Id/UpdateCurrentBalance">Current Balance</a>
                </li>
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/@Model.Id/UpdateHistoryBalance">History Balance</a>
                </li>
            </ul>
        </div>
    </div>
</div>

