@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="flex">
    <div class="col-center-div gflex mh-100v border-right border-2">
        <partial name="_Balances_Grid" />


    </div>
    <div class="col-right w-3/12 border-right border-2">
        <div class="flex bg-gray-100 p-2">
            <div class="col-6">Debit</div>
            <div class="col-6">Credit</div>
            <div class="col-6">@Model.CurrentDebit</div>
            <div class="col-6">@Model.CurrentCredit</div>


            <div class="col-12">
                <a href="/tec/Accounting/Accounts/@Model.Id/Refresh">Refresh</a>
            </div>
        </div>
    </div>
</div>
