@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="flex">
    <div class="col-center-div grow mh-100v border-right border-2">
        <partial name="_Detail" />
    </div>
    <div class="col-right-div w-3/12 border-right border-2">
        <div class="flex flex-wrap bg-gray-100 p-2">
            <div class="w-6/12">Debit</div>
            <div class="w-6/12">@Model.CurrentDebit</div>

            <div class="w-6/12">Credit</div>
            <div class="w-6/12">@Model.CurrentCredit</div>

            <div class="w-full">
                <a href="/tec/Accounting/Accounts/@Model.Id/Refresh">Refresh</a>
            </div>
        </div>
    </div>
</div>

