@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="row">
    <div class="col-8 p-0 col-center mh-100v border-right border-2">
        @*         <partial name="_Detail" /> *@
    </div>
    <div class="col-4 p-0 col-right border-right border-2">
        <div class="row bg-fb1 p-2">
            <div class="col-6">Debit</div>
            <div class="col-6">Credit</div>
            <div class="col-6">@Model.CurrentDebit</div>
            <div class="col-6">@Model.CurrentCredit</div>


            <div class="col-12">
                <a href="/tec/Accounting/Accounts/@Model.Id/Refresh">Refresh</a>
            </div>
        </div>
    </div>
</div>

