@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="row">
    <div class="col-9 p-0 col-center mh-100v border-right border-2">
        
        <partial name="_Ledgers_Grid" />
    </div>
</div>

