
<div id="treeList" class="mt-2 mb-3 border">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Taxes.TaxPeriod>()
        .ID("gridList")
        .DataSource(d => d.RemoteController().Key("Id")
        .LoadUrl($"/API/{CompanyId}/Taxes/TaxPeriods/All")
        .InsertUrl($"/API/{CompanyId}/Taxes/TaxPeriods/Insert")
        .UpdateUrl($"/API/{CompanyId}/Taxes/TaxPeriods/Update")
        .UpdateMethod("Post")
        )
        .KeyExpr("Id")
        .Width("100%")
        .RowAlternationEnabled(true).AllowColumnReordering(true)


        .ShowRowLines(true)
        .ShowBorders(false)
        .Paging(pagging => pagging.PageSize(100))
        .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))


        .AllowColumnResizing(true).AllowColumnReordering(true)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
        .ColumnChooser(m => m.Enabled(true))
        .GroupPanel(g => g.Visible(true))
        .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("TaxPeriods" + CompanyId.ToString())) 

        .ColumnAutoWidth(false)
        @*.AutoExpandAll(true)*@
        .RowDragging(rd => rd
        .AllowDropInsideItem(false)
        .AllowReordering(false)
        @*.OnDragChange("onDragChange")
    .OnDragEnd("onDragEnd")
    .ShowDragIcons(false)*@
        )
        .Columns(columns =>
        {
            @* columns.AddFor(m => m.Status).AllowEditing(false).Width(60).SortOrder(SortOrder.Asc).SortIndex(2).Lookup(lookup => lookup
    .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Taxes.Enums.Taxestatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }).ToList())
    .DisplayExpr("Text")
    .ValueExpr("Value")
    );*@




            columns.AddFor(m => m.Name)
    .CellTemplate(@<text> <a href="/@CompanyId/Taxes/TaxPeriods/<%= data.Id %>/"><%= data.Name %></a></text>
    );

            columns.AddFor(m => m.StartDate).SortOrder(SortOrder.Desc).SortIndex(1);




            columns.AddFor(m => m.Status).AllowEditing(false)
        .HeaderCellTemplate("Type")
        .Width(120).SortOrder(SortOrder.Asc).SortIndex(1).Lookup(lookup => lookup
        .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Taxes.TaxPeriodStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }).ToList())
        .DisplayExpr("Text")
        .ValueExpr("Value")
        );

        

            columns.Add()
        .Caption("Purchases")
        .Columns(subColumns =>
        {
                subColumns.AddFor(m => m.PurchasesCount)
            .HeaderCellTemplate(@<text>Count</text>)
            .Width(60)
        .CellTemplate(@<text> <a href="/@CompanyId/Taxes/TaxPeriods/<%= data.Id %>/Purchases"><%= data.PurchasesCount %></a></text>)
            .Format("#,##0.00");

                subColumns.AddFor(m => m.PurchasesTaxBalance)
            .HeaderCellTemplate(@<text>PurchasesTax</text>)
            .Format("#,##0.00");

                columns.AddFor(m => m.PurchaseTaxAccountId)
            .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .Width(180).HeaderCellTemplate(@<text>CloseTo</text>);



            });

            columns.Add()
        .Caption("Sales")
        .Columns(subColumns =>
        {


                subColumns.AddFor(m => m.SalesCount)
            .Width(60)
            .HeaderCellTemplate(@<text>Sales</text>)
        .CellTemplate(@<text> <a href="/@CompanyId/Taxes/TaxPeriods/<%= data.Id %>/Sales"><%= data.SalesCount %></a></text>)
            .Format("#,##0.00");

                subColumns.AddFor(m => m.SalesTaxBalance)
            .HeaderCellTemplate(@<text>SalesTax</text>)
            .Format("#,##0.00");

                columns.AddFor(m => m.SaleTaxAccountId)
            .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .Width(180).HeaderCellTemplate(@<text>CloseTo</text>);


            });


            columns.AddFor(m => m.ClosingAmount)
        .HeaderCellTemplate(@<text>ClosingAmount</text>)
        .Format("#,##0.00");



            columns.AddFor(m => m.CloseToAccountId)
        .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
        .Width(180).HeaderCellTemplate(@<text>CloseTo</text>);




            columns.AddFor(m => m.IsPosted)
        .AllowEditing(false)
        .Width(30)
        .HeaderCellTemplate(@<text> </text>)
    .CellTemplate(@<text><i class="fas fa-fingerprint text-<%= data.IsPosted %>"></i></text>);




        })
        )
</div>


