<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2 text-uppercase">
        
        /
        <a href="/Taxes">Taxes</a>
        /
        <a href="/Taxes/TaxPeriods"> Periods</a>
    </div>
    <div class="p-2">
        <a href="/Taxes/TaxPeriods/Refresh">
            <i class="fa-solid fa-arrows-rotate"></i>
        </a>
    </div>
</div>