

@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div class="">
            <div class="row e-r">
                <div class="col-10 p-l@(level-1)">
                    <a href="@url">
                        @if (level > 0)
                        {
                            <i class="fa-solid fa-l"></i>
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="col-2 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}


<div class="lh-12 bg-fb1 p-2 rounded border font-weight-600">
    @{
        MenuTemplate(0, "Profiles", $"/{CompanyId}/Profiles");
        MenuTemplate(1, "Customers", $"/{CompanyId}/Profiles/Customers");
        MenuTemplate(1, "Suppliers", $"/{CompanyId}/Profiles/Suppliers");
        MenuTemplate(1, "Employees", $"/{CompanyId}/Profiles/Employees");
        MenuTemplate(1, "Investors", $"/{CompanyId}/Profiles/Investors");
    }
</div>

<div class="lh-12 bg-fb1 p-2 rounded border">
    @{

        MenuTemplate(0, "Suppliers", $"/{CompanyId}/Profiles/Suppliers/Suppliers", Organization.Customers.Count());
        MenuTemplate(0, "Quotes", $"/{CompanyId}/Profiles/Suppliers/Quotes");
        MenuTemplate(0, "Purchases", $"/{CompanyId}/Profiles/Suppliers/Purchases");
        MenuTemplate(1, "Payments", $"/{CompanyId}/Profiles/Suppliers/Payments");
    }
</div>

