@model ERPKeeperCore.Enterprise.Models.Security.LogInModel


<div id="AdvanbrandLoginForm" class="p-2">
    <form id="LoginForm" method="post" asp-area="Authen" asp-controller="SignIn" asp-action="Authen">
        <div class="row mb-2">
            <div class="col p-0 text-center">
                <div class="row p-0 mb-3 font-weight-bold">
                    AVD Login
                </div>
                @Html.DevExtreme().TextBoxFor(m => m.Email)
            </div>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="row mt-2">
            <div class="col p-0 mb-2">
                @Html.DevExtreme().TextBoxFor(m => m.Password).Mode(TextBoxMode.Password)
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="row p-0 text-danger text-center">
            @Model.ErrorMessage
        </div>
        <div class="p-0 text-right">
            <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="SubmitLogin()">
                SignIn
            </button>
        </div>
    </form>
</div>





<script>
    function SubmitLogin() {
        document.getElementById("LoginForm").submit();
    }
</script>