@{
    Layout = "_Layout_Empty";
}

@model ERPKeeperCore.Enterprise.Models.Security.LogInModel


<div class="bg-gray-100">
    <div class="justify-center content-center pt-4">
        <partial name="_SignInBox_Local" />
    </div>
</div>