@{
    Layout = "_Layout_Empty";
}

@model ERPKeeperCore.Enterprise.Models.Security.LogInModel


<div class="bg-gray-100">
    <div class="flex justify-center content-center">
        <partial name="_SignInBox_Local">
    </div>
</div>