@model ERPKeeperCore.Enterprise.Models.Security.LogInModel

<div class="row">
    <div class="col-8 p-0">

    </div>
    <div class="col-4 p-0 border">
        <partial name="_SignInBox_Local" />
    </div>
</div>
