@{
    Layout = "_Layout_Empty";
}

@model ERPKeeperCore.Enterprise.Models.Security.LogInModel

<div class="bg-gray-300 min-h-screen flex items-center justify-center">
    <partial name="_SignInBox_Local" />
</div>