@model ERPKeeper.Node.Models.Security.LogInModel

<div class="row">
    <div class="col-8 pl-0">

    </div>
    <div class="col-4 px-0">
        <partial name="_SignInBox_Local" />
    </div>
</div>
