@model ERPKeeperCore.Enterprise.Models.Security.LogInModel

<div class="flex">
    <div class="col-8 p-0">
        <div class="h-screen border">

        </div>
    </div>
    <div class="w-4/12 p-0 border">
        <partial name="_SignInBox_Local" />
    </div>
</div>
