@inject LocalizeService SharedLocalizer


<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Customers", Url = "/Customers", Count = Organization.Customers.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Suppliers", Url = "/Suppliers", Count = Organization.Suppliers.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Employees", Url = "/HR/Employees", Count = Organization.Employees.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Investors", Url = "/Investors", Count = Organization.Investors.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Profiles", Url = "/Profiles", Count = Organization.Profiles.Count() })
</div>

<div class="h-4">
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Products", Url = "/Products", Count = Organization.Items.Count() })
</div>

<div class="h-4">
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Accounting", Url = "/Accounting" })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Financial", Url = "/Financial" })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Assets", Url = "/Assets", Count = Organization.Assets.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Taxes", Url = "/Taxes" })
</div>
