

    <div class="flex flex-wrap">
        <div class="w-full col-center p-0">
        Benefits & Welfare

        Purpose: Employee satisfaction

        Data to show

        Health insurance details

        Social security info

        Provident fund

        Company benefits

        Claim history (medical, travel, etc.)
        </div>
        <div class="col-300px col-right">
   
        </div>
    </div>

