@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div class="">
            <div class="row e-r">
                <div class="col-10 p-l@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {
                            <i class="fa-solid fa-l"></i>
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="col-2 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}


<div class="lh-12 bg-fb1 p-2 rounded border font-weight-600">
   @{ MenuTemplate(0, "Profiles", $"/{CompanyId}/Profiles"); }
</div>

<div class="lh-12 bg-fb1 p-2 rounded border">
    @{
        MenuTemplate(0, "Customers", $"/{CompanyId}/Customers");
        MenuTemplate(0, "Suppliers", $"/{CompanyId}/Suppliers");
        MenuTemplate(0, "Employees", $"/{CompanyId}/Employees");
        MenuTemplate(0, "Investors", $"/{CompanyId}/Investors");
    }
</div>
