<div id="MenuTop">
    <div class="flex w-full font-semibold text-lg justify-between p-0" id="navigation">
        <div class="p-2 flex items-center">
            <a href="/Employee/Home" class="text-decoration-none hover:text-primary">
                Employee
            </a>
            <i class="fa-solid fa-chevron-right text-danger text-sm mx-2"></i>
            <span class="text-dark">
                Work Records
            </span>
        </div>
        <div class="p-2 text-right flex items-center gap-3">
            <a href="/Employee/WorkRecords" class="text-decoration-none hover:text-primary" title="Refresh">
                <i class="fas fa-sync-alt"></i> Refresh
            </a>
        </div>
    </div>
</div>
