@using ERPKeeperCore.Enterprise.Models.Suppliers.Enums

@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div>
            <div class="flex  justify-between e-r">
                <div class="w-10/12 pl-@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {

                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="w-2/12 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}

<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/@CompanyId/Suppliers">Suppliers</a>
</div>

<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        MenuTemplate(0, "Suppliers", $"/{CompanyId}/Suppliers/Suppliers", Organization.Suppliers.Count());
    
    }
</div>


<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        MenuTemplate(0, "Quotes", $"/{CompanyId}/Suppliers/PurchaseQuotes/{ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseQuoteStatus.Open}", Organization.ErpCOREDBContext.PurchaseQuotes.Where(s => s.Status == PurchaseQuoteStatus.Open).Count());
        MenuTemplate(3, "Order", $"/{CompanyId}/Suppliers/PurchaseQuotes/{ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseQuoteStatus.Order}", Organization.ErpCOREDBContext.PurchaseQuotes.Where(s => s.Status == PurchaseQuoteStatus.Order).Count());
        MenuTemplate(3, "Close", $"/{CompanyId}/Suppliers/PurchaseQuotes/{ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseQuoteStatus.Close}");

    }
</div>


<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{

        MenuTemplate(0, "Purchases", $"/{CompanyId}/Suppliers/Purchases", Organization.ErpCOREDBContext.Purchases.Where(s => s.Status == PurchaseStatus.Open).Count());
        MenuTemplate(3, "Payments", $"/{CompanyId}/Suppliers/SupplierPayments");
    }
</div>