@using ERPKeeperCore.Enterprise.Models.Items.Enums



<div class="flex p-2 mb-2">
    <div class="col p-0 font-semibold">
        
        /
        <a href="/@CompanyId/Suppliers"> Suppliers</a>
    </div>

    <div class="w-3/12 text-right p-0">

        <div class="dropdown dropleft ">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border roundedmin-w-64 min-h-40" aria-labelledby="dropdownMenuLink">
                <div>
                    <a href="/@CompanyId/Suppliers/Suppliers/Refresh">Refresh</a>
                </div>
            </div>
        </div>


    
    </div>

</div>
