<div id="MenuTop">
    <div class="flex p-0" id="navigation">
        <div class="flex p-2 font-semibold">
            <a href="/Setting">Settings</a>
            <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
            <span>Change Password</span>
        </div>
    </div>
</div>