




<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2">
        <a href="/@CompanyId/Employees"> Employees</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Employees/EmployeePayments"> Payments</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Employees/EmployeePaymentTypes"> Types</a>
    </div>
    <div class="col-4 p-2">
        <a href="/@CompanyId/Employees/EmployeePaymentTypes/Refresh">
            <i class="fa-solid fa-arrows-rotate"></i>
        </a>
    </div>
</div>

