@model ERPKeeperCore.Enterprise.Models.Items.ItemGroup



<div class="row font-weight-600  text-uppercase">
    <div class="col-12 p-2">
        / <a href="/@CompanyId/Products"> Products</a>
        / <a href="/@CompanyId/Products/Groups"> Groups</a>
        / <a href="/@CompanyId/Products/Groups/@Model.Id"> @Model.Name</a>
    </div>
</div>

