@model ERPKeeperCore.Enterprise.Models.Items.ItemGroup



<div class="flex w-full font-semibold text-lg justify-between">
    <div class="w-full p-2">
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/Products"> Products</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/Products/Groups"> Groups</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/Products/Groups/@Model.Id"> @Model.Name</a>
    </div>
</div>

