@model ERPKeeperCore.Enterprise.Models.Items.ItemGroup

<div class="flex flex-wrap">
   
    <div class="w-full pl-0 col-left">
        <partial name="_Tile" />

        <partial name="_Detail" />
        <partial name="_GroupItemsList" />
    </div>
</div>

