@model ERPKeeperCore.Enterprise.Models.Items.ItemGroup

<div class="row">
   
    <div class="col-12 pl-0 col-left">
        <partial name="_MenuTop" />
        <partial name="_Detail" />
        <partial name="_GroupItemsList" />
    </div>
</div>

