<div class="flex mb-2 border p-2 rounded" style="height:376px">
    <div class="col-12 p-0 ">
        <div>
            <a href="/">
             

                <div>
                    <span class="text-tile-header  font-weight-600">
                        @User.Identity.Name
                    </span>
                </div>
                <div>Maker</div>
            </a>
        </div>
    </div>

   
</div>