
@model ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseQuoteStatus


<div id="treeListDemo" class="mb-3 border">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
                .LoadUrl($"/API/{CompanyId}/Suppliers/PurchaseQuotes/List/{Model.ToString()}")
                .InsertUrl($"/API/{CompanyId}/Suppliers/PurchaseQuotes/Insert")
                .UpdateUrl($"/API/{CompanyId}/Suppliers/PurchaseQuotes/Update")
                .UpdateMethod("Post")
                .InsertMethod("Post"))

            .Editing(editing => editing.Mode(GridEditMode.Batch).AllowAdding(true).AllowUpdating(true).UseIcons(true))
            .RowAlternationEnabled(true).AllowColumnReordering(true)

            .KeyExpr("Id")
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
            .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("Purchase_Quotes_" + CompanyId.ToString()))

            .ColumnAutoWidth(false)
            .ColumnChooser(columnChooser => columnChooser.Enabled(true))
            .Columns(columns =>
            {
                columns.AddFor(m => m.AgeInDays).Width(60).AllowEditing(false).ShowInColumnChooser(true)
            .CellTemplate(@<text><span class="text-<%= data.AgeColor %>-400"><%= data.AgeInDays %></span></text>);

                columns.AddFor(m => m.Date)
            .SortOrder(SortOrder.Desc)
            .SortIndex(1)
            .Width(130);

                columns.AddFor(m => m.Status).AllowEditing(false)
            .Width(80)
            .Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseQuoteStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Name)
                .AllowEditing(false)
                .Visible(false)
                    .ShowInColumnChooser(true)
            .Width(150)
            .CellTemplate(@<text><a href="/@CompanyId/Suppliers/PurchaseQuotes/<%= data.Id %>/"><%= data.Name %>.</a></text>);


                columns.AddFor(m => m.SupplierId)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Suppliers.Select(i => new { Value = i.Id, Text = i.Profile.Name }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .CellTemplate(@<text><a href="/@CompanyId/Suppliers/Suppliers/<%= data.SupplierId %>/"><%= displayValue %></a></text>);


                    columns.AddFor(m => m.Reference)
                    .Width(180)
                    .CellTemplate(@<text><a href="/@CompanyId/Suppliers/PurchaseQuotes/<%= data.Id %>/"><%= data.Reference %></a></text>); ;


                    columns.AddFor(m => m.Tax)
                .AllowEditing(false).Width(130).Format("#,##0.00");

                columns.AddFor(m => m.Total).AllowEditing(false).Width(130)
                .AllowEditing(false).Format("#,##0.00");

                columns.AddFor(m => m.TaxCodeId)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.TaxCodes.Select(i => new { Value = i.Id, Text = i.Name }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .Width(150)
            .HeaderCellTemplate(@<text>TaxCode</text>)
            .CellTemplate(@<text><a href="/@CompanyId/Taxes/TaxCodes/<%= data.TaxCodeId %>/"><%= displayValue %></a></text>);



                columns.AddFor(m => m.ProjectId)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Projects.Select(i => new { Value = i.Id, Text = i.Name }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .Width(150)
            .Visible(false)
            .ShowInColumnChooser(true)
            .HeaderCellTemplate(@<text>Project</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Projects/<%= data.ProjectId %>/"><%= displayValue %></a></text>);






            })
        .Summary(s =>
        s.TotalItems(items =>
        {
            items.AddFor(m => m.LinesTotal).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.Total).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
        }))
        .OnInitNewRow("onInitNewRow")
        )
</div>

<script>
    function onInitNewRow(e) {
        const today = new Date();
        e.data.Date = today;
        e.data.Status = 0;
    }
</script>