



<div class="flex w-full font-semibold text-lg text-uppercase justify-between">
    <div class="p-2">
       <a href="/@CompanyId/Suppliers"> Suppliers</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Suppliers/PurchaseQuotes"> Quotes</a>
    </div>
</div>
