@using ERPKeeperCore.Enterprise.Models.Items.Enums


<div class="flex font-weight-600  text-uppercase">
    <div class="col-12 p-2">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Products"> Products</a>
    </div>
</div>
