
<div class="flex">
    <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">
   
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">

        </div>
    </div>
       <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">
        
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">
          
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">
   
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">
          
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">
          
        </div>
    </div>
</div>