
<div class="flex flex-wrap">
    <div class="col-4  p-1">
        <div class="bg-gray-200 mh-150 p-2">
   
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-gray-200 mh-150 p-2">

        </div>
    </div>
       <div class="col-4  p-1">
        <div class="bg-gray-200 mh-150 p-2">
        
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-gray-200 mh-150 p-2">
          
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-gray-200 mh-150 p-2">
   
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-gray-200 mh-150 p-2">
          
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-gray-200 mh-150 p-2">
          
        </div>
    </div>
</div>