@model ERPKeeper.Node.Models.Accounting.FiscalYear

<div class="globalContainer">
  <div class="row">
    <div class="col-2 col-Left pl-0">
      @Html.Action("_Main", "Default", new { Area = "Menu" })
    </div>
    <div class="col-10 col-Middle pr-0">
      @Html.Partial("_MenuTop")
      @Html.Action("PartialGridViewFIFOValue", new { id = Model.Uid })
    </div>
  </div>
</div>