@model ERPKeeperCore.Enterprise.Models.Assets.Asset

<div class="flex bg-gray-100 p-2 mb-2 rounded">
	<div class="w-9/12 p-0 font-semibold">
		<a href="/Assets">Assets</a>
		/
		<a href="/Assets/Assets">Assets</a>
		/
		<a href="/Assets/AssetTypes/@Model.AssetTypeId">@Model.AssetType.Name</a>
		/
		<a href="/Assets/Assets/@Model.Id">@Model.Name</a>

	</div>
	<div class="w-4/12 p-0 text-right">
		@if (Model.IsPosted)
		{

			<a href="/Assets/Assets/@Model.Id/UnPost">UnPost</a>
		}
		else
		{
			<a href="/Assets/Assets/@Model.Id/Post">Post</a>
		}


	</div>
</div>
