@model ERPKeeperCore.Enterprise.Models.Assets.Asset

<div class="row bg-fb1 p-2 mb-2 rounded">
    <div class="col-8 p-0 font-weight-600">
        <a href="/@CompanyId/Assets">Assets</a>
        /
        <a href="/@CompanyId/Assets/Assets">Assets</a>
        /
        <a href="/@CompanyId/Assets/AssetTypes/@Model.AssetTypeId">@Model.AssetType.Name</a>
        /
        <a href="/@CompanyId/Assets/Assets/@Model.Id">@Model.Name</a>

    </div>
    <div class="col-4 p-0 text-right">
    </div>
</div>
