@model ERPKeeperCore.Enterprise.Models.Assets.Asset

<div class="row">
    <div class="col-8 p-0 col-center mh-100v border-right border-2">
        <partial name="_EditForm" />

        @if (Model.AssetType.DeprecatedAble)
        {
            <partial name="_DeprecateSchedule_Grid" />
        }

    </div>
    <div class="col-4 p-0 col-right">
        <div class="border p-2">
            @Model.RemainAgeDay
        </div>
    </div>
</div>

