@model ERPKeeperCore.Enterprise.Models.Assets.Asset

<div class="flex">
    <div class="col-center grow mh-100v border-right border-2">
        <partial name="_EditForm" />

        @if (Model.AssetType.DeprecatedAble)
        {
            <partial name="_DeprecateSchedule_Grid" />
        }

    </div>
    <div class="col-right w3/12">
        <div class="border p-2 bg-fb2">
           RemainAgeDay @Model.RemainAgeDay
        </div

                <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />
    </div>
</div>

