

<div class="flex flex-wrap">
    <div class="w-8/12">
        <partial name="_Pie_Chart" />
    </div>
    <div class="col-4 pr-0 col-center">

        <div class="border">
            @foreach (var supplier in Organization.ErpCOREDBContext.Suppliers.OrderByDescending(c => c.TotalPurchases).Take(20).ToList())
            {
                <div class="flex border-bottom">
                    <div class="w-9/12 p-1 border-right">
                        <a href="/@CompanyId/Suppliers/Suppliers/@supplier.Id">
                            @supplier.Profile.Name
                        </a>
                    </div>
                    <div class="w-3/12 p-1 text-right">
                        @supplier.TotalPurchases.ToString("N0") <br />
                        (@supplier.TotalPurchasesCount)
                    </div>
                </div>
            }
        </div>
    </div>
</div>