
        <div class="row bg-fb2 p-1 mb-2 mh-50 rounded">
            <div class="col-9 p-1">
                <strong>Journal Entries</strong>
            </div>
            <div class="col-3 text-right my-2">
                <div class="">
                    <span id="ImageMenuAction" style="cursor:pointer"><i class="fab fa-chrome fa-lg text-muted"></i></span>
                </div>
                @Html.DevExpress().PopupMenu(settings =>
        {
            settings.Name = "PopupMenuAction";
            settings.PopupElementID = "ImageMenuAction";
            settings.ShowPopOutImages = DefaultBoolean.True;
            settings.PopupAction = PopupAction.LeftMouseClick;
            settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);

            settings.Items.Add("ReOrder").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "JournalEntries", Action = "ReOrder" });

            if (Model != null)
            {
                settings.Items.Add(subItem =>
                {
                    subItem.Text = "New Entry";
                    erpNodeDBContext.JournalEntryTypes.ToList().ForEach(type =>
                    {
                        subItem.Items.Add(type.Name).NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "JournalEntries", Action = "New", id = type.Uid });
                    });
                });
            }
        }).GetHtml()
            </div>
        </div>
