@using ERPKeeperCore.Enterprise.Models.Items.Enums


<div class="row mb-2 font-weight-600  text-uppercase">
    <div class="p-2">

        <a href="/@CompanyId/Profiles/Suppliers"> Suppliers</a>
        / <a href="/@CompanyId/Profiles/Suppliers/Purchases"> Purchases</a>
    </div>
</div>


