@model ERPKeeper.Node.Models.Financial.Payments.RetentionType

<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">
            @Html.Partial("_MenuTop")
            <div class="bg-fb2">
                @Html.Action("_Gridview", new { Id = Model.Uid })
            </div>
        </div>
        <div class="col-2 col-Right pr-0">

        </div>
    </div>
</div>