

    <div class="flex flex-wrap">
        <div class="w-full col-center p-0">
        Purpose: Asset tracking & accountability

        Data to show

        Assigned devices

        Laptop

        Phone

        Access card

        Software licenses

        Access permissions (read-only)
        </div>
        <div class="col-300px col-right">
   
        </div>
    </div>

