



<div class="flex w-full font-semibold text-lg justify-between">
    <div class="w-10/12 p-2">
        <a href="/Employees"> Employees</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/HR/EmployeePayments"> Payments</a>
    </div>
    <div class="col p-2 text-right">
        <a href="/HR/EmployeePayments/Refresh">Refresh</a>
    </div>
</div>