

<div class="row">
    <div class="col-9">
        <partial name="_Grid_Employee_Payments" />
    </div>
    <div class="col-3">
        <partial name="_CompensationSummaryWidgetTotal" />
        <partial name="_CompensationSummaryWidgetThisYear" />
    </div>
</div>

