
<div id="treeListDemo" class="mb-3 border">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Employees.Employee>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Employees/Employees/All"))
            .KeyExpr("Id")
            .RowAlternationEnabled(true).AllowColumnReordering(true)
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))

            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .ColumnAutoWidth(false)
            .Columns(columns =>
            {

                columns.AddFor(m => m.Id).Width(150)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.TaxNumber }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>TAX</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Employees/Employees/<%= data.Id %>/"><%= displayValue %></a></text>);



                columns.AddFor(m => m.Id)
                .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.Name }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>Employee</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Employees/Employees/<%= data.Id %>/"><%= displayValue %></a></text>);



                columns.AddFor(m => m.EmployeePositionId).Width(150)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.EmployeePositions.Select(i => new { Value = i.Id, Text = i.Title }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>Position</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Employees/EmployeePositions/<%= data.Id %>/"><%= displayValue %></a></text>);


                columns.AddFor(m => m.Salary).Format("#,##0.00").Width(150);

                columns.AddFor(m => m.TotalEarn).Width(150).Format("#,##0.00").HeaderCellTemplate(@<text>Earning</text>);
                columns.AddFor(m => m.TotalDeduct).Width(150).Format("#,##0.00").HeaderCellTemplate(@<text>Deduction</text>);

             
            })
        )
</div>


