@using ERPKeeperCore.Enterprise.Models.Items.Enums





<div class="flex font-semibold  text-uppercase">
    <div class="col-6 p-2">
        <a href="/@CompanyId/Employees">Employees</a>
        /
        <a href="/@CompanyId/Employees/Employees"> Employees</a>
    </div>
    <div class="col-6 text-right p-2">

    </div>
</div>


