





<div class="flex w-full font-semibold text-lg justify-between">
    <div class="col-6 p-2">
        <a href="/Employees">Employees</a>
        /
        <a href="/Employees/Employees"> Employees</a>
    </div>
    <div class="col-6 text-right p-2">
        <a href="/Employees/Employees/Refresh"> Refresh</a>
    </div>
</div>


