@model IList<ERPKeeper.Node.Models.Projects.Project>


@Html.DevExpress().TreeList(settings =>
{
    settings.Name = "_TreeViewTasks";

    settings.CallbackRouteValues = new
    {
        Controller = "Projects",
        Action = "_TreeViewProjects",
        Area = "Projects"
    };

    settings.KeyFieldName = "Uid";
    settings.ParentFieldName = "ParentGuid";
    settings.Settings.ShowFooter = false;
    settings.Settings.ShowColumnHeaders = false;
    settings.EncodeHtml = false;
    settings.EnableTheming = true;
    settings.Styles.Header.Font.Bold = true;
    settings.Width = Unit.Percentage(100);
    settings.SettingsBehavior.AutoExpandAllNodes = true;
    settings.Settings.GridLines = System.Web.UI.WebControls.GridLines.Both;
    settings.Styles.Header.Border.BorderStyle = BorderStyle.Solid;
    settings.Styles.Header.Font.Bold = true;
    settings.SettingsPager.Visible = false;
    settings.Images.ExpandedButton.Height = Unit.Pixel(0);
    settings.Images.ExpandedButton.Width = Unit.Pixel(0);
    settings.Theme = "Default";


    settings.Columns.Add(column =>
    {
        column.FieldName = "CustomerProfileGuid";
        column.Caption = "Name";

        column.SetDataCellTemplateContent(t =>
        {
            string ProfileGuid = (DataBinder.Eval(t.DataItem, "CustomerProfileGuid") ?? "N/A").ToString();
            string ProfileName = (DataBinder.Eval(t.DataItem, "Customer.Name") ?? "N/A").ToString();
            var linkTag = Html.ActionLink(ProfileName, "Home", "Customer", new { Area = "Customers", id = ProfileGuid }, null);
            ViewContext.Writer.Write(string.Format("<div style='text-overflow:ellipsis;overflow:hidden; white-space:nowrap ; width:200px;'>{0}</div>", linkTag));
        });
    }); 
    
    settings.Columns.Add(column =>
    {
        column.FieldName = "Code";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "Title";
        column.FieldName = "Name";

        column.SetDataCellTemplateContent(t =>
        {
            string Uid = ((Guid)DataBinder.Eval(t.DataItem, "Uid")).ToString("N");
            string Title = (DataBinder.Eval(t.DataItem, "Name") ?? "N/A").ToString();
            var linkTag = Html.ActionLink(Title, "Home", "Project", new { id = Uid }, null);
            ViewContext.Writer.Write(string.Format("{0}", linkTag));

        });
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Status";
        column.Caption = "Status";
        column.CellStyle.VerticalAlign = VerticalAlign.Top;
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Age";
    });



    settings.Width = Unit.Percentage(100);
    settings.EnableTheming = true;
    settings.Styles.Header.Font.Bold = true;

    settings.CommandColumn.CellStyle.BackColor = System.Drawing.Color.Transparent;
    settings.CommandColumn.CellStyle.VerticalAlign = VerticalAlign.Top;
    settings.CommandColumn.CellStyle.BorderBottom.BorderColor = System.Drawing.Color.White;
    settings.CommandColumn.CellStyle.BorderBottom.BorderStyle = System.Web.UI.WebControls.BorderStyle.Solid;
    settings.CommandColumn.CellStyle.BorderBottom.BorderWidth = 3;

    settings.CommandColumn.CellStyle.BorderRight.BorderColor = System.Drawing.Color.White;
    settings.CommandColumn.CellStyle.BorderRight.BorderStyle = System.Web.UI.WebControls.BorderStyle.Solid;
    settings.CommandColumn.CellStyle.BorderRight.BorderWidth = 3;
}).Bind(Model).GetHtml()

