
@model ERPKeeper.Node.Models.Financial.Payments.ReceivePayment

<div class="bg-fb2 mb-2 pb-2 rounded">

    @using (Html.BeginForm("Save", "ReceivePayment"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Uid)

        @Html.DevExpress().FormLayout(settings =>
   {
       settings.Name = "Payment";
       settings.Width = Unit.Percentage(100);
       settings.EncodeHtml = false;
       settings.Styles.Style.BackColor = System.Drawing.Color.Transparent;

       settings.Items.AddGroupItem(groupSettings =>
       {
           groupSettings.Caption = "Payment";
           groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;
           groupSettings.GroupBoxStyle.Caption.ForeColor = System.Drawing.Color.Black;


           groupSettings.Items.Add(m => m.TrnDate, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";

               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
               DateEditSettings dateEditSettings = (DateEditSettings)itemSettings.NestedExtensionSettings;
               dateEditSettings.Properties.DisplayFormatString = "dd-MMM-yy";
               dateEditSettings.Properties.EditFormatString = "dd-MMM-yy";

               itemSettings.ParentContainerStyle.Paddings.PaddingBottom = Unit.Pixel(10);
           });
           groupSettings.Items.Add(m => m.Amount, itemSettings =>
           {
               itemSettings.Caption = "Amount";
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";

               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.SpinEdit;
               SpinEditSettings ses = (SpinEditSettings)itemSettings.NestedExtensionSettings;
               ses.Properties.DisplayFormatString = "N2";
           });
           groupSettings.Items.Add(m => m.DiscountAmount, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.Caption = "Discount";

               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.SpinEdit;
               SpinEditSettings ses = (SpinEditSettings)itemSettings.NestedExtensionSettings;
               ses.Properties.DisplayFormatString = "N2";

           });
           groupSettings.Items.Add(m => m.AmountAfterDiscount, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.Caption = "After Discount";

               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.SpinEdit;
               SpinEditSettings ses = (SpinEditSettings)itemSettings.NestedExtensionSettings;
               ses.Properties.DisplayFormatString = "N2";
               ses.Enabled = false;
           });
       });


       settings.Items.AddGroupItem(groupSettings =>
       {
           groupSettings.Caption = "Retention";
           groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;
           groupSettings.GroupBoxStyle.Caption.ForeColor = System.Drawing.Color.Black;

           groupSettings.Items.Add(m => m.RetentionTypeGuid, itemSettings =>
           {

               itemSettings.Caption = "Retention";
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
               ComboBoxSettings cb = (ComboBoxSettings)itemSettings.NestedExtensionSettings;

               cb.Properties.TextField = "Name";
               cb.Properties.ValueField = "Uid";
               cb.Properties.ValueType = typeof(Guid);
               cb.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
               cb.Properties.DataSource = Organization.RetentionTypes.GetByDirection(ERPKeeper.Node.Models.Financial.Payments.Enums.RetentionDirection.Receive);
           });

           groupSettings.Items.Add(m => m.AmountRetention, itemSettings =>
           {
               itemSettings.Caption = "Retention";
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.SpinEdit;
               SpinEditSettings ses = (SpinEditSettings)itemSettings.NestedExtensionSettings;
               ses.Properties.DisplayFormatString = "N2";
           });
       });

       settings.Items.AddGroupItem(groupSettings =>
       {
           groupSettings.Caption = "Account";
           groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;
           groupSettings.GroupBoxStyle.Caption.ForeColor = System.Drawing.Color.Black;


           groupSettings.Items.Add(m => m.AmountAfterDiscountAndRetention, itemSettings =>
           {
               itemSettings.Caption = "Pay Amount";
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.SpinEdit;
               SpinEditSettings ses = (SpinEditSettings)itemSettings.NestedExtensionSettings;
               ses.Properties.DisplayFormatString = "N2";
               ses.Enabled = false;
           });

           groupSettings.Items.Add(m => m.AssetAccountUid, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.Caption = Html.ActionLink("Deposit to", "Home", "ChartOfAccount", new { Area = "Accounting" }, null).ToHtmlString();
               itemSettings.CssClass = "pt-3";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
               ComboBoxSettings cb = (ComboBoxSettings)itemSettings.NestedExtensionSettings;

               cb.Properties.TextField = "Name";
               cb.Properties.ValueField = "Uid";
               cb.Properties.ValueType = typeof(Guid);

               cb.Properties.DataSource = Organization.ChartOfAccount.GetCashEquivalentAccounts();
           });

           groupSettings.Items.Add(m => m.Reference, itemSettings =>
           {
               itemSettings.Caption = "Reference";
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
           });


           groupSettings.Items.Add(m => m.BankFeeAmount, itemSettings =>
           {
               itemSettings.Caption = "Bank Fee";
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.SpinEdit;
               SpinEditSettings ses = (SpinEditSettings)itemSettings.NestedExtensionSettings;
               ses.Properties.DisplayFormatString = "N2";
               itemSettings.ParentContainerStyle.Paddings.PaddingBottom = Unit.Pixel(10);
           });


       });

       if (Model.PostStatus == ERPKeeper.Node.Models.Accounting.Enums.LedgerPostStatus.Editable)
       {
           settings.Items.AddGroupItem(groupSettings =>
           {
               groupSettings.Caption = "Action";
               groupSettings.GroupBoxDecoration = GroupBoxDecoration.None;
               groupSettings.Items.Add(item =>
               {
                   item.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
                   item.ShowCaption = DefaultBoolean.False;
                   item.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                   var button = (ButtonSettings)item.NestedExtensionSettings;
                   button.Name = "SaveButton";
                   button.Text = "Save";
                   button.UseSubmitBehavior = true;
               });
           });
       }
   }).GetHtml()

    }

</div>