@model ERPKeeperCore.Enterprise.Models.Items.Brand


<div class="row">
    <div class="col p-2 font-weight-600">
        <a href="/@CompanyId/Products">Items</a> 
       / <a href="/@CompanyId/Products/Brands">Brands</a>  
       / <a href="/@CompanyId/Products/Brands/@Model.Id">@Model.Name</a>
    </div>
    <div class="col p-0 text-right">
       
    </div>
</div>
