@model ERPKeeperCore.Enterprise.Models.Items.Brand


<div class="flex flex-wrap">
    <div class="col p-2 font-semibold">
        <a href="/@CompanyId/Products">Items</a> 
       <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Products/Brands">Brands</a>  
       <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Products/Brands/@Model.Id">@Model.Name</a>
    </div>
    <div class="col p-0 text-right">
       
    </div>
</div>
