@model ERPKeeperCore.Enterprise.Models.Items.Brand



<div class="grid grid-cols-6">


    <a href="/Products/Items/@Model.Id">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.Items.Count()
            </div>
            <div class="text-lg text-center">
                Status
            </div>
        </div>
    </a>






</div>


