@model ERPKeeperCore.Enterprise.Models.Items.Brand


<div class="flex">
    <div class="w-full p-0 col-left">
        <partial name="_Tile" />
        <partial name="_ItemsList" />
    </div>
</div>

