@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePaymentType

<div class="bg-fb1 p-2 border mb-2">
    <div class="font-weight-bold">
        @Model.Name
    </div>
    @Model.Items.Sum(a => a.Amount)
</div>




