@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePaymentType

<div class="flex flex-wrap">
    <div class="w-full">
        <partial name="_Detail" />
        <partial name="_Payment_Items" />
    </div>
</div>

