<div class="bg-fb2 p-2 mb-2 mh-50">
    <b>Journal Entry Type</b>
</div>

<div style="">
    <a href="@Url.Action("New", "JournalEntryType", new { Area = "Accounting" })">
        <i class="fas fa-plus fa-lg text-muted"></i>
    </a>
</div>

