
.dx-widget {
    font-family: 'Prompt', 'Segoe UI','Helvetica Neue',Helvetica,Verdana,san-serif !important;
    font-size: 16px !important;
}

.dx-treelist-header-panel
.dx-datagrid-header-panel {
    padding-bottom: 0.25rem !important;
}

.dx-datagrid .dx-row > td {
    padding: 3px !important;
}

.dx-datagrid-rowsview .dx-row.dx-group-row {
    font-weight: 500 !important;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit {
    min-width: 50px !important;
    width: 50px !important;
}

.dx-treelist .dx-row > td {
    padding: 3px !important;
}


.dx-row.dx-data-row.dx-column-lines.dx-state-hover td {
    background: #F0F8FF !important;
}

.dx-row.dx-data-row.dx-state-hover td {
    background: #F0F8FF !important;
}

.dx-datagrid-headers {
    color: #001481 !important;
    font-weight: 600 !important;
}

.dx-treelist-headers {
    color: #001481 !important;
    font-weight: 600 !important;
}

.dx-datagrid {
    background-color: transparent !important;
}

.dx-datagrid-container {
    background-color: transparent !important;
}

.dx-treelist {
    background-color: transparent !important;
}

.dx-treelist-container {
    background-color: transparent !important;
}

.dx-toolbar {
    background-color: transparent !important;
}

.dx-datagrid .dx-header-filter {
    color: red !important;
}

.dx-datagrid .dx-header-filter-empty {
    color: #DDDDDD !important;
}


.dx-treelist-rowsview tr:not(.dx-row-focused) .dx-treelist-empty-space {
    color: red !important;
}