.col-left {
    /*    width:100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;*/
    /*   background-color: #f8f9fa;*/
}



#navigation {
    /*position: fixed;*/ /* Fixed Sidebar (stay in place on scroll) */
    /*top: 0;*/ /* Stay at the top */
    /*z-index: 1;*/ /* Stay on top */
    /*overflow-y: hidden;*/
  /*  padding: 0.5rem !important;*/
    background-color: white;
}

.sidenav {
    width: 95%; /* Set the width of the sidebar */
  
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */

    background-color: #fff; /* Black */
    /*overflow-x: hidden;*/ /* Disable horizontal scroll */
    padding-top: 5px;
}

.side-nav-buttom {
    height: 100px; /* Full-height: remove this if you want "auto" height */
    width: 175px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the top */
    background-color: #fff; /* Black */
    padding-top: 10px;
}

.side-nav-right-buttom {
    height: 50px; /* Full-height: remove this if you want "auto" height */
    width: 290px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0px; /* Stay at the top */

    background-color: #fff; /* Black */
    padding: 4px;
}
