
html {
    overflow: scroll;
    overflow-y: scroll;
}

body {
    /*    line-height: 100% !important;*/
    /*    letter-spacing: 0.5px;*/
    font-family: 'Prompt', 'Segoe UI','Helvetica Neue',Helvetica,Verdana,san-serif !important;
    font-size: 15px !important;
    text-align: left;
    direction: ltr;
    unicode-bidi: embed;
    line-height: 1.4 !important;
    background-color: #FFFFFF !important;
}

b {
    font-weight: 600 !important;
}

.container-non-responsive {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 8px;
    padding-right: 8px;
}

.m-1m {
    margin: -0.25rem !important;
}

.p-1m {
    padding: -0.25rem !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-center {
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center; /* optional, center the image */
}

.brandIcon {
    /*    position: absolute;
    top: -60px;*/
    left: 20px;
}

.rounded-circle {
    border-radius: 50%;
}

.sb-300 {
    -ms-flex: 0 0 280px !important;
    flex: 0 0 280px !important;
    width: 280px;
}

.singleLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}



.menu-active {
    background-color: #CCCCCC !important;
}

.menu-inactive {
    background-color: #EEEEEE !important;
}


.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}



a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    text-decoration: none !important;
    color: #0038f5 !important;
}

a:visited, a:focus {
    text-decoration: none !important;
    color: black;
}

img {
    border: 0;
}
