@model ERPKeeper.Node.Models.Estimations.PurchaseQuote
@{
    Layout = null;
}
<div class="row  p-2 bg-fb1 mb-3">
    <div class="col-2 p-0"><b>@Model.Items.Count() ITEMS</b></div>
    <div class="col-10 p-0 text-right">
        @Html.Partial("_AddItem", Model)
    </div>
</div>


<div>
    <script>
        function OnRowDblClick(s, e) {
            s.StartEditRow(e.visibleIndex);
        }

        function OnEndCallback(s, e) {
            cbpExample.PerformCallback();
        }
    </script>
    @Html.Partial("PartialGridViewItems", Model)
</div>
