

<div id="treeListDemo" class="mb-3 border">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Employees.EmployeePosition>()
    .ID("gridList")
    .DataSource(d => d.RemoteController().Key("Id")
        .LoadUrl($"/API/{CompanyId}/Profiles/Employees/EmployeePositions/All")
        .InsertUrl($"/API/{CompanyId}/Profiles/Employees/EmployeePositions/Insert")
        .UpdateUrl($"/API/{CompanyId}/Profiles/Employees/EmployeePositions/Update")
    .UpdateMethod("Post")
        .DeleteUrl($"/API/{CompanyId}/Profiles/Employees/EmployeePositions/Delete")
    .DeleteMethod("Post")
    )
    .KeyExpr("Id")
    .RowAlternationEnabled(true)
    .ShowRowLines(true)
    .ShowBorders(false)
    .Width("100%")
    .Paging(paging => paging.PageSize(100))
    .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(true)
    )

    .AllowColumnResizing(true)
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .FilterRow(filterRow => filterRow
    .Visible(true)
    .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .ColumnAutoWidth(false)
        @*.AutoExpandAll(true)*@
    .RowDragging(rd => rd
    .AllowDropInsideItem(false)
    .AllowReordering(false)
        @*.OnDragChange("onDragChange")
            .OnDragEnd("onDragEnd")
            .ShowDragIcons(false)*@
    )
    .Columns(columns =>
    {
   @* columns.AddFor(m=>m.Status).Width(130).SortOrder(SortOrder.Asc).SortIndex(2).Lookup(lookup => lookup
    .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Positions.Positionstatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text}))
    .DisplayExpr("Text")
    .ValueExpr("Value")
    );*@

    columns.AddFor(m=>m.Title);
    columns.AddFor(m=>m.Description);
    columns.AddFor(m=>m.Requried);
    })
    )
</div>


