@using ERPKeeperCore.Enterprise.Models.Items.Enums



<div class="row font-weight-600  text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId/Profiles/Employees"> Employees</a>
        / <a href="/@CompanyId/Profiles/Employees/EmployeePositions"> Positions</a>
    </div>
</div>

