

@model ERPKeeper.Node.Models.Transactions.CommercialItem

<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">
            @Html.Partial("_Detail", Model)
        </div>
    </div>
</div>
