@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, string area, int? count = null)
    {

        <div class="row e  @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@area/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>

            </div>
            <div class="col-2 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}


@*<div class="px-2 py-1 bg-fb4 text-white rounded-top">
    <a href="/" class="text-white">@Organization.SelfProfile.Name</a>
    </div>*@

<div class="mb-3 p-1 rounded bg-gray-100">
    <div class="p-1">
       

        <div>
            @{
                Template("Accounting", "", "Accounting");
                Template("Employees", "", "Employees");
                Template("Expenses", "", "Expenses");
                Template("Incomes", "", "Incomes");
                Template("Operations", "", "Operations");
                Template("Products", "", "Products");
            }
        </div>
    </div>

</div>
