@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="row font-weight-600  text-uppercase">
    <div class="col-8 p-2">

        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/Liabilities">Liabilities</a>
        /
        <a href="/@CompanyId/Financial/Liabilities/@Model.Id">@Model.Name</a>
    </div>

    <div class="col text-right">
        <div class="btn-group">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/@Model.Id/UpdateCurrentBalance">Current Balance</a>
                </li>
                <li>
                    <a href="/@CompanyId/Accounting/Transactions/Post">Post</a>
                </li>
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/@Model.Id/UpdateHistoryBalance">History Balance</a>
                </li>
            </ul>
        </div>
    </div>
</div>