@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="flex">
    <div class="col-center grow">
        <div class="border bg-fb2 px-2 py-1">
            <span>Liability @Model.Name</span>
        </div>
    </div>
    <div class="col-right w3/12">

        <a href="/@CompanyId/Accounting/Accounts/@Model.Id">Account @Model.Name</a>
    </div>
</div>

