@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="flex flex-wrap">
    <div class="w-9/12">
        <div class="border bg-fb2 px-2 py-1">
            <span>Liability @Model.Name</span>
        </div>
    </div>
    <div class="col-right-div w-3/12">
        <a href="/Accounting/Accounts/@Model.Id">Account @Model.Name</a>
    </div>
</div>

