@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="row">
    <div class="col p-0 col-center">
        <div class="border bg-fb2 px-2 py-1">
            <span>Liability @Model.Name</span>
        </div>
    </div>
    <div class="col-4 p-0 col-right">

        <a href="/@CompanyId/Accounting/Accounts/@Model.Id">Account @Model.Name</a>
    </div>
</div>

