@model ERPKeeperCore.Enterprise.Models.Accounting.Account

<div class="flex flex-wrap">
    <div class="w-full">
        <div class="border bg-fb2 px-2 py-1">
            <span>Liability @Model.Name</span>
        </div>
        <partial name="_Payments_Grid" />
    </div>
   
</div>

