<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.Transaction>()
        .ID("AssetsTreeList")
        .KeyExpr("Id")
        .DataSource(d => d.RemoteController()
        .LoadUrl($"/api/{CompanyId}/Accounting/Transactions/All")
        .InsertUrl($"/api/{CompanyId}/Accounting/Transactions/Insert")
        .UpdateUrl($"/api/{CompanyId}/Accounting/Transactions/Update")
        .UpdateMethod("Post")
        .DeleteUrl($"/api/{CompanyId}/Accounting/Transactions/Delete")
        .DeleteMethod("Post"))
        .AllowColumnReordering(true)
        .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
        .ShowColumnLines(true)
        .ShowBorders(false)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .ColumnAutoWidth(false)
        .Paging(pagging => pagging.PageSize(100))
        @*  .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))*@
        @*  .AllowColumnResizing(true)*@

        .Columns(columns =>
        {
                columns.AddFor(m => m.Reference).CellTemplate(@<text><a href="/@CompanyId/Accounting/Transactions/<%= data.Id %>/"><%= data.Reference %></a></text>
        );
                columns.AddFor(m => m.Date).Width(150);
                columns.AddFor(m => m.Type).SortOrder(SortOrder.Asc).SortIndex(2).Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Transactions.TransactionType>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
            .DisplayExpr("Text").ValueExpr("Value"));

            columns.AddFor(m => m.Debit).Width(100).Format(Format.FixedPoint);
            columns.AddFor(m => m.Credit).Width(100).Format(Format.FixedPoint);
        })
        )
</div>