

<div class="flex">
    <div class="col p-0 font-weight-600">
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/Transactions">Transactions</a>
    </div>
    <div class="col-2 p-0 text-right">
        <a href="/@CompanyId/Accounting/Transactions/Post">Post</a>
    </div>
</div>
