

<div class="flex">
    <div class="col p-0 font-semibold">
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/Transactions">Transactions</a>
    </div>
    <div class="w-2/12 p-0 text-right">
        <a href="/@CompanyId/Accounting/Transactions/Post">Post</a>
    </div>
</div>
