
<div class=" px-1 py-2 mb-1 rounded-top border-light border-bottom">
    <div class="row">
        <div class="col-8 p-0">
            <b>Brands</b>
        </div>
        <div class="col-3 p-0 text-right">
            Recent · <a href="/Educators" class="text-black-50 font-weight-600">All</a>
        </div>
    </div>
</div>



