@model ERPKeeper.Node.Models.Accounting.AccountItem

<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">
            @Html.Partial("_Menu")
            <div class="bg-fb2 p-2 mb-2 mh-50">
                <b>Daily Balances</b>
            </div>
            @Html.Action("PartialGridViewHistory", new { id = Model.Uid })
        </div>
        <div class="col-3 col-Right pr-0">
            @Html.Action("_MiniChart", new { id = Model.Uid })
        </div>
    </div>
</div>