@using ERPKeeperCore.Web.Resources
@inject LocalizeService SharedLocalizer

<div class="lh-120 px-2  rounded border">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Home", Url = "/Setting/Home" })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Localize", Url = "/Setting/Localize" })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Password", Url = "/Setting/Password" })
</div>