@model ERPKeeper.Node.Models.Estimations.SaleQuote

<div class="bg-fb1 p-2 mb-2 ">
    <div class="font-weight-600">
        <span class="text-fs-1e">
            @Model.Status
        </span>
    </div>
</div>

<div class="bg-fb1 p-2 mb-2 ">
    <div class="font-weight-600">
        <span class="text-fs-1e">
            @if (Model.Status == ERPKeeper.Node.Models.Estimations.Enums.QuoteStatus.Quote)
            {
                <a href="/@CompanyId/Customers/Estimates/@Model.Uid/Void">Void</a>
            }
        </span>
    </div>
</div>