@model ERPKeeper.Node.Models.Estimations.SaleQuote

<div class="row">
    <div class="col-8 pl-0 col-center">        
        
                <partial name="_EstimateItemsList" />
    </div>
</div>

