@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePaymentType


<div class="row mb-2 font-weight-600  text-uppercase">
    <div class="col-6 p-2">
        <a href="/@CompanyId/Profiles/Employees">Employees</a>
        /
        <a href="/@CompanyId/Profiles/Employees/PaymentTypes">PaymentType</a>
        /
        <a href="/@CompanyId/Profiles/Employees/PaymentTypes/@Model.Id"> @Model.Name</a>
    </div>
    <div class="col-6 text-right p-2">
    </div>
</div>


