@model ERPKeeperCore.Enterprise.Models.Projects.Project

<div class="row">
    <div class="col-center-grow">
        
        <partial name="_Grid" />
    </div>
    <div class="col-right-div w-4/12">


        <div class="row bg-fb1 p-2 mb-2 rounded">
            <div class="w-8/12 p-0 font-weight-600">
            </div>
            <div class="w-4/12 p-0 text-right">




              
                }

            </div>
        </div>

    </div>
</div>

