@model ERPKeeperCore.Enterprise.Models.Suppliers.Supplier

<div class="bg-fb2 border p-2">
    <div class="font-weight-bold">
        @Model.Profile.Name
    </div>
    <div>
        @Model.Profile.TaxNumber  ·  @Model.Profile.ShotName
    </div>
</div>