@model ERPKeeper.Node.Models.Suppliers.Supplier

<div class="bg-fb2 p-2 rounded mb-2">
    <div class="font-weight-bold">
        @Model.Profile.Name
    </div>
    @Model.Profile.TaxNumber  ·  @Model.Profile.ShotName<br />
</div>