@model ERPKeeperCore.Enterprise.Models.Suppliers.Supplier


<div class="p-1 border bg-gray-100">
    <form id="EditForm" method="post" action="/@CompanyId/Suppliers/Suppliers/@Model.Id/Update">
        <div class="flex justify-between flex-wrap gap-1">
            <div class="">
                @(Html.DevExtreme().SelectBoxFor(m => m.DefaultExpenseAccountId)
                    .DataSource(Organization.ChartOfAccount.ExpenseAccounts.Select(t => new { t.Id, t.Name }).ToList())
                    .Placeholder("Account")
                    .DisplayExpr("Name")
                    .ValueExpr("Id")
                    .Label("Expense Account")
                    .ShowClearButton(true)
                    .LabelMode(EditorLabelMode.Static))


                @(Html.DevExtreme().SelectBoxFor(m => m.DefaultTaxCodeUid)
                    .DataSource(Organization.TaxCodes.ListAll().Where(x => x.TaxDirection == ERPKeeperCore.Enterprise.Models.Taxes.Enums.TaxDirection.Input).Select(t => new { t.Id, t.Name }).ToList())
                    .Placeholder("TaxCode")
                    .DisplayExpr("Name")
                    .ValueExpr("Id")
                    .Label("TaxCode")
                    .ShowClearButton(true)
                    .LabelMode(EditorLabelMode.Static))



                @(Html.DevExtreme().SelectBoxFor(m => m.DefaultProductItemId)
                    .DataSource(Organization.ErpCOREDBContext.Items.Select(t => new { t.Id, t.PartNumber }).ToList())
                    .Placeholder("Product")
                    .DisplayExpr("PartNumber")
                    .ValueExpr("Id")
                    .Label("DefaultProduct")
                    .ShowClearButton(true)
                    .SearchEnabled(true)
                    .LabelMode(EditorLabelMode.Static))




            </div>
            <div>
                <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>

