

@model ERPKeeperCore.Enterprise.Models.Suppliers.Supplier


@{
    var items = Organization.ErpCOREDBContext.PurchaseItems
            .Where(i => i.Purchase.SupplierId == Model.Id)
            .ToList();
}


@foreach (var item in items)
{
    <div class="row bg-fb1 py-2 border-bottom border-white">

        <div class="col-8 mb-2">
            <a href="/@CompanyId/Products/@item.ItemId">
                <b>  @item.Item.PartNumber</b><br />
                @item.Item.Description
            </a>
        </div>
        <div class="col-4">
            <div class="text-right">
              
            </div>
        </div>

        <div class="col-12">
        
        </div>
    </div>
}
