@model ERPKeeper.Node.Models.Suppliers.Supplier



<div class="text-right mb-2">
    <a href="/@CompanyId/Suppliers/Suppliers/@Model.ProfileUid">Overview</a>  ·
    <a href="/@CompanyId/Suppliers/Suppliers/@Model.ProfileUid/Estimates">Estimates</a> ·
    <a href="/@CompanyId/Suppliers/Suppliers/@Model.ProfileUid/Purchases">Purchases</a> ·
    <a href="/@CompanyId/Suppliers/Suppliers/@Model.ProfileUid/Items">Items</a>
</div>
