@model ERPKeeperCore.Enterprise.Models.Suppliers.Supplier



<div class="text-right mb-2">
    <a href="/@CompanyId/Suppliers/Suppliers/@Model.ProfileId">Overview</a>  ·
    <a href="/@CompanyId/Suppliers/Suppliers/@Model.ProfileId/Estimates">Estimates</a> ·
    <a href="/@CompanyId/Suppliers/Suppliers/@Model.ProfileId/Purchases">Purchases</a> ·
    <a href="/@CompanyId/Suppliers/Suppliers/@Model.ProfileId/Items">Items</a>
</div>
