@model ERPKeeperCore.Enterprise.Models.Suppliers.Supplier


<div class="flex bg-fb2 py-2 rounded">
    <div class="col-6">
        Purchasesd
    </div>
    <div class="col-6">
        @Model.TotalPurchases
    </div>

    <div class="col-6">
        Count
    </div>
    <div class="col-6">
        @Model.TotalPurchasesCount
    </div>

    <div class="col-6">
        Balance
    </div>
    <div class="col-6">
        @Model.TotalBalance
    </div>
</div>
