@model ERPKeeperCore.Enterprise.Models.Suppliers.Supplier

<div class="flex">
    <div class="col-center-div grow">
        <partial name="_Detail" />
        <partial name="_Grid_Quotes" />
    </div>
    <div class="col-right w-3/12">
        <partial name="_Summary" />
    </div>
</div>