@model ERPKeeperCore.Enterprise.Models.Suppliers.Supplier

<div class="flex flex-wrap">
    <div class="col-center-div w-9/12">
        <partial name="_Detail" />
        <partial name="_Grid_Quotes" />
    </div>
    <div class="col-right-div w-3/12">
        <partial name="_Summary" />
    </div>
</div>