@model ERPKeeperCore.Enterprise.Models.Suppliers.Supplier

<div class="row">
    <div class="col-8 pl-0 col-center">
        <partial name="_Detail" />
        <partial name="_MenuTop" />
        <partial name="_EstimatesList" />
    </div>
    <div class="col-4 pr-0 col-right">
        <partial name="_Summary" />
    </div>
</div>

