
@*<img src="~/Content/SampleImage/TimeLine.png" />*@


<div style="background-color:#F3F5FB;padding:10px 5px 5px 20px;">

  
    <div style="border-left:1px  dotted #000000;min-height:200px;">

        <div style="margin-left:15px;min-height:20px;padding:3px;margin-bottom:10px;">
            <div style="position:relative;top:13px; left:-22px;background-color:#000000;width:8px;height:8px;"></div>
            <span style="font-weight:normal;">14 September 2016</span>
        </div>


        @for (int i = 0; i < 10; i++)
        {
           

            <div style="margin-left:15px;min-height:30px;padding:3px;background-color:#F8F8FF;margin-bottom:10px;">

                <div style="position:relative;top:13px; left:-21px;background-color:#0094ff;width:6px;height:6px;"></div>

                <b>Update Sale 201</b><br />
                Bla blabla

               

            </div>
        }

    </div>
</div>