
<div style="">

    <div class="bg-fb2 p-2 mb-2 mh-50">
        <div class="appIconStyle" >
            
            <div style="float:left;padding-top:5px;">Income</div>
        </div>

        <div style="position:absolute;top: 10px;right:5px;">
            @*<div style="float:left;">
                    <img src="~/Content/Icon/addWhite.png" />
                </div>*@
            <div style="padding:0px 10px 5px 10px;float:right">
                30  ·  365  · YTD
            </div>
        </div>
    </div>

    <img src="~/Content/Banner/customer.png" />

    

</div>