

<div class="row">
    <div class="col-2 col-Left pl-0">
        @Html.Action("_Main", "Default", new { Area = "Menu" })
    </div>
    <div class="col col-Middle p-0">
        @Html.Action("_ChartIncome", "DashBoard", new { Area = "Customers" })
        <div class="mb-1"></div>
        @Html.Action("_ChartAge", "DashBoard", new { Area = "Customers" })
    </div>
    <div class="col p-0">
        @Html.Action("_TopGridView", "Customers", new { Area = "Customers" })
    </div>
    <div class="col-3 col-Right pr-0">

    </div>
</div>
