

<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            
        </div>
        <div class="col col-Middle p-0">
            <div class="MiddleSubLeftColContainer">
                <div class="MiddleColBox">
                    <b>Payment Templates</b>
                    <br /><br />
                    @Html.ActionLink("New", "New", "PaymentTemplate")
                </div>
                @Html.Action("PartialGridView")
            </div>
            <div class="MiddleSubRightColContainer">
                <div class="p-2 mb-2 bg-fb2 mh-50"></div>
            </div>
        </div>
    </div>
</div>