@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePaymentPeriod



<div class="grid grid-cols-6">


    <a href="/@CompanyId/Employees/EmployeePaymentPeriods/@Model.Id">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
               
            </div>
            <div class="text-lg text-center">
                Status
            </div>
        </div>
    </a>




    <a href="/@CompanyId/Employees/EmployeePaymentPeriods/@Model.Id">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.Date.ToString("dd-MMM-yyyy")
            </div>
            <div class="text-lg text-center">
                Date
            </div>
        </div>
    </a>


    <a href="/@CompanyId/Employees/EmployeePaymentPeriods/@Model.Id">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.EmployeePayments.Count()
            </div>
            <div class="text-lg text-center">
                Payments
            </div>
        </div>
    </a>


    <a href="/@CompanyId/Customers/Sales/@Model.Id/Items">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.TotalEarning
            </div>
            <div class="text-lg text-center">
                Earning
            </div>
        </div>
    </a>

    <a href="/@CompanyId/Customers/Sales/@Model.Id/Items">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.TotalDeduction
            </div>
            <div class="text-lg text-center">
                Deduction
            </div>
        </div>
    </a>


</div>


