@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePaymentPeriod

<div class="flex">
    <div class="col-left">
        <partial name="_Tile" />
        <partial name="_Grid_Payments" />
    </div>
</div>

