
@model ERPKeeper.Node.Models.Profiles.Profile

<div>
    <b>Bank Accounts</b>-  @Html.ActionLink("New", "New", "BankAccount", new { ProfileGuid = Model.Uid }, null)<br />
</div>

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridViewBankAccount";
        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
        settings.KeyFieldName = "BankAccountGuid";
        settings.Width = Unit.Percentage(100);


        settings.Columns.Add(column =>
        {
            column.FieldName = "Number";
            column.Caption = "Number";

        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "BankName";
            column.Caption = "BankName";

        });



        settings.Columns.Add(column =>
        {
            column.FieldName = "Type";
            column.Caption = "Type";
        });

        settings.EnableTheming = true;
        settings.Styles.Header.Font.Bold = true;
        settings.CommandColumn.CellStyle.VerticalAlign = VerticalAlign.Top;
        settings.CommandColumn.CellStyle.BorderBottom.BorderColor = System.Drawing.Color.White;
        settings.CommandColumn.CellStyle.BorderBottom.BorderStyle = System.Web.UI.WebControls.BorderStyle.Solid;
        settings.CommandColumn.CellStyle.BorderBottom.BorderWidth = 3;

        settings.CommandColumn.CellStyle.BorderRight.BorderColor = System.Drawing.Color.White;
        settings.CommandColumn.CellStyle.BorderRight.BorderStyle = System.Web.UI.WebControls.BorderStyle.Solid;
        settings.CommandColumn.CellStyle.BorderRight.BorderWidth = 3;

    });
}

@grid.Bind(Model.BankAccounts).GetHtml()

