
<div class="p-2 mb-2 bg-fb2 mh-50">
    <img src="~/Content/Icon/create.png" width="25" />  @Html.ActionLink(ERPKeeper.WebFrontEnd.Resources.Lang.BusinessDirectory, "Home", "Home", new { Area = "BusinessDirectory" }, null)
</div>