@{
    string[] companies = new string[] { "tec", "bit" };

}

<div class="grid grid-cols-2">
    @{


        foreach (var company in companies)
        {
            var companyRepo = new ERPKeeperCore.Enterprise.EnterpriseRepo(company, true);


            <div class="grid grid-cols-6">
                <a href="/@company/">
                    <div class="col-span-6 bg-gray-100 p-2 border text-2xl font-semibold">
                        @company
                    </div>
                </a>
                <a href="/@company/Customers/Sales">
                    <div class="bg-gray-100 p-2 border">

                        @companyRepo.ErpCOREDBContext.Sales.Count() <br /> Sales

                    </div>
                </a>

                <a href="/@company/Suppliers/Purchases">
                    <div class="bg-gray-100 p-2 border">
                        @companyRepo.ErpCOREDBContext.Purchases.Count() <br />Purchases
                    </div>
                </a>


                <a href="/@company/Products/Items">
                    <div class="bg-gray-100 p-2 border">
                        @companyRepo.ErpCOREDBContext.Items.Count() <br />Items
                    </div>
                </a>
            </div>

        }
    }
</div>