<div class="flex flex-wrap">
    <div class="col-center-div grow h-screen border-right">


        <div class="grid grid-cols-3">
            <div class="">
                <partial name="_Company_Tile" />
            </div>

        </div>

    </div>
</div>

