


<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">

            <div class="MiddleColBoxContent">
                <b>Shipping Method</b><br />
                @Html.ActionLink("New", "New", "ShippingMethod")
            </div>

            @Html.Action("PartialGridView")
        </div>
    </div>
</div>
