@using ERPKeeperCore.Enterprise.Models.Items.Enums


<div class="row font-weight-600  text-uppercase">
    <div class="col-10 p-2">
        <a href="/@CompanyId/">@CompanyId</a>
        <a href="/@CompanyId/Products"> Products</a>
        <a href="/@CompanyId/Products/Inventory"> Inventory</a>
    </div>
    <div class="col-2 p-2 text-right">
        <div class="btn-group">
            <a class="btn btn-outline-light border btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-calculator"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Products/Items/UpdateStock">Stock</a>
                </li>
            </ul>
        </div>
    </div>
</div>