@using ERPKeeperCore.Enterprise.Models.Items.Enums

<div class="row">
    <div class="col-12 p-0 col-left">
        <partial name="_MenuTop" />
        <partial name="_ItemsList" />
    </div>
</div>

