

<div class="flex font-semibold text-lg text-uppercase">
    <div class="p-2 text-uppercase">
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/RetentionTypes">RetentionTypes</a>
    </div>

    <div class="text-right">
        <a href="/@CompanyId/Financial/RetentionTypes/UpdateBalance">UpdateBalance</a>
    </div>
</div>

