@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="row">
    <div class="col p-0 col-center">        
        
                <partial name="_ItemsList" />
    </div>
</div>

