

<div class="flex flex-1 font-semibold text-lg justify-between">
    <div class="p-2">
        @CompanyId.ToUpper()
        <i class="fa-solid fa-chevron-right text-danger text-sm mx-2"></i>
        <a href="/Customers"> Customers</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
    </div>

    <div class="p-2">
        <a href="/Customers/Customers/Refresh"> Refresh</a>
    </div>
</div>