<div class="row bg-fb1 ">
    <div class="col-4  p-1">
        <a href="/@CompanyId/Customers/Sales">
            Sales
        </a>
    </div>
    <div class="col-4  p-1">
        @Organization.ErpCOREDBContext.Sales.Where(s=>s.Status== ERPKeeperCore.Enterprise.Models.Customers.Enums.SaleStatus.Invoice).Count()
    </div>
</div>