
<div class="flex flex-wrap">
    <div class="col-4  p-1">
        <partial name="_Tile_Customers" />

    </div>
    <div class="col-4  p-1">
        <partial name="_Tile_Estimates" />

    </div>
    <div class="col-4  p-1">
        <partial name="_Tile_Orders" />
    </div>
    <div class="col-4  p-1">
        <partial name="_Tile_Sales" />
    </div>
    <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">
        </div>
    </div>
    <div class="col-4  p-1">
        <div class="bg-fb1 mh-150 p-2">
        </div>
    </div>
</div>