
<div class="row bg-gray-100 ">
    <div class="col-4  p-1">
        <a href="/@CompanyId/Customers/Customers">
            Customers
        </a>
    </div>
    <div class="col-4  p-1">
        @Organization.Customers.Count()
    </div>
</div>