<div class="row bg-fb1 ">
    <div class="col-4  p-1">
        <a href="/@CompanyId/Customers/Orders">
            Orders
        </a>
    </div>
    <div class="col-4  p-1">
        @Organization.ErpCOREDBContext.SaleEstimates.Where(s=>s.Status== ERPKeeperCore.Enterprise.Models.Estimations.Enums.QuoteStatus.Ordered).Count()
    </div>
</div>