@model ERPKeeperCore.Enterprise.Models.Profiles.Profile


<div class="flex border">
    <div class="">


        @{
            if (Model.Customer != null)
            {
                <div class="p-2 border float-left">
                    <a href="/Customers/Customers/@Model.Id">Customer</a>
                </div>
            }
            if (Model.Supplier != null)
            {
                <div class="p-2 border float-left">
                    <a href="/Suppliers/Suppliers/@Model.Id">Supplier</a>
                </div>
            }
            if (Model.Employee != null)
            {
                <div class="p-2 border float-left">
                    <a href="/Employees/Employees/@Model.Id">Employee</a>
                </div>
            }
            if (Model.Investor != null)
            {
                <div class="p-2 border float-left">
                    <a href="/Investors/Investors/@Model.Id">Investor</a>
                </div>
            }
        }



    </div>
</div>

