@model ERPKeeperCore.Enterprise.Models.Profiles.Profile


<div class="flex flex-wrap">
    <div class="w-9/12">
        <partial name="_ChangePasswordWidget" model="new ERPKeeper.Web.New.Areas.Profiles.Models.ChangePasswordViewModel()" />
    </div>

    <div class="w-3/12 pl-4">
    </div>
</div>
