@model ERPKeeperCore.Enterprise.Models.Accounting.Transaction

<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.TransactionLedger>()
            .ID("LedgerList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().LoadUrl($"/api/{CompanyId}/Accounting/Transactions/{Model.Id}/TransactionLedgers/All"))
            .AllowColumnReordering(true)
            .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
            .ShowColumnLines(true)
            .ShowBorders(false)
            .ColumnAutoWidth(false)
            .Paging(pagging => pagging.PageSize(100))
            .Width("100%")
            .Columns(columns =>
            {

                columns.AddFor(m => m.AccountId)
            .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .Width(200)
            .HeaderCellTemplate(@<text>Account</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Accounting/Accounts/<%= data.AccountId %>/"><%= displayValue %></a></text>);
     
        
        columns.AddFor(m => m.Debit).Width(130).Format(Format.FixedPoint);
                columns.AddFor(m => m.Credit).Width(130).Format(Format.FixedPoint);





            })
        )
</div>










