@model ERPKeeperCore.Enterprise.Models.Accounting.Transaction
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums

<div class="flex flex-wrap">
    <div class="col-center-div grow mh-100v border-right border-2">
        <partial name="_Ledgers_Grid" />
    </div>

    <div class="w-4/12 p-0 col-center">
        <div class="flex border bg-gray-100">
            <div class="w-4/12">
                Type
            </div>
            <div class="col-8">
                @Model.Type.ToString()
            </div>

            <div class="w-4/12">
                Name
            </div>
            <div class="col-8">
                @{
                    switch (Model.Type)
                    {
                        case TransactionType.Sale:
                            <a href="/Customers/Sales/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.ReceivePayment:
                            <a href="/Customers/ReceivePayments/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.Purchase:
                            <a href="/Suppliers/Purchases/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.SupplierPayment:
                            <a href="/Suppliers/SupplierPayments/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.JournalEntry:
                            <a href="/Accounting/JournalEntries/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.LiabilityPayment:
                            <a href="/Financial/LiabilityPayments/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.FundTransfer:
                            <a href="/Financial/FundTransfers/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.Lend:
                            <a href="/Financial/Lends/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.IncomeTax:
                            <a href="/Taxes/IncomeTaxs/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.TaxPeriod:
                            <a href="/Taxes/TaxPeriods/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.EmployeePayment:
                            <a href="/Employees/EmployeePayments/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.Asset:
                            <a href="/Assets/Assets/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.AssetDeprecateSchedule:
                            <a href="/Assets/AssetDeprecateSchedules/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.ObsoleteAsset:
                            <a href="/Assets/ObsoleteAssets/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        case TransactionType.FiscalYearClosing:
                            <a href="/Accounting/FiscalYears/@Model.Id">
                                N:@Model.Name
                            </a>
                            break;
                        default:
                            <span>N:@Model.Name</span>
                            break;
                    }
                }
            </div>
            <div class="w-4/12">Referece</div>
            <div class="col-8">R:@Model.Reference</div>
        </div>
    </div>
</div>