


<div class="lh-120 bg-gray-100 p-2 rounded border">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Documents", Url = "/Storage/Documents", Count = Organization.ErpCOREDBContext.Documents.Count() })

</div>
