@using ERPKeeperCore.Enterprise.Models.Items.Enums
@model ERPKeeperCore.Enterprise.Models.Financial.LiabilityPayment

<div class="flex font-weight-600  text-uppercase">
    <div class="col-8 p-2">
        <a href="/@CompanyId/Financial"> Financial</a>
        / <a href="/@CompanyId/Financial/LiabilityPayments">LiabilityPayments</a>
        / <a href="/@CompanyId/Financial/LiabilityPayments/@Model.Id">@Model.Name</a>
    </div>
    <div class="col text-right">
        @if (Model.IsPosted)
        {
            <a href="/@CompanyId/Financial/LiabilityPayments/@Model.Id/UnPost">UnPost</a>
        } 
        @if (Model.Status == ERPKeeperCore.Enterprise.Models.Financial.Enums.LiabilityPaymentStatus.Draft)
        {
            <a href="/@CompanyId/Financial/LiabilityPayments/@Model.Id/Issue">Issue</a>
        }
    </div>
</div>
