@model ERPKeeperCore.Enterprise.Models.Financial.LiabilityPayment

<div class="flex flex-wrap">
    <div class="col-center-div w-9/12">
        <partial name="_EditForm" />
        <partial name="PayFromAccounts_Grid" />
    </div>
    <div class="col-right-div w-3/12">


        <div>
            @Model.LiabilityPaymentPayFromAccounts.Count()

            @{
                foreach (var fromAcc in Model.LiabilityPaymentPayFromAccounts)
                {
                    @fromAcc.Account.Name @fromAcc.Amount
                }
            }
        </div>
        <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />
    </div>
</div>