@model ERPKeeper.Node.Models.Security.LogInModel


<div class="row" >
    <div class="col-2 col-Left pl-0">
     
    </div>
    <div class="col col-Middle p-0">
        <div class=" p-2 bg-2">

        </div>
    </div>
    <div class="col-3 col-Right p-1">
        @Html.Partial("_SignInBox")
    </div>
</div>
