@using ERPKeeperCore.Enterprise.Models.Items.Enums

<div class="flex font-semibold  text-uppercase">
    <div class="w-10/12 p-2">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Products"> Products</a>
        /
        <a href="/@CompanyId/Products/Items"> Items</a>
    </div>
    <div class="w-2/12 p-2 text-right">



@*         <div class="btn-group">
            <a class="dropdown-toggle" id="dropdownMenuItems" data-bs-toggle="dropdown" aria-expanded="false">

            </a>
        </div> *@
        <div class="dropdown dropleft ">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border rounded" style="width:200px;height:120px;" aria-labelledby="dropdownMenuLink">
                <div>
                    <a href="/@CompanyId/Products/Items/UpdateAmount">Update Amount</a>
                </div>
             
                <div>
                    <a href="/@CompanyId/Products/Items/UpdateCustomerItems">Update Customer Items</a>
                </div>

                <div>
                    <a href="/@CompanyId/Products/Items/UpdateSupplierItems">Update Supplier Items</a>
                </div>
            </div>
        </div>













    </div>
</div>