@using ERPKeeper.Node.Models.Financial.Payments.Enums

<div class="bg-fb2 p-2 mb-1 row mh-50 rounded">
    <div class="col-9">
        <ol class="breadcrumb mb-0 font-weight-bold bg-none p-0">
            <li class="breadcrumb-item text-uppercase">
                <a href="@Url.Action("Home", "Home",new { Area = "DashBoard"})">HOME</a>
            </li>
            <li class="breadcrumb-item text-uppercase">
                <a href="@Url.Action("Home", "RetentionTypes",new { Area = "Financial"})">RETENTION TYPES</a>
            </li>
        </ol>
    </div>
    <div class="col text-right">
        <span id="ImageMenuPlus"><i class="fas fa-plus-circle fa-lg text-muted"></i></span>
        @Html.DevExpress().PopupMenu(settings =>
        {
            settings.Name = "PopupMenuAdd";
            settings.PopupElementID = "ImageMenuPlus";
            settings.ShowPopOutImages = DefaultBoolean.True;

            settings.Items.Add(subSetting =>
            {
                subSetting.Text = "New Retention Type";
                subSetting.Items.Add(RetentionDirection.Receive.ToString()).NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "RetentionType", Action = "New", id = RetentionDirection.Receive });
                subSetting.Items.Add(RetentionDirection.Pay.ToString()).NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "RetentionType", Action = "New", id = RetentionDirection.Pay });
            });
            settings.PopupAction = PopupAction.LeftMouseClick;
        }).GetHtml()
    </div>
</div>

