@model ERPKeeper.Node.Models.Profiles.ProfileAddress


<div class="bg-fb2 p-2 mb-2 mh-50">
    @using (Html.BeginForm("Save", "Address"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AddressGuid)
        @Html.HiddenFor(model => model.ProfileGuid)


        @Html.DevExpress().FormLayout(settings =>
   {
       settings.Name = "Address";
       settings.Width = 500;

       settings.Items.AddGroupItem(groupSettings =>
       {
           groupSettings.Caption = "Information";
           groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;
           groupSettings.GroupBoxStyle.Caption.BackColor = System.Drawing.ColorTranslator.FromHtml("#EEEEEE");
           groupSettings.GroupBoxStyle.Caption.Font.Bold = true;
           groupSettings.GroupBoxStyle.Caption.ForeColor = System.Drawing.Color.Black;
           groupSettings.ColCount = 2;


           groupSettings.Items.Add(m => m.Title, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;

           });

           groupSettings.Items.Add(m => m.Number, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;

           });
           groupSettings.Items.Add(m => m.IsPrimary, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.CheckBox;

           });



       });




       settings.Items.AddGroupItem(groupSettings =>
       {
           groupSettings.Caption = "Address Line";
           groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;
           groupSettings.GroupBoxStyle.Caption.BackColor = System.Drawing.ColorTranslator.FromHtml("#EEEEEE");
           groupSettings.GroupBoxStyle.Caption.Font.Bold = true;
           groupSettings.GroupBoxStyle.Caption.ForeColor = System.Drawing.Color.Black;



           groupSettings.Items.Add(m => m.AddressLine, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
               itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
               itemSettings.ShowCaption = DefaultBoolean.False;

               var tb = (MemoSettings)itemSettings.NestedExtensionSettings;
               tb.Width = 450;
           });






       });

       settings.Items.AddGroupItem(groupSettings =>
       {
           groupSettings.Caption = "Information";
           groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;
           groupSettings.GroupBoxStyle.Caption.BackColor = System.Drawing.ColorTranslator.FromHtml("#EEEEEE");
           groupSettings.GroupBoxStyle.Caption.Font.Bold = true;
           groupSettings.GroupBoxStyle.Caption.ForeColor = System.Drawing.Color.Black;



           groupSettings.Items.Add(m => m.PhoneNumber, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
           });


           groupSettings.Items.Add(m => m.FaxNumber, itemSettings =>
           {
               itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
           });



       });







       settings.Items.AddGroupItem(groupSettings =>
       {
           groupSettings.Caption = "Action";
           groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;
           groupSettings.GroupBoxStyle.Caption.BackColor = System.Drawing.ColorTranslator.FromHtml("#EEEEEE");
           groupSettings.GroupBoxStyle.Caption.Font.Bold = true;
           groupSettings.GroupBoxStyle.Caption.ForeColor = System.Drawing.Color.Black;

           groupSettings.Items.Add(item =>
           {
               item.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
               item.ShowCaption = DefaultBoolean.False;
               item.HorizontalAlign = FormLayoutHorizontalAlign.Right;
               var button = (ButtonSettings)item.NestedExtensionSettings;
               button.Name = "SaveButton";
               button.Text = "Save";
               button.UseSubmitBehavior = true;

           });
       });
   }).GetHtml()
    }
</div>