



<div id="treeList" class="mt-2 ">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Storage.Document>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/Customers/ReceivePayments/{Model.Id}/Documents/All")
            .UpdateUrl($"/API/Customers/ReceivePayments/{Model.Id}/Documents/Update")
            .UpdateMethod("Post")
            .DeleteUrl($"/API/Customers/ReceivePayments/{Model.Id}/Documents/Delete")
            .DeleteMethod("Post")
            )
            .KeyExpr("Id")
            .Width("100%")
            .WordWrapEnabled(true)
            .RowAlternationEnabled(true).AllowColumnReordering(true)
            .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).UseIcons(true))
            .StateStoring(stateStoring => stateStoring.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("ReceivePayment_Documents"))

            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .AllowColumnResizing(true).AllowColumnReordering(true)
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
            .ColumnAutoWidth(false)
            .Columns(column =>
            {


             column.AddFor(m => m.FileSizeString)
            .Width(100)
            .Caption("Size")
            .SortIndex(0)
            .SortOrder(SortOrder.Desc)
            .AllowEditing(false)
            .CalculateSortValue("Size");

                column.AddFor(m => m.FileName)
            .HeaderCellTemplate("Name")
            .CellTemplate(@<text><a href="/storage/documents/<%= data.Id %>/Download"><%= data.FileName %></a></text>);


       
                column.AddFor(m => m.FileExtension).AllowEditing(false).Width(100)
            .HeaderCellTemplate("Ext");

 

                column.AddFor(m => m.AgeAgo)
            .Width(100)
            .Caption("Age")
            .SortIndex(0)
            .SortOrder(SortOrder.Desc)
            .AllowEditing(false)
            .CalculateSortValue("UploadDate");


            column.AddFor(m => m.Note)
                .HeaderCellTemplate("Note")
                .CellTemplate(@<text><a href="/storage/documents/<%= data.Id %>/Download"><%= data.Name %></a></text>);



            column.Add()
            .Width(40)
            .AllowSearch(false)
            .AllowEditing(false)
            .CellTemplate(@<text><a href="/storage/documents/<%= data.Id %>/Download"><i class="fa-solid fa-cloud-arrow-down text-fs-15"></i></a></text>);


            })
        )
</div>


