
@model ERPKeeper.Node.Models.Employees.EmployeePayment

<div class="mb-2 bg-fb2 rounded">

    @using (Html.BeginForm("Save", "Payment")) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Uid)

        @Html.DevExpress().FormLayout(settings =>{
        settings.Name = "Employee Payment";
        settings.ColCount = 2;
        settings.Items.AddGroupItem(groupSettings =>
        {
            groupSettings.Caption = "Transfer Information";
            groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;

            groupSettings.Items.Add(m => m.EmployeePaymentPeriodUid, itemSettings =>{
                itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
                itemSettings.Caption = "Payment Period";
                itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;

                ComboBoxSettings cb = (ComboBoxSettings)itemSettings.NestedExtensionSettings;
                cb.Properties.TextField = "Name";
                cb.Properties.ValueField = "Uid";
                cb.Properties.ValueType = typeof(Guid);
                cb.Properties.DataSource = Organization.EmployeePaymentPeriods.GetAll();
                cb.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
            });

            groupSettings.Items.Add(m => m.Employee.Profile.Name, itemSettings =>{
                itemSettings.CaptionCellStyle.CssClass = "CaptionWidth";
            });
        });
        settings.Items.AddGroupItem(groupSettings =>{
            groupSettings.Caption = string.Empty;
            groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;

            groupSettings.Items.Add(item =>{
                item.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
                item.ShowCaption = DefaultBoolean.False;
                item.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                var button = (ButtonSettings)item.NestedExtensionSettings;
                button.Name = "SaveButton";
                button.Text = "Save";
                button.UseSubmitBehavior = true;
            });
        });
        }).GetHtml()
    }
</div>