@using ERPKeeperCore.Enterprise.Models.Items.Enums



<div class="row font-weight-600  text-uppercase">
    <div class="p-2">
       <a href="/@CompanyId/Profiles/Customers"> Customers</a>
       / <a href="/@CompanyId/Profiles/Customers/Estimates"> Estimates</a>
    </div>
</div>
