@{
    Layout = null;
}
<div class="row bg-fb2 p-1 mb-2 mh-50 rounded">
    <div class="col-9 p-1">
        <span class="bg-dark px-2 mt-2 mr-3 text-white">
            Bill Payments
        </span>
    </div>
    <div class="col text-right">
        <span id="ImageMenuAction" style="cursor:pointer"><i class="fab fa-chrome fa-lg text-muted"></i></span>
        @Html.DevExpress().PopupMenu(settings =>
   {
       settings.Name = "PopupMenuAction";
       settings.PopupElementID = "ImageMenuAction";
       settings.ShowPopOutImages = DefaultBoolean.True;
       settings.PopupAction = PopupAction.LeftMouseClick;


       settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);

       settings.Items.Add(item =>
       {
           item.Text = "Export";
           item.Items.Add("Last Month").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "ExportLastMonthReceipt" });
           item.Items.Add("All").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "ExportAllReceipt" });
       });

       settings.Items.Add("ReOrder").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "ReOrder" });
       settings.Items.Add("Check").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "Check" });

   }).GetHtml()
    </div>


</div>

