
<div id="treeListDemo" class="mb-3 border">
    @(
            Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Financial.FundTransfer>()
            .ID("gridList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Financial/FundTransfers/All")
            .InsertUrl($"/API/{CompanyId}/Financial/FundTransfers/Insert")
            .InsertMethod("Post")
            .UpdateUrl($"/API/{CompanyId}/Financial/FundTransfers/Update")
            .UpdateMethod("Post"))
            .Width("100%")
            .RowAlternationEnabled(true).AllowColumnReordering(true)
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
            .ColumnAutoWidth(false)
            .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))

            .Columns(columns =>
            {


                columns.AddFor(m => m.Date).Alignment(HorizontalAlignment.Right).SortOrder(SortOrder.Desc).SortIndex(1).Width(130);

                columns.AddFor(m => m.Status).AllowEditing(false).Width(80).Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Financial.Enums.FundTransferStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Name).Width(130)
            .CellTemplate(@<text><a href="/@CompanyId/Financial/FundTransfers/<%= data.Id %>/"><%= data.Name %></a></text>);



                columns.AddFor(m => m.WithDrawAccountId)

            .Lookup(lookup => lookup.DataSource(Organization.ChartOfAccount.Assets.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .Width(150)
            .HeaderCellTemplate(@<text>WithDraw</text>)
                .CellTemplate(@<text><a href="/@CompanyId/Accounting/Accounts/<%= data.WithDrawAccountId %>/"><%= displayValue %></a></text>);


                columns.AddFor(m => m.WithDrawAmount)
                .HeaderCellTemplate("Amount")
                .Width(120)
                .Format("#,##0.00");


                columns.AddFor(m => m.BankFeeAmount)
                .HeaderCellTemplate("BankFee")
                .Width(80)
                .Format("#,##0.00");

                columns.AddFor(m => m.Deposit_Asset_AccountId)

            .Lookup(lookup => lookup.DataSource(Organization.ChartOfAccount.Assets.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .Width(150)
            .HeaderCellTemplate(@<text>Deposit</text>)
            .CellTemplate(@<text><a href="/@CompanyId/Accounting/Accounts/<%= data.WithDrawAccountId %>/"><%= displayValue %></a></text>);


                columns.AddFor(m => m.DepositAmount)
            .HeaderCellTemplate("Amount")
            .Width(120)
            .Format("#,##0.00");




                columns.AddFor(m => m.IsPosted)
            .AllowEditing(false).Width(30)
            .HeaderCellTemplate(@<text> </text>)
        .CellTemplate(@<text><i class="fas fa-fingerprint text-<%= data.IsPosted %>"></i></text>);

                columns.AddFor(m => m.Reference).Width(180);


            })
        )
</div>

