@model ERPKeeperCore.Enterprise.Models.Assets.ObsoleteAsset

<div class="flex bg-gray-100 p-2 mb-2 rounded">
    <div class="w-9/12 p-0 font-semibold">
        <a href="/Assets">Assets</a>
        /
        <a href="/Assets/Assets">Assets</a>
        /
        <a href="/Assets/AssetTypes/@Model.Asset.AssetTypeId">@Model.Asset.AssetType.Name</a>
        /
        <a href="/Assets/Assets/@Model.Id">@Model.Asset.Name</a>
        /
        <a href="/Assets/Assets/@Model.Id/Obsolete">Obsolete</a>
    </div>
    <div class="w-4/12 p-0 text-right">
    </div>
</div>
