@model ERPKeeperCore.Enterprise.Models.Assets.ObsoleteAsset

<div class="row">
    <div class="col p-0 col-center mh-100v border-right border-2">

    </div>
    <div class="col-4 p-0 col-right">
        <div class="border p-2 bg-fb2">

        </div

                <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />
    </div>
</div>

