@model ERPKeeperCore.Enterprise.Models.Projects.Project




<div class="flex font-semibold  text-uppercase">
    <div class="col-8 p-2">
        <a href="/@CompanyId/">@CompanyId</a>
        /
        <a href="/@CompanyId/Customers"> Customers</a>
        / <a href="/@CompanyId/Customers/Projects"> Projects</a>
        / <a href="/@CompanyId/Customers/Projects/@Model.Id"> @Model.Name</a>
    </div>
</div>
