@model ERPKeeperCore.Enterprise.Models.Projects.Project

<div class="flex">
    <div class="col-center-div grow">
        
        <partial name="_EditForm" />
    </div>
    <div class="w-4/12 p-0 col-right">


        <div class="flex bg-fb1 p-2 mb-2 rounded">
            <div class="w-9/12 p-0 font-weight-600">
            </div>
            <div class="w-4/12 p-0 text-right">




                @{
                    if (Model.Status == ERPKeeperCore.Enterprise.Models.Projects.Enums.ProjectStatus.Open)
                    {
                        <a href="/@CompanyId/Customers/Projects/@Model.Id/close" class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;">
                            Close
                        </a>
                    }
                    else
                    {
                        <a href="/@CompanyId/Customers/Projects/@Model.Id/open" class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;">
                            Re-Open
                        </a>
                    }
                }

            </div>
        </div>

    </div>
</div>

