@model ERPKeeperCore.Enterprise.Models.Projects.Project

<div class="flex flex-wrap">
    <div class="w-9/12">
        <partial name="_Tile" />
        <partial name="_EditForm" />
    </div>
    <div class="w-3/12 p-0 col-right">
        <partial name="/Areas/Storage/Views/NoteItems/_Notes.cshtml" model="Model.Id" />
    </div>
</div>

