@model ERPKeeperCore.Enterprise.Models.Projects.Project

<div class="flex flex-wrap">
    <div class="w-full">
        <partial name="_Tile" />
        <partial name="_Grid_PurchaseQuotes" />
    </div>
</div>

