@model ERPKeeperCore.Enterprise.Models.Projects.Project

<div class="flex flex-wrap">
    <div class="w-8/12">
        <partial name="_Tile" />
        <partial name="_Grid_SaleQuotes" />
    </div>
</div>

