@model ERPKeeperCore.Enterprise.Models.Items.Item


<div class="mb-3">
    <form id="EditForm" method="post" action="/@CompanyId/Products/Items/@Model.Id/Update">
        <div class="row">
            <div class="col-12 p-2 font-weight-600">
                General Section
            </div>
            <div class="col-6 p-2 mb-3">
                <div class="p-1">
                    @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Items.Item>()
                    .ID("form_0")
                    .FormData(item)
                    .LabelMode(FormLabelMode.Static)
                    .LabelLocation(FormLabelLocation.Left)
                    .MinColWidth(300)
                    .ReadOnly(false)
                    .ShowColonAfterLabel(true)
                    .ColCount(1)
                    .Items(items => {
                    items.AddSimpleFor(m=>m.PartNumber);
                    items.AddSimpleFor(m=>m.UPC);
                   

                    items.AddSimpleFor(m=>m.ItemType).Editor(e=>e.SelectBox()
                    .SearchEnabled(true)
                    .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Items.Enums.ItemTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text}))
                    .DisplayExpr("Text").ValueExpr("Value"));

                    items.AddSimpleFor(m=>m.BrandGuid)
                    .Editor(e=>e.SelectBox()
                    .SearchEnabled(true)
                    .DataSource(Organization.ErpCOREDBContext.Brands.Select(t => new { t.Uid, t.Name }).ToList())
                    .DisplayExpr("Name").ValueExpr("Uid"));

                    items.AddSimpleFor(m=>m.Status).Editor(e=>e.SelectBox()
                    .SearchEnabled(true)
                    .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.ItemStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text}))
                    .DisplayExpr("Text").ValueExpr("Value"));

                    })
                    )


                </div>

            </div>
            <div class="col-6 p-2 mb-2">
                <div class="p-1">
                    @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Items.Item>()
                    .ID("form_1")
                    .FormData(item)
                    .LabelMode(FormLabelMode.Static)
                    .LabelLocation(FormLabelLocation.Left)
                    .MinColWidth(300)
                    .ReadOnly(false)
                    .ShowColonAfterLabel(true)
                    .ColCount(1)
                    .Items(items => {
                            items.AddSimpleFor(m => m.Description).Editor(e => e.TextArea().MinHeight(100));
                            items.AddSimpleFor(m=>m.Specification).Editor(e=>e.TextArea().MinHeight(200));
                    })
                    )
                </div>
            </div>

            <div class="col-12 p-2 mb-2 border-top border-bottom border-2">
                <div class="font-weight-600 mb-2">
                    Sale Section
                </div>
                <div class="p-0">
                    @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Items.Item>()
                    .ID("form_sale")
                    .FormData(item)
                    .LabelMode(FormLabelMode.Static)
                    .LabelLocation(FormLabelLocation.Left)
                    .MinColWidth(300)
                    .ReadOnly(false)
                    .ShowColonAfterLabel(true)
                    .ColCount(1)
                    .Items(items => {
                    items.AddSimpleFor(m=>m.UnitPrice).Editor(e=>e.NumberBox());
                    items.AddSimpleFor(m=>m.IncomeAccountUid)
                    .Editor(e=>e.SelectBox()
                    .SearchEnabled(true)
                    .DataSource(Organization.ChartOfAccount.IncomeAccounts.Select(t => new { t.Uid, t.Name }).ToList())
                    .DisplayExpr("Name").ValueExpr("Uid"));


                    })
                    )
                </div>
            </div>
            <div class="col-12 p-2 mb-2 border-bottom border-2">
                <div class="font-weight-600 mb-2">
                    Purchase Section
                </div>
                <div class="p-0">
                    @(Html.DevExtreme().Form<ERPKeeperCore.Enterprise.Models.Items.Item>()
                    .ID("form_purchase")
                    .FormData(item)
                    .LabelMode(FormLabelMode.Static)
                    .LabelLocation(FormLabelLocation.Left)
                    .MinColWidth(300)
                    .ReadOnly(false)
                    .ShowColonAfterLabel(true)
                    .ColCount(1)
                    .Items(items => {

                    items.AddSimpleFor(m=>m.PurchaseAccountUid)
                    .Editor(e=>e.SelectBox()
                    .SearchEnabled(true)
                    .DataSource(Organization.ChartOfAccount.GetAccountsList().OrderBy(m=>m.Name).Select(t => new {t.Type, t.Uid, t.Name }).ToList())
                    .DataSourceOptions(o => o.Group("Type"))
                    .Grouped(true)
                    .GroupTemplate(@<text><div class="custom-icon"><span class="dx-icon-box icon"></span><%- key %></div></text>)
                    .DisplayExpr("Name")
                    .ValueExpr("Uid"));


                    })
                    )
                </div>
            </div>
            <div class="col-12 text-right">
                <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
                    Save
                </button>
            </div>
        </div>


    </form>
</div>