@model ERPKeeperCore.Enterprise.Models.Items.Item


<style>
    .dx-treelist .dx-flex > td {
        padding: 2px !important;
    }
</style>


<div id="treeListDemo" class="mb-3 border">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.CustomerItem>()
    .ID("gridList")
    .KeyExpr("Id").GroupPanel(groupPanel => groupPanel.Visible(true))
            .DataSource(d => d.RemoteController().Key("Id")
        .LoadUrl($"/api/{CompanyId}/Products/Items/{Model.Id}/CustomerItems/All"))
    .ShowRowLines(true)
    .ShowBorders(false)
    .Paging(paging => paging.PageSize(100))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
    .Width("100%")
    .ColumnAutoWidth(false)
    .Columns(columns => {
 

                columns.AddFor(m => m.Customer.Profile.Name).HeaderCellTemplate(@<text>Customer</text>)
 .CellTemplate(@<text>
        <a href="/@CompanyId/Customers/Customers/<%= data.CustomerId %>/">
                <%= data.Customer.Profile.Name %>
            </a>
        </text>);

            columns.AddFor(m => m.AmountSale).Width(120).Format("#,##");
            columns.AddFor(m => m.AmountSaleQuote).Width(120).Format("#,##");
    })
    )
</div>

