@model ERPKeeperCore.Enterprise.Models.Items.Item

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new { level = 0, displayName = "Products", url = $"/Products" })
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new { level = 0, displayName = "Detail", url = $"/Products/Items/{Model.Id}" })
    @await Html.PartialAsync("_MenuTemplate", new { level = 0, displayName = "Documents", url = $"/Products/Items/{Model.Id}/Documents" })
    @await Html.PartialAsync("_MenuTemplate", new { level = 0, displayName = "SaleQuotes", url = $"/Products/Items/{Model.Id}/SaleQuotes" })
    @await Html.PartialAsync("_MenuTemplate", new { level = 3, displayName = "Sales", url = $"/Products/Items/{Model.Id}/Sales" })
    @await Html.PartialAsync("_MenuTemplate", new { level = 0, displayName = "PurchaseQuotes", url = $"/Products/Items/{Model.Id}/PurchaseQuotes" })
    @await Html.PartialAsync("_MenuTemplate", new { level = 3, displayName = "Purchases", url = $"/Products/Items/{Model.Id}/Purchases" })
    @await Html.PartialAsync("_MenuTemplate", new { level = 0, displayName = "Customers", url = $"/Products/Items/{Model.Id}/Customers" })
    @await Html.PartialAsync("_MenuTemplate", new { level = 0, displayName = "Suppliers", url = $"/Products/Items/{Model.Id}/Suppliers" })
</div>
