@model ERPKeeperCore.Enterprise.Models.Items.Item

<div class="mb-2 border-bottom">
    <div class="row mb-2 font-weight-600">
        <div class="col-10 p-2">
            <a href="/@CompanyId/">@CompanyId</a>
            <a href="/@CompanyId/Products"> Products</a>
            <a href="/@CompanyId/Products/Groups"> Groups</a>
            @if (Model.ItemGroupId != null)
            {
                <a href="/@CompanyId/Products/Groups/@Model.ItemGroupId"> @Model.ItemGroup.Name</a>
            }
            <a href="/@CompanyId/Products/Items/@Model.Id"> @Model.PartNumber</a>
        </div>

        <div class="col-2 p-2 text-right">
            <div class="btn-group">
                <a class="btn btn-outline-light border btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-calculator"></i>
                </a>
                <ul class="dropdown-menu p-2">
                    <li>
                        <a href="/@CompanyId/Products/Items/@Model.Id/Copy">Copy</a>
                    </li>
                    <li>
                        <a href="/@CompanyId/Products/Items/@Model.Id/UpdateStock">Stock</a>
                    </li>
                    <li>
                        <a href="/@CompanyId/Products/Items/@Model.Id/Delete">Delete</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="text-right p-1">
        <a href="/@CompanyId/Products/Items/@Model.Id">Overview</a>  ·
        <a href="/@CompanyId/Products/Items/@Model.Id/Estimates">Estimates</a>  ·
        <a href="/@CompanyId/Products/Items/@Model.Id/Purchases">Purchases</a>  ·
        <a href="/@CompanyId/Products/Items/@Model.Id/Sales">Sales</a> ·
        <a href="/@CompanyId/Products/Items/@Model.Id/Edit">Edit</a>
    </div>
</div>