@model ERPKeeperCore.Enterprise.Models.Items.Item

<div class="border">
    <div class="p-2">
        <a href="/@CompanyId/Products/Items/@Model.Id">Overview</a>  ·
        <a href="/@CompanyId/Products/Items/@Model.Id/Estimates">Estimates</a>  ·
        <a href="/@CompanyId/Products/Items/@Model.Id/Purchases">Purchases</a>  ·
        <a href="/@CompanyId/Products/Items/@Model.Id/Sales">Sales</a> ·
        <a href="/@CompanyId/Products/Items/@Model.Id/Edit">Edit</a>
    </div>
</div>