@model ERPKeeperCore.Enterprise.Models.Items.Item


<div class="flex justify-between text-lg  font-semibold">
    <div class="p-2">
        <a href="/Products"> Products</a>
        <span>
            <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/Products/Items">Items</a>
        </span>
        @if (Model.ItemGroupId != null)
        {
            <span>/</span>
            <a href="/Products/Groups"> Groups</a>
            <span>/</span>
            <a href="/Products/Groups/@Model.ItemGroupId">
                @Model.ItemGroup.Name
            </a>
        }

        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
        <a href="/Products/Items/@Model.Id"> @Model.PartNumber</a>
    </div>

    <div class="flex gap-1 p-2">
        <div>
            <a href="https://advancemaker.com/Products/Search?q=@Model.PartNumber">
                <i class="fa-solid fa-link"></i>
            </a>
        </div>
        <div class="dropdown dropleft ">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border roundedmin-w-64 min-h-40" aria-labelledby="dropdownMenuLink">
                <div>
                    <a href="/Products/Items/@Model.Id/Refresh">Refresh</a>
                </div>
                <div>
                    <a href="/Products/Items/@Model.Id/Copy">Copy</a>
                </div>
                <div>
                    <a href="/Products/Items/@Model.Id/UpdateStock">Stock</a>
                </div>
                <div>
                    <a href="/Products/Items/@Model.Id/Delete">Delete</a>
                </div>
            </div>
        </div>





    </div>


</div>
