@model ERPKeeperCore.Enterprise.Models.Items.Item



<style>
    .dx-treelist .dx-flex > td {
        padding: 2px !important;
    }
</style>


<div id="treeListDemo" class="mb-3 border">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseItem>()
            .ID("gridList")
            .KeyExpr("Id").GroupPanel(groupPanel => groupPanel.Visible(true))
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/api/{CompanyId}/Products/Items/{Model.Id}/PurchaseItems/All"))
            .KeyExpr("Id").GroupPanel(groupPanel => groupPanel.Visible(true))
            .ShowRowLines(true)
            .ShowBorders(false)
            .Width("100%")
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))

            .ColumnAutoWidth(false)
            .Columns(columns =>
            {
                columns.AddFor(m => m.Purchase.Date).SortOrder(SortOrder.Desc).SortIndex(1).Width(130);
          
                columns.AddFor(m => m.Purchase.Name)
            .Width(150)
            .CellTemplate(@<text>
        <a href="/@CompanyId/Suppliers/Purchases/<%= data.Purchase.Id %>/">
            <%= data.Purchase.Name %>
        </a>
    </text>);

                columns.AddFor(m => m.Purchase.Supplier.Profile.Name)
                .HeaderCellTemplate(@<text>Supplier</text>)
    .CellTemplate(@<text>
        <a href="/@CompanyId/Suppliers/Suppliers/<%= data.Purchase.Supplier.Profile.Id %>/">
            <%= data.Purchase.Supplier.Profile.Name %>
        </a>
    </text>);

                columns.AddFor(m => m.Purchase.Reference);
                columns.AddFor(m => m.Quantity).Width(100).Format("#,##0");
                columns.AddFor(m => m.PriceAfterDiscount).Width(100).Format("#,##0");
                columns.AddFor(m => m.LineTotal).Width(100).Format("#,##0");
            })
        )
</div>

