@model ERPKeeperCore.Enterprise.Models.Items.Item



<style>
    .dx-treelist .dx-flex > td {
        padding: 2px !important;
    }
</style>


<div id="treeListDemo" class="mb-3 border">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.Sale>()
    .ID("gridList")
    
    .RowAlternationEnabled(true)
    .KeyExpr("Id")
    .ShowRowLines(true)
    .ShowBorders(false)
    .Paging(paging => paging.PageSize(100))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
    .ColumnAutoWidth(false)
    .Columns(columns => {
    columns.AddFor(m=>m.Date).SortOrder(SortOrder.Desc).SortIndex(1).Width(130);
    columns.AddFor(m=>m.Status).SortOrder(SortOrder.Desc).SortIndex(2).Lookup(lookup => lookup
    .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text}))
    .DisplayExpr("Text")
    .ValueExpr("Value")
    );
   

    columns.AddFor(m=>m.Customer.Profile.Name)

    .CellTemplate(@<text>
            <a href="/Sales/Customers/<%= data.Quote.Profile.Id %>/">
                <%= data.Quote.Profile.Name %>
            </a>
        </text>);

    columns.AddFor(m=>m.Reference);
        columns.AddFor(m=>m.LinesTotal).Format("#,##0.00");

    })
    )
</div>

