@model ERPKeeperCore.Enterprise.Models.Items.Item


<style>
    .dx-treelist .dx-flex > td {
        padding: 2px !important;
    }
</style>


<div id="treeList" class="">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.SaleItem>()
            .ID("gridList")
            .KeyExpr("Id").GroupPanel(groupPanel => groupPanel.Visible(true))
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/api/Products/Items/{Model.Id}/SaleItems/All"))
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
            .Width("100%")
            .ColumnAutoWidth(false)
            .Columns(columns =>
            {
                columns.AddFor(m => m.Sale.Date).Width(130)
                .SortOrder(SortOrder.Desc).SortIndex(1);

                columns.AddFor(m => m.Sale.Name).Width(150)
                .CellTemplate(@<text><a href="/Customers/Sales/<%= data.Sale.Id %>/"><%= data.Sale.Name %></a></text>);

                columns.AddFor(m => m.Sale.Name).Width(150)
                .HeaderCellTemplate(@<text>Customer</text>)
                .CellTemplate(@<text>
                    <a href="/Customers/Customers/<%= data.Sale.CustomerId %>">
                        <%= data.Sale.Customer.Profile.Name %>.
                    </a>
                </text>);

                columns.AddFor(m => m.Sale.Reference).Width(150);
                columns.AddFor(m => m.Quantity).Width(80).Format("#,##0.00");
                columns.AddFor(m => m.Price).Width(80).Format("#,##0.00");
                columns.AddFor(m => m.LineTotal).AllowEditing(false).Format("#,##0.00");
                //columns.Add().DataField("Id");
            })
        )
</div>

