@model ERPKeeperCore.Enterprise.Models.Items.Item

<div class="row">

    <div class="col p-0 col-center mh-100v border-right border-2">
        <partial name="_Menu_Action" />
        <partial name="_Detail" />
    </div>

    <div class="col-4 p-0 col-right">
        <partial name="_Summary" />


        <div class="row bg-fb2 py-2 rounded">
            <div class="col-6">
                <span class="font-weight-600">Parameters</span>
            </div>
            <div class="col-6">
            </div>



        </div>

    </div>
</div>

