@model ERPKeeperCore.Enterprise.Models.Items.Item

<div class="flex flex-wrap">

    <div class="w-8/12">
        <partial name="_Menu_Action" />
        <partial name="_EstimatesList" />
    </div>
 
</div>

