@model ERPKeeperCore.Enterprise.Models.Items.Item

<div class="flex">
    <div class="w-full p-0 col-center">
        <partial name="_Menu_Action" />
        <partial name="_Sales_Items_List" />
    </div>
 
</div>

