<div class="globalContainer">
    <div id="contentCol" style="height:440px;padding:30px;background-image:url('/Content/BackGround/backgroud_login.png')">
        Error access Level need.
        <br /><br />
        @Html.ActionLink("Access Check", "Check", "Access", new { Area = "Members" }, null)
    </div>
</div>
