@model ERPKeeperCore.Enterprise.Models.Assets.AssetType

<form id="EditForm" action="/@CompanyId/Assets/Assets/@Model.Id/Update" method="post">
    <div class="m-1m">
        <div class="flex">
            <div class="col-6 p-1">
                <div class="p-1 mb-2 rounded">
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m=>m.Name).Label("Name")</div>
                </div>
            </div>
            <div class="col-6 p-1">
                <div class="p-1 mb-2 rounded">
                    <div class="mb-2">@Html.DevExtreme().TextAreaFor(m=>m.Description).Label("Description")</div>
                </div>
            </div>
            <div class="w-full p-2 text-right">
                <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
