@model ERPKeeperCore.Enterprise.Models.Assets.AssetType

<div class="flex p-2 mb-2 rounded ">
    <div class="w-9/12 p-0 font-weight-600">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Assets">Assets</a>
        /
        <a href="/@CompanyId/Assets/AssetTypes">Types</a>
        /
        <a href="/@CompanyId/Assets/AssetTypes/@Model.Id">@Model.Name</a>

    </div>
    <div class="w-4/12 p-0 text-right">
    </div>
</div>
