@model ERPKeeperCore.Enterprise.Models.Assets.AssetType

<div class="row p-2 mb-2 rounded ">
    <div class="col-8 p-0 font-weight-600">
        <a href="/@CompanyId/Assets">Assets</a>
        /
        <a href="/@CompanyId/Assets/AssetTypes">Types</a>
        /
        <a href="/@CompanyId/Assets/AssetTypes/@Model.Id">@Model.Name</a>

    </div>
    <div class="col-4 p-0 text-right">
    </div>
</div>
