@model ERPKeeperCore.Enterprise.Models.Assets.AssetType

<div class="row p-2 mb-2 rounded border-bottom border-2">
    <div class="col-8 p-0 font-weight-600">
        <a href="/@CompanyId/Assets">Assets</a>
        <i class="fa-solid fa-caret-right"></i>
        <a href="/@CompanyId/Assets/AssetTypes">Types</a>
        <i class="fa-solid fa-caret-right"></i>
        <a href="/@CompanyId/Assets/AssetTypes/@Model.Uid">@Model.Name</a>

    </div>
    <div class="col-4 p-0 text-right">
    </div>
</div>
