@model ERPKeeperCore.Enterprise.Models.Assets.AssetType

<div class="flex justify-between">
    <div class="font-semibold text-lg p-2">
        <a href="/@CompanyId/Assets">Assets</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
        <a href="/@CompanyId/Assets/AssetTypes">Types</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
        <a href="/@CompanyId/Assets/AssetTypes/@Model.Id">@Model.Name</a>
    </div>
    <div class="">
    </div>
</div>
