@model ERPKeeperCore.Enterprise.Models.Assets.AssetType

<div class="flex">
    <div class="col-center-div gflex mh-100v border-right border-2">
        
        <partial name="_EditForm" />
        <partial name="_Assets_Grid" />
    </div>
    <div class="col-right w-3/12">
    </div>
</div>

