@model ERPKeeperCore.Enterprise.Models.Assets.AssetType

<div class="flex flex-wrap">
    <div class="col-center-div grow mh-100v border-right border-2">
        
        <partial name="_EditForm" />
        <partial name="_Assets_Grid" />
    </div>
    <div class="col-right-div w-3/12">
    </div>
</div>

