
<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Products", Url = "/Products" })
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Brands", Url = "/Products/Brands", Count = Organization.ErpCOREDBContext.Brands.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Items", Url = "/Products/Items", Count = Organization.ErpCOREDBContext.Items.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 3, DisplayName = "Accounts", Url = "/Products/Items/Accounts", Count = Organization.ErpCOREDBContext.Items.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Inventory", Url = "/Products/Inventory" })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Groups", Url = "/Products/Groups", Count = Organization.ErpCOREDBContext.ItemGroups.Count() })
</div>
