
<div class="bg-gray-100 p-2 mb-2 min-h-20">
    @(Html.DevExtreme().FileUploader()
        .ID("uploadFile")
        .Name("uploadFile")
        .Multiple(true)
        .AllowedFileExtensions(new string[] { ".xlsx", ".docx", ".pdf", ".png", ".jpg" })
        .UploadMode(FileUploadMode.Instantly)
        .UploadUrl($"/{CompanyId}/Customers/SaleQuotes/{Model.Id}/DocumentUpload"))
</div>