@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote






<div class="p-2 text-right">
    <a href="/@CompanyId/Customers/SaleQuotes/@Model.Id/Items/Avaliable"><i class="fa-solid fa-circle-plus"></i> Item</a>
</div>
<div id="treeListDemo" class="mb-3 border">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.SaleQuoteItem>()
            .ID("gridList")
            .KeyExpr("Id")
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
            .Width("100%")
            .WordWrapEnabled(true)
            .ColumnAutoWidth(false)
            .DataSource(d =>
            d.RemoteController()
            .Key("Id")
            .LoadUrl($"/API/{CompanyId}/Customers/SaleQuotes/{Model.Id}/Items/All")
            .InsertUrl($"/API/{CompanyId}/Customers/SaleQuotes/{Model.Id}/Items/Insert")
            .UpdateUrl($"/API/{CompanyId}/Customers/SaleQuotes/{Model.Id}/Items/Update")
            .UpdateMethod("Post")
            .DeleteUrl($"/API/{CompanyId}/Customers/SaleQuotes/{Model.Id}/Items/Delete")
            .DeleteMethod("Post"))
            .Editing(editing => editing.AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))

            .KeyExpr("Id")
            .Columns(columns =>
            {
                columns.AddFor(m => m.Order).SortOrder(SortOrder.Asc).SortIndex(0).Width(40);


                columns.AddFor(m => m.PartNumber).Width(150)
                .CellTemplate(@<text><a target="_blank" href="/@CompanyId/Products/Items/<%= data.ItemId %>/"><%= data.PartNumber %></a></text>)
                .FormItem(i => i.Editor(e => e.TextArea().MinHeight(150)));

                columns.AddFor(m => m.Description).FormItem(i => i.Editor(e => e.TextArea().MinHeight(150)));
                columns.AddFor(m => m.Price).Width(130).Format("#,##0.00");
                columns.AddFor(m => m.Quantity).Width(130).Format("#,##0.00");
                columns.AddFor(m => m.LineTotal).AllowEditing(false).Width(130).Format("#,##0.00").FormItem(i => i.Visible(false));
            })
        .Summary(s => s.TotalItems(items =>
        {
            items.AddFor(m => m.LineTotal).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
        }))
        .OnInitNewRow("function(e) { e.data.Price = 0;e.data.Quantity = 1; }")
        )
</div>