@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote

<div id="lefmenu_holder" class="">


    <div class="lh-120">
        <a href="/Customers/SaleQuotes/@Model.Id">@Model.Name</a>
    </div>

    <div class="lh-120">
        @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Detail", Url = $"/Customers/SaleQuotes/{Model.Id}" })
        @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Items", Url = $"/Customers/SaleQuotes/{Model.Id}/Items", Count = Model.Items.Count() })
        @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Documents", Url = $"/Customers/SaleQuotes/{Model.Id}/Documents" })

        @if (Model.SaleId != null)
        {
            @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Sale", Url = $"/Customers/Sales/{Model.SaleId}" })
        }
    </div>

    @if (Model.SaleId != null)
    {
        <div class="lh-120">
            <div>Sale</div>
        </div>
    }

    <div class="lh-120">
        @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Export", Url = $"/Customers/SaleQuotes/{Model.Id}/Export" })
    </div>
</div>