@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote

<div class="row font-weight-600  text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId/Customers"> Customers</a>
        / <a href="/@CompanyId/Customers/SaleQuotes"> SaleQuotes</a>
       / <a href="/@CompanyId/Customers/SaleQuotes/@Model.Id"> @Model.Name</a>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12 p-0 text-left">
        <a href="/@CompanyId/Customers/SaleQuotes/@Model.Id/">Detail</a>  ·
        <a href="/@CompanyId/Customers/SaleQuotes/@Model.Id/Items">Items</a>  ·
        <a href="/@CompanyId/Customers/SaleQuotes/@Model.Id/Export" target="_blank" >Export</a>
    </div>
</div>
