@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote





<div class="flex flex-wrap">
    <div class="col-center-div w-9/12 h-full">
        <partial name="_Documents_Grid" />
    </div>
    <div class="col-right-div w-3/12">
        <partial name="_Documents_Upload" />
    </div>
</div>