@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote

<partial name="_Tile" />

<div class="flex flex-wrap">
    <div class="col-center-div grow">
        <partial name="_EditForm" />
    </div>
    <div class="col-right-div w-3/12">
        <partial name="_Summary" />
    </div>
</div>