@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote

<div class="flex">
    <div class="col-center-div grow">
        <a href="/@CompanyId/Customers/SaleQuotes/@Model.Id/Items/Avaliable">Add Item</a>
        <partial name="_ItemsList" />
    </div>
</div>

