@model ERPKeeperCore.Enterprise.Models.Customers.Customer

<div class="bg-fb1 p-2 rounded mb-2">
    <div class="flex">
        <div class="col-10 p-0">
            <div class="font-weight-bold">
                @Model.Profile.Name
            </div>
            @Model.Profile.TaxNumber  ·  @Model.Profile.ShotName<br />
        </div>
        <div class="col-2 p-0 text-right">
            <a href="/@CompanyId/Profiles/@Model.Id">
                <span class="material-icons-outlined">
                    badge
                </span>
            </a>
        </div>
    </div>
</div>


