
<div id="treeList" class="">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.ReceivePayment>()
        .ID("gridList")
        .KeyExpr("Id")
        .DataSource(d => d.RemoteController().Key("Id")
        .LoadUrl($"/API/Customers/Customers/{Model.Id}/ReceivePayments/All"))
        .RowAlternationEnabled(true).AllowColumnReordering(true)
        .ShowRowLines(true)
        .ShowBorders(false)
        .Paging(paging => paging.PageSize(100))
        .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
        .FilterRow(filterRow => filterRow.Visible(true))
        .ColumnAutoWidth(false)
        .ColumnChooser(columnChooser => columnChooser.Enabled(true))
        @*.AutoExpandAll(true)*@

        .Columns(columns =>
            {
                columns.AddFor(m => m.Date).SortOrder(SortOrder.Desc).SortIndex(1).Width(130);

                columns.AddFor(m => m.Status).AllowEditing(false).Width(80).Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Customers.Enums.PaymentStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Name)
            .Width(130)
            .Visible(false)
            .CellTemplate(new JS("function(container, options) { $('<a>').attr('href', '/Customers/ReceivePayments/' + options.data.Id + '/').text('RP:' + options.data.Name).appendTo(container); }"));


                columns.AddFor(m => m.SaleId)
            .Width(130)
            .CellTemplate(new JS("function(container, options) { $('<a>').attr('href', '/Customers/ReceivePayments/' + options.data.Id + '/').text(options.data.Sale.Name).appendTo(container); }"));



                columns.AddFor(m => m.Sale.CustomerId).Lookup(lookup => 
               lookup.DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.Name }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .CellTemplate(new JS("function(container, options) { $('<a>').attr('href', '/Customers/Customers/' + options.data.Sale.CustomerId + '/').text(options.displayValue).appendTo(container); }"));
       

                columns.AddFor(m => m.Reference).Width(180);
                columns.AddFor(m => m.Amount).Width(130).Format("#,##0.00");
                columns.AddFor(m => m.Discount_Given_Expense_Account).Width(130).Format("#,##0.00");

                columns.AddFor(m => m.PayToAccountId).Lookup(lookup =>
            lookup.DataSource(Organization.ErpCOREDBContext.Accounts.Select(i => new { Value = i.Id, Text = i.Name }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .CellTemplate(new JS("function(container, options) { $('<a>').attr('href', '/Accounting/Accounts/' + options.data.PayToAccountId + '/').text(options.displayValue).appendTo(container); }"));




                columns.AddFor(m => m.RetentionTypeId).Lookup(lookup =>
            lookup.DataSource(Organization.ErpCOREDBContext.RetentionTypes.Select(i => new { Value = i.Id, Text = i.Name }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .CellTemplate(new JS("function(container, options) { $('<a>').attr('href', '/Financial/RetentionTypes/' + options.data.RetentionTypeId + '/').text(options.displayValue).appendTo(container); }"));









                columns.AddFor(m => m.IsPosted).AllowEditing(false).Width(30).HeaderCellTemplate(@<text> </text>).CellTemplate(new JS("function(container, options) { $('<i>').addClass('fas fa-fingerprint text-' + options.data.IsPosted).appendTo(container); }"));


            })
        )
</div>

