@model ERPKeeperCore.Enterprise.Models.Customers.Customer


<div id="treeListDemo" class="mb-3 border">

    @(
            Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.SaleQuote>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Customers/Customers/{Model.Id}/SaleQuotes/All")
            .InsertUrl($"/API/{CompanyId}/Customers/Customers/{Model.Id}/SaleQuotes/Insert")
            .InsertMethod("Post")
            .UpdateUrl($"/API/{CompanyId}/Customers/Customers/{Model.Id}/SaleQuotes/Update")
            .UpdateMethod("Post"))
            .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))
            .StateStoring(stateStoring => stateStoring.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("Customer_SaleQuotes"))
            .RowAlternationEnabled(true)
            .KeyExpr("Id")
            .ShowRowLines(false)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
            .AllowColumnResizing(true)
            .ColumnAutoWidth(false)
            .ColumnChooser(columnChooser => columnChooser.Enabled(true))
            .Columns(columns =>
            {
                columns.AddFor(m => m.Date)
            .SortOrder(SortOrder.Desc)
            .SortIndex(1)
            .Width(130);

                columns.AddFor(m => m.Status)
            .Width(80)
            .Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Customers.Enums.SaleQuoteStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Name)
            .Width(130)
            .AllowEditing(false)
            .CellTemplate(@<text><a href="/@CompanyId/Customers/SaleQuotes/<%= data.Id %>/"><%= data.Name %></a></text>);


                columns.Add().DataField("Reference").Width(180);
                columns.Add().DataField("Total").Width(130).Format("#,##0.00");
                columns.Add().DataField("Tax").Width(130).Format("#,##0.00");

                columns.AddFor(m => m.TaxCodeId)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.TaxCodes.Select(i => new { Value = i.Id, Text = i.Name }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .HeaderCellTemplate(@<text>TaxCode</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Taxes/TaxCodes/<%= data.TaxCodeId %>/"><%= displayValue %></a></text>);



            })
        .Summary(s =>
        s.TotalItems(items =>
        {
            items.AddFor(m => m.LinesTotal).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat(",##0");
            items.AddFor(m => m.Total).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat(",##0");
        }))
        .OnInitNewRow("onInitNewRow")
        )
</div>

<script>
    @{
        var taxCode = Organization.TaxCodes.GetDefault(ERPKeeperCore.Enterprise.Models.Taxes.Enums.TaxDirection.Output);
    }

        function onInitNewRow(e) {
            const today = new Date();
            e.data.Date = today;
            e.data.Status = 0;

    @if (taxCode != null)
    {
        <text>
                    e.data.TaxCodeId = '@taxCode.Id';
        </text>
    }
            }
</script>