@model ERPKeeperCore.Enterprise.Models.Customers.Customer

<div class="lh-120">
    <a href="/Customers">Customers</a>
</div>
<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Home", Url = $"/Customers/Customers/{Model.Id}" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Quotes", Url = $"/Customers/Customers/{Model.Id}/SaleQuotes", Count = Organization.ErpCOREDBContext.SaleQuotes.Where(s => s.CustomerId == Model.Id).Count() })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Sales", Url = $"/Customers/Customers/{Model.Id}/Sales", Count = Organization.ErpCOREDBContext.Sales.Where(s => s.CustomerId == Model.Id).Count() })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Payments", Url = $"/Customers/Customers/{Model.Id}/ReceivePayments", Count = Organization.ErpCOREDBContext.ReceivePayments.Where(s => s.Sale.CustomerId == Model.Id).Count() })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Items", Url = $"/Customers/Customers/{Model.Id}/Items" })
</div>
