@model ERPKeeperCore.Enterprise.Models.Customers.Customer


@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div>
            <div class="flex e-r">
                <div class="w-10/12 p-l@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {
                            
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="w-2/12 p-0 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}


<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/@CompanyId/Profiles">Profiles</a> :
    <a href="/@CompanyId/Customers">Customers</a>
</div>
<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/@CompanyId/Customers/Customers/@Model.Id">@Model.Profile.Name</a>
</div>
<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        MenuTemplate(0, "Home", $"/{CompanyId}/Customers/Customers/{Model.Id}");
        MenuTemplate(0, "Quotes", $"/{CompanyId}/Customers/Customers/{Model.Id}/SaleQuotes", Organization.ErpCOREDBContext.SaleQuotes.Where(s => s.CustomerId == Model.Id).Count());
        MenuTemplate(0, "Sales", $"/{CompanyId}/Customers/Customers/{Model.Id}/Sales", Organization.ErpCOREDBContext.Sales.Where(s => s.CustomerId == Model.Id).Count());
        MenuTemplate(0, "Payments", $"/{CompanyId}/Customers/Customers/{Model.Id}/ReceivePayments", Organization.ErpCOREDBContext.ReceivePayments.Where(s => s.Sale.CustomerId == Model.Id).Count());
        MenuTemplate(0, "Items", $"/{CompanyId}/Customers/Customers/{Model.Id}/Items");
    }
</div>
