@model ERPKeeperCore.Enterprise.Models.Customers.Customer


<div class="row mb-2 font-weight-600">
    <div class="p-2">
        <a href="/">ERP</a>
        <a href="/@CompanyId/Customers">> Customers</a>
        <a href="/@CompanyId/Customers/Customers">> Customers</a>
        <a href="/@CompanyId/Customers/Customers/@Model.ProfileId">> @Model.Profile.Name</a>
    </div>
</div>

<div class="text-right mb-2">
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileId">Overview</a>  ·
    <a href="/Profiles/@Model.ProfileId">Profile</a>  ·
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileId/Estimates">Estimates</a> ·
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileId/Sales">Sales</a> ·
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileId/EstimateItems">Estimate Items</a> ·
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileId/SaleItems">Sale Items</a>
</div>
