@model ERPKeeperCore.Enterprise.Models.Customers.Customer


<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2">
        <a href="/@CompanyId/Customers"> Customers</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Customers/Customers"> Customers</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Customers/Customers/@Model.ProfileId"> @Model.Profile.Name</a>
    </div>
</div>

