@model ERPKeeper.Node.Models.Customers.Customer


<div class="row mb-2 font-weight-600">
    <div class="p-2">
        <a href="/">ERP</a>
        <a href="/@CompanyId/Customers">> Customers</a>
        <a href="/@CompanyId/Customers/Customers">> Customers</a>
        <a href="/@CompanyId/Customers/Customers/@Model.ProfileUid">> @Model.Profile.Name</a>
    </div>
</div>

<div class="text-right mb-2">
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileUid">Overview</a>  ·
    <a href="/Profiles/@Model.ProfileUid">Profile</a>  ·
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileUid/Estimates">Estimates</a> ·
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileUid/Sales">Sales</a> ·
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileUid/EstimateItems">Estimate Items</a> ·
    <a href="/@CompanyId/Customers/Customers/@Model.ProfileUid/SaleItems">Sale Items</a>
</div>
