@model ERPKeeper.Node.Models.Customers.Customer


<div class="row bg-fb2 py-2 rounded">
    <div class="col-6">
        Purchasesd
    </div>
    <div class="col-6">
        @Model.SumSaleBalance
    </div>

    <div class="col-6">
        Count
    </div>
    <div class="col-6">
        @Model.CountSales
    </div>

    <div class="col-6">
        Balance
    </div>
    <div class="col-6">
        @Model.TotalBalance
    </div>
</div>
