@model ERPKeeperCore.Enterprise.Models.Customers.Customer


<div class="flex bg-fb2 py-2 rounded">
  
    <div class="w-6/12">
        Count
    </div>
    <div class="w-6/12">
        @Model.TotalSalesCount
    </div>

    <div class="w-6/12">
        Balance
    </div>
    <div class="w-6/12">
        @Model.TotalBalance
    </div>
</div>
