@model ERPKeeperCore.Enterprise.Models.Customers.Customer


<partial name="_Tile.cshtml" />

<div class="flex flex-wrap">
    <div class="col-center-div w-9/12">
        <partial name="_EstimateItemsList" />
    </div>
    <div class="col-right-div w-3/12">
        <partial name="_Summary" />
    </div>
</div>

