@model ERPKeeperCore.Enterprise.Models.Customers.Customer


<partial name="_Tile.cshtml" />

<div class="flex">
    <div class="col-center-div w-full">
        <partial name="_ItemsList" />
    </div>
</div>

