@model ERPKeeperCore.Enterprise.Models.Customers.Customer

<partial name="_Tile.cshtml" />


<div class="flex flex-wrap">
    <div class="col-center-div w-full">
        <partial name="_Grid_SaleQuotes" />
    </div>
</div>

