<div class="row text-uppercase">
    <div class="col p-2 font-weight-600">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/OpeningBalances">OpeningBalances</a>
    </div>
    <div class="w-3/12 p-0 text-right">
    </div>
</div>