@model ERPKeeperCore.Enterprise.Models.Customers.Sale


<div id="treeListDemo" class="mb-3">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.SaleItem>()
    .ID("gridList")
    .KeyExpr("Id")
    .ShowRowLines(true)
    .ShowBorders(false)
    .Paging(paging => paging.PageSize(100))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))
    .Width("100%")
    .ColumnAutoWidth(false)
    .DataSource(d =>
    d.RemoteController()
    .Key("Id")
    .LoadUrl($"/API/{CompanyId}/Customers/Sales/{Model.Id}/Products/All")
    .InsertUrl($"/API/{CompanyId}/Customers/Sales/{Model.Id}/Products/Insert")
    .UpdateUrl($"/API/{CompanyId}/Customers/Sales/{Model.Id}/Products/Update")
    .UpdateMethod("Post")
    .DeleteUrl($"/API/{CompanyId}/Customers/Sales/{Model.Id}/Products/Delete")
    .DeleteMethod("Post")
    )

    .KeyExpr("Id")
    .Columns(columns => {

    columns.AddFor(m=>m.ItemId).Width(150)
    .CellTemplate(@<text><a href="/@CompanyId/Products/Items/<%= data.ItemId %>/"><%= displayValue %></a></text>)
    .Lookup(lookup => lookup
    .DataSource(Organization.ErpCOREDBContext.Items.Select(t => new { t.Id, t.PartNumber }).ToList())
    .DisplayExpr("PartNumber")
    .ValueExpr("Id")
    );

   


    columns.AddFor(m=>m.Description).FormItem(i => i.Editor(e => e.TextArea().MinHeight(150)));
    columns.AddFor(m=>m.Price).Width(100).Format(Format.FixedPoint);
    columns.AddFor(m=>m.Quantity).Width(100).Format(Format.FixedPoint);
    columns.AddFor(m=>m.LineTotal).Width(100).Format(Format.FixedPoint).FormItem(i=>i.Visible(false));
    columns.AddFor(m=>m.Description).Visible(false).FormItem(i => i.Editor(e => e.TextArea().MinHeight(150)));
    })
    .OnInitNewRow("function(e) { e.data.SalePrice = 0;e.data.Amount = 1; }")
    )
</div>