@model ERPKeeperCore.Enterprise.Models.Customers.Sale


<div id="treeListDemo" class="mb-3">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Transactions.CommercialShipment>()
    .ID("gridList")
    .KeyExpr("Id")
    .ShowRowLines(true)
    .ShowBorders(false)
    .Paging(paging => paging.PageSize(100))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))
    .Width("100%")
    .ColumnAutoWidth(false)
    .DataSource(d =>
    d.RemoteController()
    .Key("Id")
    .LoadUrl($"/API/{CompanyId}/Customers/Sales/{Model.Id}/Shipments/All")
    .InsertUrl($"/API/{CompanyId}/Customers/Sales/{Model.Id}/Shipments/Insert")
    .UpdateUrl($"/API/{CompanyId}/Customers/Sales/{Model.Id}/Shipments/Update")
    .UpdateMethod("Post")
    .DeleteUrl($"/API/{CompanyId}/Customers/Sales/{Model.Id}/Shipments/Delete")
    .DeleteMethod("Post")
    )
    .KeyExpr("Id")
    .Editing(editing => {
    editing.Mode(GridEditMode.Popup);
    editing.AllowAdding(true);
    editing.AllowDeleting(true);
    editing.AllowUpdating(true);
    editing.UseIcons(true);
    editing.Form(f=>f.ColCount(1).Width(500));
    })

    .Columns(columns => {



    columns.AddFor(m=>m.Shipdate).DataType(GridColumnDataType.DateTime).SortOrder(SortOrder.Desc).SortIndex(1).Width(200);



    var avaliableAddresses = Organization.ErpCOREDBContext.ProfileAddresses.Where(a=>a.ProfileGuid == Model.ProfileGuid);
    columns.AddFor(m=>m.ProfileAddressId).Width(150)
    .CellTemplate(@<text><a href="/@CompanyId/Products/Items/<%= data.ItemGuid %>/"><%= displayValue %></a></text>)
    .Lookup(lookup => lookup
    .DataSource(avaliableAddresses.Select(t => new { t.AddressGuid, t.Title }).ToList())
    .DisplayExpr("Title")
    .ValueExpr("AddressGuid"))
    .FormItem(i=>i.Label(l=>l.Text("Address")));


    var avaliablecontacts = Organization.ErpCOREDBContext.ProfileContacts.Where(a=>a.ProfileId == Model.ProfileGuid);
    columns.AddFor(m=>m.ProfileContactId).Width(150)
    .CellTemplate(@<text><a href="/@CompanyId/Products/Items/<%= data.ItemGuid %>/"><%= displayValue %></a></text>)
    .Lookup(lookup => lookup
    .DataSource(avaliablecontacts.Select(t => new { t.Id, t.Name }).ToList())
    .DisplayExpr("Name")
    .ValueExpr("Id")
    ).FormItem(i=>i.Label(l=>l.Text("Contact")));;


    columns.AddFor(m=>m.Method);
    columns.AddFor(m=>m.TrackingNo);
    columns.AddFor(m=>m.Note).FormItem(i => i
                    .Editor(e => e
                        .TextArea()
                        .Height(120))
                    .ColSpan(2)
                ).Visible(false);

    columns.Add().DataField("Id").Width(100).AllowEditing(false)
    .CellTemplate(@<text><a href="/@CompanyId/Customers/Sales/@Model.Id/Shipments/<%= data.Uid %>/Export">Export</a></text>);

    })
    .OnInitNewRow("function(e) { e.data.Shipdate = new Date(); }")
    )
</div>