@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="my-3 grid  grid-cols-2">

    <div class="border border-dark px-2 py-3  text-center">
        ????????????<br />
        <br />

        <div class="mt-4 pt-4">
        </div>
        <div class="">
            (<span class="w-48 inline-block">&nbsp;</span>)
            <br />
            ?????? __________________________
        </div>



    </div>
 

    <div class="border border-dark px-2 py-3  text-center">
        ????????????<br />
        <br />

        <div class="mt-4 pt-4">
        </div>
        <div class="">
            (<span class="w-48 inline-block">&nbsp;</span>)
            <br />
            ?????? __________________________
        </div>
    </div>


</div>