@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="lh-120">
    <a href="/Customers/Sales/@Model.Id">@Model.Name</a>
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Detail", Url = $"/Customers/Sales/{Model.Id}" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Items", Url = $"/Customers/Sales/{Model.Id}/Items", Count = Model.Items.Count() })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Payment", Url = $"/Customers/Sales/{Model.Id}/Payment" })

    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Shipments", Url = $"/Customers/Sales/{Model.Id}/Shipments" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Notes", Url = $"/Customers/Sales/{Model.Id}/Notes" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Documents", Url = $"/Customers/Sales/{Model.Id}/Documents" })
</div>
<div class="lh-120">
    <div class="font-semibold">
        Export
    </div>
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "TaxInvoice", Url = $"/Customers/Sales/{Model.Id}/Export?DocumentName=TaxInvoice" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "TaxInvoiceCopy", Url = $"/Customers/Sales/{Model.Id}/Export?DocumentName=TaxInvoiceCopy" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "TaxInvoice", Url = $"/Customers/Sales/{Model.Id}/ExportInVat?DocumentName=TaxInvoice" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "DeliveryNote", Url = $"/Customers/Sales/{Model.Id}/Export_DeliveryNote?DocumentName=DeliveryNote" })
</div>
