@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="flex justify-between font-semibold text-lg  text-uppercase">
    <div class="p-2">
        <a href="/Customers/Customers">Customers</a> /
        <a href="/Customers/Sales"> Sales</a> /
        <a href="/Customers/Sales/@Model.Id"> @Model.Name</a> / 
        <a href="/Customers/Sales/@Model.Id/@ActionName"> @ActionName</a>
    </div>
    <div class="p-0 text-right">
        @if (Model.Transaction == null || Model.Transaction.IsPosted == false)
        {
            <a href="/Accounting/JournalEntries/@Model.Id/Post">Post</a>
        }
        else
        {
            <a href="/Accounting/JournalEntries/@Model.Id/UnPost">UnPost</a>
        }
    </div>
</div>
