@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="flex border">
    <div class="w-full px-2 py-1">
        <a href="/@CompanyId/Customers/Sales/@Model.Id/">Detail</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Items">Items</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Payments">Payments</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Shipments">Shipments</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Documents">Documents</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Export" target="_blank">Export</a>  ·
        <a href="https://erp.advancemaker.com/Customers/Sale/@Model.Id">
            Old
        </a>
    </div>
</div>