@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="row mb-2 font-weight-600">
    <div class="p-2">
        <a href="/">ERP</a>
        <a href="/@CompanyId/Customers">> Customers</a>
        <a href="/@CompanyId/Customers/Sales">> Sales</a>
        <a href="/@CompanyId/Customers/Sales/@Model.Id">> @Model.Name</a>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12 p-0 text-right">
        <a href="/@CompanyId/Customers/Sales/@Model.Id/">Detail</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Items">Items</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Payments">Payments</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Shipments">Shipments</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Shipments">Documents</a>  ·
        <a href="/@CompanyId/Customers/Sales/@Model.Id/Shipments">Export</a>  ·
        <a href="https://erp.advancemaker.com/Customers/Sale/@Model.Id">
            Old
        </a>
    </div>
</div>
