@model ERPKeeperCore.Enterprise.Models.Customers.Sale



<div class="grid grid-cols-2">



    <div class="bg-gray-100 h-20 content-center border relative">
        <a href="/Customers/Sales/@Model.Id">
            <div class="text-3xl text-center font-semibold">
                @Model.Status
            </div>
        </a>

        <div class="absolute top-1 right-1">
            <div class="dropdown dropleft ">
                <a class="" href="#" role="button" id="dropdownStatusChange" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <div class="dropdown-menu p-2 bg-white border-2 border rounded w-60" aria-labelledby="dropdownMenuLink">

                
                    @if (Model.ReceivePayment == null)
                    {
                        <div>
                            <a href="/Customers/Sales/@Model.Id/Delete" onclick="return confirm('Are you sure you want to delete?');">Delete Invoice</a>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>





    <a href="/Customers/Sales/@Model.Id/Sales">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.AgeInDays
            </div>
            <div class="text-lg text-center">
                Age
            </div>
        </div>
    </a>


    <a href="/Customers/Sales/@Model.Id/Payment">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @if (Model.ReceivePayment == null)
                {
                    <span>Un Paid</span>
                }
                else
                {
                    <sapn>Paid</sapn>
                }

            </div>
            <div class="text-lg text-center">
                Payment
            </div>
        </div>
    </a>

    <div class="bg-gray-100 h-20 content-center border">
        <div class="text-2xl text-center font-semibold">
            @Model.Total.ToString("N0")
        </div>
        <div class="text-lg text-center">
            Total
        </div>
    </div>

</div>


