@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="flex flex-wrap">
    <div class="col-center-div grow  mh-100v border-right border-2">
        <partial name="_Tile" />
        <partial name="_EditForm" />
    </div>
    <div class="col-right-div w-3/12">
        <partial name="_Summary" />
        <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />
    </div>
</div>