@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="flex flex-wrap">
    <div class="w-9/12">
        <div class="p-2 bg-gray-100">
            @if (Model.ReceivePayment != null)
            {
                <div class="mb-2 border p-3">
                    Paid, <a href="/@CompanyId/Customers/ReceivePayments/@Model.ReceivePayment.Id/">View Payment</a>
                </div>



                <partial name="/Areas/Customers/Views/ReceivePayment/_EditForm.cshtml" model="Model.ReceivePayment" />

            }
            else
            {
                <div>
                    <div>
                        Un Paid
                    </div>
                    <div>
                        <a href="/@CompanyId/Customers/Sales/@Model.Id/Pay?Date=PurchaseDate">Pay @@Purchase Date @Model.Date.ToString("dd-MMM-yyyy")</a>
                    </div>
                    <div>
                        <a href="/@CompanyId/Customers/Sales/@Model.Id/Pay?Date=Today">Pay Today @DateTime.Today.ToShortDateString()</a>
                    </div>
                </div>
            }
        </div>
     
    </div>
</div>

