@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="flex flex-wrap">
    <div class="col-center-div grow">
        <partial name="_Tile" />




     

        <div class="p-2 bg-gray-100">
            @if (Model.ReceivePayment != null)
            {
                <div>
                    Paid, <a href="/@CompanyId/Customers/ReceivePayments/@Model.ReceivePayment.Id/">View Payment</a>
                </div>
            }
            else
            {
                <div>
                    <div>
                        Un Paid
                    </div>
                    <div>
                        <a href="/@CompanyId/Customers/Sales/@Model.Id/Pay?Date=PurchaseDate">Pay @@Purchase Date @Model.Date.ToShortDateString()</a>
                    </div>
                    <div>
                        <a href="/@CompanyId/Customers/Sales/@Model.Id/Pay?Date=Today">Pay Today @DateTime.Today.ToShortDateString()</a>
                    </div>
                </div>
            }
        </div>
     
    </div>
</div>

