@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="flex">
    <div class="col-center-div grow">
        <partial name="_Tile" />
        <partial name="_CommercialShipmentsList" />
    </div>
</div>

