

<div class="row mb-2 ">
    <div class="col-6 p-2 font-weight-600">
        <a href="/@CompanyId/Assets">Assets</a>
        <i class="fa-solid fa-caret-right"></i>
        <a href="/@CompanyId/Assets/AssetTypes">Types</a>
    </div>

    <div class="col-6 p-2 text-right">


        <div class="btn-group">
            <a class="btn btn-outline-light border btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-calculator"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Assets/AssetTypes/Refresh">Refresh</a>
                </li>
            </ul>
        </div>
    </div>

</div>


