

<div class="flex mb-2 ">
    <div class="col-6 p-2 font-weight-600">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Assets">Assets</a>
        /
        <a href="/@CompanyId/Assets/AssetTypes">Types</a>
    </div>

    <div class="col-6 p-2 text-right">


        <div class="btn-group">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Assets/AssetTypes/Refresh">Refresh</a>
                </li>
            </ul>
        </div>
    </div>

</div>


