

<div class="flex justify-between">
    <div class="font-semibold text-lg p-2">
        <a href="/@CompanyId/Assets">Assets</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
        <a href="/@CompanyId/Assets/AssetTypes">Types</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
    </div>

    <div class="p-2 text-right">
        <div class="dropdown dropleft ">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border roundedmin-w-64 min-h-40" aria-labelledby="dropdownMenuLink">
                <div>
                    <a href="/@CompanyId/Assets/AssetTypes/Refresh">Refresh</a>
                </div>
            </div>
        </div>
    </div>
</div>


