
<div class="row">
    <div class="col-6">
        <img src="~/images/brands/left.png" style="width:100%" />
    </div>
    <div class="col-6 text-right">
        <span style="font-size:72px;line-height:1" class="mb-5">
            Leave the tech<br /> to us
        </span>

        <div class="col" style="height:100px;">
        </div>

        <div class="mt-5">
            <div style="font-size:28px;" class="px-3 font-weight-bold text-danger">
                Focus on
            </div>
            
            <img src="~/images/brands/logo.png" />
        </div>

    </div>

   



    <div class="col-12 mt-5" style="font-size:21px;">
       @@2007-@DateTime.Now.Year EngineeirngCraft 
    </div>

</div>
