<div class="mt-3" style="font-size:21px;">
    <span class="px-2 font-weight-bold">
        <a href="/Home">Home</a>
    </span>
    <span class="px-2 font-weight-bold">
        <a href="/Contact">Contact</a>
    </span>
      <span class="px-2 font-weight-bold">
        <a href="https://AdvanceMaker.com">AdvanceMaker</a>
    </span>
    <span class="px-2 font-weight-bold">
        <a href="https://eazyTrax.com">EazyTrax</a>
    </span>
</div>
