@model ERPKeeperCore.Enterprise.Models.Customers.Customer

@{
    var items = Organization.ErpCOREDBContext.SaleItems.Where(s=>s.Sale.CustomerId == Model.Id).ToList();
}

<style>
    .dx-treelist .dx-row > td {
        padding: 2px !important;
    }
</style>

<div id="treeListDemo" class="mb-3 border">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Customers.SaleItem>()
    .ID("gridList")
    .DataSource(items)
    .KeyExpr("Id")
    .ShowRowLines(true)
    .ShowBorders(false)
    .GroupPanel(groupPanel => groupPanel.Visible(true))
    .Paging(paging => paging.PageSize(100))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
    .ColumnAutoWidth(false)
    .RowDragging(rd => rd
    .AllowDropInsideItem(false)
    .AllowReordering(false)
    )
    .Columns(columns => {
    columns.Add().DataField("Commercial.Date").HeaderCellTemplate(@<text>TrnDate</text>).SortOrder(SortOrder.Desc).SortIndex(1).Width(130);
    columns.Add().DataField("Item.PartNumber")
    .Width(130)
    .CellTemplate(@<text>
            <a href="/@CompanyId/Products/Items/<%= data.ItemId %>/">
                <%= data.Item.PartNumber %>
            </a>
        </text>);


    columns.Add().DataField("Commercial.Reference").HeaderCellTemplate(@<text>Reference</text>);
    columns.Add().DataField("Amount").Format("#,##0.00");
    columns.Add().DataField("SalePrice").Format("#,##0.00");
    columns.Add().DataField("LineTotal").Format("#,##0.00");


    })
    )
</div>

