@model ERPKeeperCore.Enterprise.Models.Customers.Customer


<div class="text-right mb-2 border p-2">
    <a href="/@CompanyId/Profiles/Customers/Customers/@Model.ProfileId">Overview</a>  ·
    <a href="/@CompanyId/Profiles/@Model.ProfileId">Profile</a>  ·
    <a href="/@CompanyId/Profiles/Customers/Customers/@Model.ProfileId/Estimates">Estimates</a> ·
    <a href="/@CompanyId/Profiles/Customers/Customers/@Model.ProfileId/Sales">Sales</a> ·
    <a href="/@CompanyId/Profiles/Customers/Customers/@Model.ProfileId/EstimateItems">Estimate Items</a> ·
    <a href="/@CompanyId/Profiles/Customers/Customers/@Model.ProfileId/SaleItems">Sale Items</a>
</div>
