@model ERPKeeperCore.Enterprise.Models.Customers.Customer



<div class="row">
    <div class="col p-0 col-center">
        
        <partial name="_EstimatesList" />
    </div>
    <div class="col-4 p-0 col-right">
        <partial name="_Summary" />
    </div>
</div>

