@model ERPKeeperCore.Enterprise.Models.Customers.Customer


<div class="row">
    <div class="col-8 p-0 col-center">
        
        <partial name="_SalesList" />
    </div>
    <div class="col-3 p-0 col-right">
        <partial name="_Summary" />
    </div>
</div>

