
<div class="p-2 bg-fb2 rounded mb-2 font-weight-bold">
    <div class="float-left pr-3">
        <a href="/Dashboard">General</a>  ·
    </div>
    <div class="float-left pr-3">
        <a href="/Dashboard/Projects">Projects</a>  ·

    </div>
    <div class="float-left pr-3">
        <a href="/Dashboard/Projects">Tasks</a>  ·
    </div>
    <div class="clearfix">

    </div>
</div>

