
<div class="row">
    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
            @await Component.InvokeAsync("_Partial_Menu_Accounting")
        </div>
    </div>
    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
            @await Component.InvokeAsync("_Partial_Menu_Products")
        </div>
    </div>

    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
            @await Component.InvokeAsync("_Partial_Menu_Profiles")
        </div>
    </div>
    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
        </div>
    </div>
    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
            @await Component.InvokeAsync("_Partial_Menu_Customers")
        </div>
    </div>
    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
            @await Component.InvokeAsync("_Partial_Menu_Suppliers")
        </div>
    </div>
    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
            @await Component.InvokeAsync("_Partial_Menu_Employees")
        </div>
    </div>
    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
            @await Component.InvokeAsync("_Partial_Menu_Investors")
        </div>
    </div>

    <div class="col-3  p-1">
        <div class="bg-fb1 mh-150 p-2">
            @await Component.InvokeAsync("_Partial_Menu_Operation")
        </div>
    </div>


</div>