@model ERPKeeper.Node.Models.Accounting.AccountItem

<div class="row bg-fb2 p-1 mb-2 mh-50 rounded">
    <div class="col-4 p-2">
        <span class=" ">
            Default Accounts
        </span>
    </div>
    <div class="col-4">

    </div>
    <div class="col-4 p-2 text-right">
        <a href="@Url.Action("AutoAssign")">
            <i class="fas fa-sync-alt fa-lg text-light"></i>
        </a>
    </div>
</div>
