<div class="globalContainer">
  <div class="row">
    <div class="col-2 col-Left pl-0">
      @Html.Action("_Main", "Default", new { Area = "Menu" })
    </div>
    <div class="col col-Middle p-0">
        @Html.Partial("_Menu")
        <script>
            function OnRowDblClick(s, e) {
                s.StartEditRow(e.visibleIndex);
            }
        </script>
        @Html.Action("PartialGridView")
    </div>
    <div class="col-3 col-Right pr-0">

    </div>
  </div>
</div>