@model ERPKeeper.Node.Models.Taxes.TaxCode

<div class="bg-fb2 p-2 mb-2 mh-50">
    <div class="row">
        <div class="col">
            <b>Tax Code</b><br />
            @if (Model != null)
            {
                <span>@Model.Name</span>
            }
            <br />
        </div>

        <div class="col text-right">
            @Html.DevExpress().PopupMenu(settings =>
    {
        settings.Name = "PopupMenuAction";
        settings.PopupElementID = "ImageMenuAction";
        settings.ShowPopOutImages = DefaultBoolean.True;
        settings.PopupAction = PopupAction.LeftMouseClick;


        settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);
        settings.Items.Add(subCreateSetting =>
        {
            subCreateSetting.Text = "Create";
            subCreateSetting.Items.Add("Tax Period").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "NewTaxPeriod", id = Model.Uid });
        });
    }).GetHtml()
        </div>
    </div>
</div>


