
<div id="treeList" class="mt-2 mb-3 border">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Logistic.LogisticProvider>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Logistic/LogisticProviders/All")
            .InsertUrl($"/API/{CompanyId}/Logistic/LogisticProviders/Insert")
            .UpdateUrl($"/API/{CompanyId}/Logistic/LogisticProviders/Update")
            .UpdateMethod("Post")
            .DeleteUrl($"/API/{CompanyId}/Logistic/LogisticProviders/Delete")
            .DeleteMethod("Post")
            )
            .KeyExpr("Id")
            .Width("100%")
            .WordWrapEnabled(true)
            .RowAlternationEnabled(true).AllowColumnReordering(true)
            .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))
            .StateStoring(stateStoring => stateStoring.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("LogisticProviders"))

            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .AllowColumnResizing(true).AllowColumnReordering(true)
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
            .ColumnAutoWidth(false)
            .Columns(columns =>
            {
                columns.AddFor(m => m.Name);
                columns.AddFor(m => m.WebSite);

            })
        )
</div>


