@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="row font-weight-600  text-uppercase">
    <div class="p-2">
        / <a href="/@CompanyId/Profiles/Suppliers"> Suppliers</a>
        / <a href="/@CompanyId/Profiles/Suppliers/Purchases"> Purchases</a>
        / <a href="/@CompanyId/Profiles/Suppliers/Purchases/@Model.Id"> @Model.Name</a>
    </div>
</div>
