@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="row">
    <div class="col-12 p-0 col-center">
        <partial name="_Menu_Action" />
        <partial name="_Items_List" />
    </div>
</div>

