
<div id="treeListDemo" class="mb-3 border">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Suppliers.Supplier>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Profiles/Suppliers/Suppliers/All"))
            .KeyExpr("Id")
            .RowAlternationEnabled(true)
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))

            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .ColumnAutoWidth(false)
            .Columns(columns =>
            {

                columns.AddFor(m => m.ProfileId).Width(150)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.TaxNumber }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>TAX</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Profiles/Suppliers/Suppliers/<%= data.Id %>/"><%= displayValue %></a></text>);

                columns.AddFor(m => m.ProfileId).Width(80)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.ShotName }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>SN</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Profiles/Suppliers/Suppliers/<%= data.Id %>/"><%= displayValue %></a></text>);


                columns.AddFor(m => m.ProfileId).Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Profiles.Select(i => new { Value = i.Id, Text = i.Name }))
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .AllowEditing(false)
            .HeaderCellTemplate(@<text>Customer</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Profiles/Suppliers/Suppliers/<%= data.Id %>/"><%= displayValue %></a></text>);

                columns.AddFor(m => m.TotalPurchases).Width(130).HeaderCellTemplate(@<text>Purchase</text>).Format(Format.FixedPoint);
                columns.AddFor(m => m.TotalBalance).Width(130).HeaderCellTemplate(@<text>Balance</text>).Format(Format.FixedPoint);

            })
        )
</div>


