

<div class="flex  text-uppercase">
    <div class="col-6 p-2 font-semibold">

        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/FiscalYears">FiscalYears</a>
    </div>
    <div class="col-6 p-2 text-right">
        <a href="/@CompanyId/Accounting/FiscalYears/Refresh">Refresh</a>
    </div>
</div>

