

<div class="row  text-uppercase">
    <div class="col-6 p-2 font-weight-600">

        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/FiscalYears">FiscalYears</a>
    </div>
    <div class="col-6 p-2 text-right">
        <a href="/@CompanyId/Accounting/FiscalYears/Prepares">Prepares</a>
    </div>
</div>

