

<div class="row p-1">
    <div class="col-6 p-0">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/FiscalYears">FiscalYears</a>
    </div>
    <div class="col-3 p-0">
    </div>
    <div class="col-3 p-0 text-right">
      
    </div>
</div>

