@model ERPKeeper.Node.Models.Transactions.Commercials.PaymentTerm


<div class="p-2 mb-2 bg-fb2 mh-50">
    <b>New Payment Term</b><br /><br />
    @using (Html.BeginForm("Save", "PaymentTerm"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => Model.Uid)
        <span>Name:</span> @Html.TextBoxFor(model => model.Name)<br />
        <span>
            Due Day Count:
        </span> @Html.TextBoxFor(model => model.DueDayCount)<br />




        <input type="submit" />
    }
</div>