

<div class="mb-2 overflow-hidden">
    @Html.DevExpress().Chart(settings =>
    {
        settings.Name = "IncomeChart";

        settings.Width = 325;
        settings.Height = 150;
        settings.BackColor = System.Drawing.ColorTranslator.FromHtml("#EEEEEE");

        settings.Titles.Add(new ChartTitle()
        {
            Font = new System.Drawing.Font("Tahoma", 12),
            Text = ""
        });
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.Legend.Visibility = DefaultBoolean.False;

        Series IncomeChartSeries = new Series("Series", DevExpress.XtraCharts.ViewType.Bar);
        IncomeChartSeries.ArgumentDataMember = "TrnDate";
        IncomeChartSeries.ValueDataMembers[0] = "IncomeAmount";
        IncomeChartSeries.CrosshairEnabled = DefaultBoolean.True;
        IncomeChartSeries.CrosshairLabelPattern = "{A:dd-MMM-yy} : {V:N0}";

        settings.Series.Add(IncomeChartSeries);


        ((XYDiagram)settings.Diagram).AxisY.Tickmarks.Visible = false;
        ((XYDiagram)settings.Diagram).AxisY.Tickmarks.MinorVisible = false;
        ((XYDiagram)settings.Diagram).AxisY.Label.Visible = false;
        ((XYDiagram)settings.Diagram).AxisX.Label.Visible = true;
        ((XYDiagram)settings.Diagram).AxisX.Label.TextPattern = "{V:MMM-yy}";
        ((XYDiagram)settings.Diagram).Margins.Left = 0;
        ((XYDiagram)settings.Diagram).Margins.Right = 0;


    }).Bind(Model).GetHtml()
</div>