

<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2 text-uppercase">
        <a href="/Financial">Financial</a>
        /
        <a href="/Financial/PaymentTerms">PaymentTerms</a>
    </div>

    <div class="text-right">

    </div>
</div>

