@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="p-2 text-right">
    <a href="/Suppliers/PurchaseQuotes/@Model.Id/Items/Avaliable"><i class="fa-solid fa-circle-plus text-lg"></i> Item</a>
</div>

<div id="treeList" class="">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuoteItem>()
    .ID("gridList")
    .KeyExpr("Id")
    .ShowRowLines(true)
    .ShowBorders(false)
    .Paging(paging => paging.PageSize(100))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
    .Width("100%")
    .ColumnAutoWidth(false)
    .DataSource(d =>
    d.RemoteController()
    .Key("Id")
    .LoadUrl($"/API/Suppliers/PurchaseQuotes/{Model.Id}/Items/All")
            .InsertUrl($"/API/Suppliers/PurchaseQuotes/{Model.Id}/Items/Insert")
            .UpdateUrl($"/API/Suppliers/PurchaseQuotes/{Model.Id}/Items/Update")
    .UpdateMethod("Post")
            .DeleteUrl($"/API/Suppliers/PurchaseQuotes/{Model.Id}/Items/Delete")
    .DeleteMethod("Post"))
    .Editing(editing => editing.Mode(GridEditMode.Form).AllowUpdating(IsOnEditMode).UseIcons(true))

    .KeyExpr("Id")
    .Columns(columns => {
                columns.AddFor(m => m.Order).SortOrder(SortOrder.Asc).SortIndex(0).Width(40);
                columns.AddFor(m => m.PartNumber).Width(150).CellTemplate(@<text><a target="_self" href="/Products/Items/<%= data.ItemId %>/"><%= data.PartNumber %></a></text>);
                columns.AddFor(m => m.Description).FormItem(i => i.Editor(e => e.TextArea().MinHeight(250)));
                columns.AddFor(m=>m.Price).Width(130).Format("#,##0.00");
                columns.AddFor(m=>m.Quantity).Width(130).Format("#,##0.00");
                columns.AddFor(m=>m.LineTotal).AllowEditing(false).Width(130).Format("#,##0.00").FormItem(i=>i.Visible(false));
    })
        .OnInitNewRow("function(e) { e.data.Price = 0;e.data.Quantity = 1; }")
        .Summary(s =>
        s.TotalItems(items =>
        {
            items.AddFor(m => m.Quantity).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.LineTotal).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
        }))
    )
</div>