@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="lh-120">
    <a href="/Suppliers/PurchaseQuotes/@Model.Id">@Model.Name</a>
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Detail", Url = $"/Suppliers/PurchaseQuotes/{Model.Id}" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Items", Url = $"/Suppliers/PurchaseQuotes/{Model.Id}/Items", Count = Model.Items.Count() })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Documents", Url = $"/Suppliers/PurchaseQuotes/{Model.Id}/Documents" })
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Export", Url = $"/Suppliers/PurchaseQuotes/{Model.Id}/Export" })
</div>
