@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="flex font-weight-600  text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId/Suppliers"> Suppliers</a>
        / <a href="/@CompanyId/Suppliers/PurchaseQuotes"> PurchaseQuotes</a>
       / <a href="/@CompanyId/Suppliers/PurchaseQuotes/@Model.Id"> @Model.Name</a>
    </div>
</div>

<div class="flex mb-2">
    <div class="col-12 p-0 text-left">
        <a href="/@CompanyId/Suppliers/PurchaseQuotes/@Model.Id/">Detail</a>  ·
        <a href="/@CompanyId/Suppliers/PurchaseQuotes/@Model.Id/Items">Items</a>  ·
        <a href="/@CompanyId/Suppliers/PurchaseQuotes/@Model.Id/Export" target="_blank" >Export</a>
    </div>
</div>
