@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="flex justify-between font-semibold text-lg">
    <div class="p-2">
        <a href="/Suppliers"> Suppliers</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm">

        </i> <a href="/Suppliers/PurchaseQuotes"> PurchaseQuotes</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm">

        </i> <a href="/Suppliers/PurchaseQuotes/@Model.Id"> @Model.Name</a>
    </div>
    <div class="p-2">

        <a href="/Suppliers/PurchaseQuotes/@Model.Id/Refresh">Refresh</a>
    </div>
</div>
