@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="flex font-semibold text-lg text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId/Suppliers"> Suppliers</a>
        / <a href="/@CompanyId/Suppliers/PurchaseQuotes"> PurchaseQuotes</a>
       / <a href="/@CompanyId/Suppliers/PurchaseQuotes/@Model.Id"> @Model.Name</a>
    </div>
</div>
