@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="bg-fb1 p-2 mb-2 ">
    <div class="font-weight-600">
        <span class="text-fs-1e">
            @Model.Status
        </span>
    </div>
</div>

<div class="bg-fb1 p-2 mb-2 ">
    <div class="font-weight-600">
        <span class="text-fs-1e">
            @if (Model.Status != ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseQuoteStatus.Close)
            {
                <a href="/Suppliers/Estimates/@Model.Id/Void">Void</a>
            }
        </span>
    </div>
</div>