@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="flex flex-wrap">
    <div class="w-full">
        <partial name="_Tile" />
    </div>
    <div class="w-8/12">
        <partial name="_ItemsList" />
    </div>
</div>

