@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="flex flex-wrap">
    <div class="w-full p-0 col-center">
        <partial name="_Items_Avaliable_Grid" />
    </div>
</div>

