@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<div class="flex">
    <div class="col-center-div grow">        
        
                <partial name="_ItemsList" />
    </div>
</div>

