@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePayment

<div class="bg-gray-200 p-2 border mb-2">
    <div class="font-weight-bold">
        @Model.Employee?.Profile.Name
    </div>
    @Model.Employee?.Profile.TaxNumber  ·  @Model.Employee?.Profile.ShotName<br />
</div>




