@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="bg-gray-200 p-2 mb-2 ">
    <div class="font-weight-600">
        <span class="text-fs-1e"@Model.Status></span>
    </div>
</div>


