@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="lh-120">
    <a href="/Suppliers/Purchases/@Model.Id">@Model.Name</a>
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Detail", Url = $"/Suppliers/Purchases/{Model.Id}" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Items", Url = $"/Suppliers/Purchases/{Model.Id}/Items", Count = Model.Items.Count() })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Payment", Url = $"/Suppliers/Purchases/{Model.Id}/Payment" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Shipments", Url = $"/Suppliers/Purchases/{Model.Id}/Shipments" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Documents", Url = $"/Suppliers/Purchases/{Model.Id}/Documents" })
</div>
<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Export", Url = $"/Suppliers/Purchases/{Model.Id}/Export" })
</div>
