@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase


@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div>
            <div class="flex  justify-between e-r">
                <div class="w-10/12 p-l@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {

                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="w-2/12 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}


<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/Suppliers/Purchases/@Model.Id">@Model.Name</a>
</div>

<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        MenuTemplate(0, "Detail", $"/Suppliers/Purchases/{Model.Id}");
        MenuTemplate(0, "Items", $"/Suppliers/Purchases/{Model.Id}/Items", Model.Items.Count());
        MenuTemplate(0, "Payment", $"/Suppliers/Purchases/{Model.Id}/Payment");
        MenuTemplate(0, "Shipments", $"/Suppliers/Purchases/{Model.Id}/Shipments");
        MenuTemplate(0, "Documents", $"/Suppliers/Purchases/{Model.Id}/Documents");
    }
</div>
<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        MenuTemplate(0, "Export", $"/Suppliers/Purchases/{Model.Id}/Export");
    }
</div>
