@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="row font-weight-600  text-uppercase">
    <div class="col-8 p-2">
        / <a href="/@CompanyId/Suppliers"> Suppliers</a>
        / <a href="/@CompanyId/Suppliers/Purchases"> Purchases</a>
        / <a href="/@CompanyId/Suppliers/Purchases/@Model.Id"> @Model.Name</a>
    </div>

    <div class="col">
         <a href="/@CompanyId/Suppliers/Purchases/@Model.Id/Unpost">UnPost</a>


    </div>
</div>
