@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase



<div class="flex border">
    <div class="col-12 px-2 py-1">
        <a href="/@CompanyId/Suppliers/Purchases/@Model.Id/">Detail</a>  ·
        <a href="/@CompanyId/Suppliers/Purchases/@Model.Id/Items">Items</a>  ·
        <a href="/@CompanyId/Suppliers/Purchases/@Model.Id/Payments">Payments</a>  ·
        <a href="/@CompanyId/Suppliers/Purchases/@Model.Id/Shipments">Shipments</a>  ·
        <a href="/@CompanyId/Suppliers/Purchases/@Model.Id/Shipments">Documents</a>  ·
        <a href="/@CompanyId/Suppliers/Purchases/@Model.Id/Shipments">Export</a>  ·
        <a href="https://erp.advancemaker.com/Suppliers/Purchases/@Model.Id">
            Old
        </a>
    </div>
</div>
