@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="flex font-semibold text-lg text-uppercase">
    <div class="p-2">
        / <a href="/@CompanyId/Suppliers"> Suppliers</a>
        / <a href="/@CompanyId/Suppliers/Purchases"> Purchases</a>
        / <a href="/@CompanyId/Suppliers/Purchases/@Model.Id"> @Model.Name</a>
    </div>

    <div class="grow">
         <a href="/@CompanyId/Suppliers/Purchases/@Model.Id/Unpost">UnPost</a>


    </div>
</div>
