@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase



<div class="bg-fb1 p-2 mb-2 mh-100">
    <div class="font-weight-600">
        @Model.Supplier.Profile.Name
    </div>
    <div>
      
    </div>
</div>
