@model ERPKeeper.Node.Models.Transactions.Commercials.Purchase



<div class="bg-fb1 p-2 mb-2 mh-100">
    <div class="font-weight-600">
        @Model.Profile.Name
    </div>
    <div>
        @Model.ProfileAddress.AddressLine
    </div>
</div>
