@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase


<div class="row">
    <div class="col-9 p-0 col-center">
        <partial name="_Top" />
        <partial name="_Profile" />
        <partial name="_Items" />


    </div>
    <div class="col-3 p-0 col-right">
        <partial name="_Status" />

    </div>
</div>

