@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="row">
    <div class="col p-0 col-center  mh-100v border-right border-2">
        <partial name="_Menu_Action" />
        <partial name="_EditForm" />
    </div>
    <div class="col-4 p-0 col-right">
        <partial name="_Summary" />
        <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />
    </div>
</div>

