@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase




<div class="flex flex-wrap">
    <div class="w-full p-0 col-center">
        <partial name="_Summary_Tile" />
    </div>
    <div class="w-full p-0 col-center">
        <partial name="_Items_List" />
    </div>
</div>