@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="flex">
    <div class="w-full p-0 col-center">
        <partial name="_Summary_Tile" />
        <partial name="_Menu_Action" />
        <partial name="_Items_List" />
    </div>
</div>