@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="flex">
    <div class="col-center grow">        
        
        <partial name="_CommercialShipmentsList" />
    </div>
</div>

