@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="flex flex-wrap">
    <div class="w-8/12">
        <partial name="_Summary_Tile" />
        <partial name="_CommercialShipmentsList" />
    </div>
</div>

