@model ERPKeeperCore.Enterprise.Models.Financial.RetentionType

<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2 text-uppercase">
        <a href="/Financial">Financial</a>
        /
        <a href="/Financial/RetentionTypes">RetentionTypes</a>

        /
        <a href="/Financial/RetentionTypes/@Model.Id">@Model.Name</a>


    </div>



</div>

