@model ERPKeeperCore.Enterprise.Models.Financial.RetentionType

<div class="flex font-semibold text-lg text-uppercase">
    <div class="p-2 text-uppercase">
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/RetentionTypes">RetentionTypes</a>

        /
        <a href="/@CompanyId/Financial/RetentionTypes/@Model.Id">@Model.Name</a>


    </div>



</div>

