

<div class="row p-1 bg-fb1">
    <div class="col-8 p-0 font-weight-600">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/Accounts">Accounts</a>

    </div>
    <div class="col-4 p-0 text-right">
        <div class="btn-group">
            <a class="btn btn-outline-light border btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">

            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/UpdateNumber">Number</a>
                </li>
            </ul>
        </div>


        <div class="btn-group">
            <a class="btn btn-outline-light border btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-calculator"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/UpdateCurrentBalance">Update Current Balance</a>
                </li>
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/UpdateHistoryBalance">Update History Balance</a>
                </li>
            </ul>
        </div>
    </div>
</div>

