
<div class="flex text-uppercase justify-between">
    <div class="p-2 font-semibold">
        <a href="/Accounting">Accounting</a>
        /
        <a href="/Accounting/Accounts">Accounts</a>
    </div>
    <div class="p-2">



        <div class="dropdown dropleft ">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border roundedmin-w-64 min-h-40" aria-labelledby="dropdownMenuLink">
                <div>
                    <a href="/Accounting/Accounts/UpdateNumber">Number</a>
                </div>
                <div>
                    <a href="/Accounting/Accounts/UpdateCurrentBalance">Update Current Balance</a>
                </div>
                <div>
                    <a href="/Accounting/Accounts/UpdateHistoryBalance">Update History Balance</a>
                </div>

            </div>
        </div>


    </div>
</div>

