@model ERPKeeper.Node.Models.Projects.Project

<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Partial("_MenuTop")
        </div>
        <div class="col col-Middle p-0">
            <div class="bg-fb2 p-2 mb-2 mh-50">
                <b>TASKS</b>
            </div>
            @Html.Action("PartialGridViewTasks")
        </div>
        <div class="col-3 col-Right pr-0">
           
        </div>
    </div>
</div>