

<div id="treeListDemo" class="mb-3 border">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Profiles.Profile>()
            .ID("gridList")
            .DataSource(d => d.RemoteController()
            .Key("Id")
            .LoadUrl($"/api/{CompanyId}/Profiles/All")
            .InsertUrl($"/api/{CompanyId}/Profiles/Insert")
            .UpdateUrl($"/api/{CompanyId}/Profiles/Update")
            .UpdateMethod("Post")
            .DeleteUrl($"/api/{CompanyId}/Profiles/Delete")
            .DeleteMethod("Post")
            )
            .Editing(editing => { editing.Mode(GridEditMode.Row); editing.AllowAdding(true); editing.AllowDeleting(true); editing.AllowUpdating(true); editing.UseIcons(true); })
            .KeyExpr("Id")
            .RowAlternationEnabled(true)
            .ShowRowLines(true)
            .ShowBorders(false)
            .Width("100%")
            .Paging(paging => paging.PageSize(200))
            .HeaderFilter(headerFilter => headerFilter.Visible(true))
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .ColumnAutoWidth(false)
            .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("Profiles"))
            .Columns(columns =>
            {
                columns.Add().DataField("TaxNumber").Width(150);

                columns.AddFor(m => m.Name).SortOrder(SortOrder.Asc).SortIndex(1)
            .CellTemplate(@<text><a href="/@CompanyId/Profiles/<%= data.Id %>/"><%= data.Name %></a></text>);

                columns.Add().DataField("ShotName").Width(130);

   
            })
        )
</div>


