

<div class="flex justify-between">
    <div class="font-semibold text-lg p-2">
        <a href="/@CompanyId/Profiles"> Profiles</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
    </div>
</div>
