


@{
     var Quotes = Organization
        .ErpNodeDBContext
        .PurchaseEstimates
        .Include("Profile")
        .Where(m => m.Status == QuoteStatus.Ordered || m.Status == QuoteStatus.Close)
        .Select(i => new
                                {
                                    i.Uid,
                                    i.TrnDate,
                                    i.Name,
                                    i.Status,
                                    ProfileUid = i.ProfileGuid,
                                    ShotName = i.Profile.ShotName,
                                    ProfileName = i.Profile.Name,
                                    i.Reference,
                                    i.Total,
                                })
        .ToList();
}


<style>
    .dx-treelist .dx-row > td {
        padding: 2px !important;
    }
</style>


<div id="treeListDemo" class="mb-3">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Estimations.SaleQuote>()
    .ID("gridList")
    

    .KeyExpr("Id")
    
        @*.ExpandedRowKeys(new[] { 1 })*@
    .ShowRowLines(true)
    .ShowBorders(false)
    .RowAlternationEnabled(true)
    .Paging(paging => paging.PageSize(100))

    //.SearchPanel(searchPanel => searchPanel.Visible(true))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))

    .ColumnAutoWidth(false)
        @*.AutoExpandAll(true)*@
    .RowDragging(rd => rd
    .AllowDropInsideItem(false)
    .AllowReordering(false)
        @*.OnDragChange("onDragChange")
            .OnDragEnd("onDragEnd")
            .ShowDragIcons(false)*@
    )
    .Columns(columns => {



    columns.AddFor(m=>m.TrnDate).Format("dd-MM-yyyy").SortOrder(SortOrder.Desc).SortIndex(1).Width(100);
    columns.AddFor(m=>m.Status).SortOrder(SortOrder.Desc).SortIndex(2).Lookup(lookup => lookup
    .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Estimations.Enums.QuoteStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text}))
    .DisplayExpr("Text")
    .ValueExpr("Value")
    );
    columns.Add().DataField("Name")
    .Width(130)
    .CellTemplate(@<text>
            <a href="/@CompanyId/Suppliers/Estimate/<%= data.Id %>/">
                <%= data.Name %>
            </a>
        </text>);

    columns.Add().DataField("ProfileName")
    .Width(300)
    .CellTemplate(@<text>
            <a href="/@CompanyId/Suppliers/Suppliers/<%= data.ProfileUid %>/">
                <%= data.ProfileName %>
            </a>
        </text>);

    columns.Add().DataField("Reference");
        columns.Add().DataField("LinesTotal").Format(Format.FixedPoint);
    columns.Add().DataField("Total").Format(Format.FixedPoint);
    //columns.Add().DataField("Id");
    })
    )
</div>

