

<div class="flex flex-wrap">
    <div class="font-semibold text-lg p-2">
        <a href="/Suppliers"> Suppliers</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
        <a href="/Suppliers/Quotes"> Quotes</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
    </div>
    <div class="text-right">
   @*     <a href="/Suppliers/Purchases/Ordered">Active</a>  ·
        <a href="/Suppliers/Purchases/Close">In-Active</a>
        <a href="/Suppliers/Purchases/Clear">Clear</a>*@
    </div>
</div>
