@using ERPKeeperCore.Enterprise.Models.Items.Enums



<div class="flex font-semibold  text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId/Employees"> Employees</a>
        / <a href="/@CompanyId/Employees/EmployeePayments"> Payments</a>
        / <a href="/@CompanyId/Employees/EmployeePaymentItems"> Items</a>
    </div>
    <div class="col-4 p-2">
        <a href="/@CompanyId/Employees/EmployeePaymentItems/Refresh">
            <i class="fa-solid fa-arrows-rotate"></i>
        </a>
    </div>
</div>

