@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div >
            <div class="row e-r">
                <div class="col-10 p-l@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {
                            <i class="fa-solid fa-l"></i>
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="col-2 p-0 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}

<div class="lh-120 bg-fb1 p-2 rounded border font-weight-600">
    <a href="/@CompanyId/Profiles">Profiles</a> :
    <a href="/@CompanyId/Profiles/Employees">Employees</a>
</div>


<div class="lh-120 bg-fb1 p-2 rounded border">
    @{
        MenuTemplate(0, "Employees", $"/{CompanyId}/Profiles/Employees/Employees", Organization.Employees.Count());
        MenuTemplate(0, "Positions", $"/{CompanyId}/Profiles/Employees/EmployeePositions", Organization.ErpCOREDBContext.EmployeePositions.Count());
        MenuTemplate(0, "Payments", $"/{CompanyId}/Profiles/Employees/EmployeePayments", Organization.ErpCOREDBContext.EmployeePayments.Count());
        MenuTemplate(1, "Periods", $"/{CompanyId}/Profiles/Employees/EmployeePaymentPeriods", Organization.ErpCOREDBContext.EmployeePaymentPeriods.Count());
        MenuTemplate(1, "Types", $"/{CompanyId}/Profiles/Employees/EmployeePaymentTypes", Organization.ErpCOREDBContext.EmployeePaymentTypes.Count());
       // MenuTemplate(1, "Items", $"/{CompanyId}/Profiles/Employees/EmployeePaymentItems", Organization.ErpCOREDBContext.EmployeePaymentTypes.Count());

    }
</div>

