@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="row mb-2 font-weight-600">
    <div class="p-2">
        / <a href="/@CompanyId/Profiles/Customers"> Customers</a>
        /<a href="/@CompanyId/Profiles/Customers/Sales"> Sales</a>
        / <a href="/@CompanyId/Profiles/Customers/Sales/@Model.Id"> @Model.Name</a>
    </div>
</div>
