@model ERPKeeper.Node.Models.Estimations.PurchaseQuote


<div class="bg-fb1 p-2 mb-2 ">
    <div class="font-weight-600">
        @Model.Name
    </div>
    <div class="font-weight-600">
     
    </div>
    <div>
      
    </div>
</div>


<div class="bg-fb1 p-2 mb-2 mh-100">
    <div class="font-weight-600">
       <a href="/Sales/Customers/@Model.Profile.Uid" >@Model.Profile.Name</a> 
    </div>
    <div class="font-weight-600">
        @if (Model.ProfileAddressGuid == null)
        {
            Model.ProfileAddress = Model.Profile.PrimaryAddress;
            Model.ProfileAddressGuid = Model.Profile.PrimaryAddress?.AddressGuid;
            Organization.SaveChanges();
        }
    </div>
    <div>
        @Model.Profile.PrimaryAddress.AddressLine
    </div>
</div>
