@model ERPKeeperCore.Enterprise.Models.Estimations.PurchaseQuote

<div class="row">
    <div class="col-8 pl-0 col-center">
        <partial name="_Top" />
        <partial name="_Profile" />
        <partial name="_Items" />
    </div>
    <div class="col-4 pr-0 col-right">
        <partial name="_Status" />
    </div>
</div>

