

<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2">
        <a href="/Assets">Assets</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
    </div>
</div>

      