<div class="flex flex-wrap">
    <div class="w-8/12">
    </div>
    <div class="col-right-div w-3/12">
        @{
            var currentFiscalYear = Organization.FiscalYears.CurrentPeriod;

            if (currentFiscalYear != null)
            {
                <partial name="/areas/accounting/views/fiscalyear/_Chart_Asset_Liability_Equity.cshtml" model="currentFiscalYear" />
            }
        }
    </div>
</div>