<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new { level = 0, displayName = "Documents", url = $"/Storage/Documents", count = Organization.ErpCOREDBContext.Documents.Count() })
</div>

<partial name="_Upload" />