

<div class="row font-weight-600  text-uppercase">
    <div class="col-6 p-2">
        
        <a href="/@CompanyId/Assets">Assets</a>
        /
        <a href="/@CompanyId/Assets/DeprecateSchedules">DeprecateSchedules</a>
    </div>
    <div class="col-6 text-right p-2">
      
    </div>
</div>


