<div class="lh-120">
       @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Financial", Url = "/Financial" })
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "FundTransfers", Url = "/Financial/FundTransfers", Count = Organization.FundTransfers.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Liabilities", Url = "/Financial/Liabilities", Count = Organization.ChartOfAccount.LiabilityAccounts.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "LiabilityPayments", Url = "/Financial/LiabilityPayments", Count = Organization.ErpCOREDBContext.LiabilityPayments.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Lends", Url = "/Financial/Lends", Count = Organization.ErpCOREDBContext.Lends.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Loans", Url = "/Financial/Loans", Count = Organization.ErpCOREDBContext.Loans.Count() })
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Retention Types", Url = "/Financial/RetentionTypes", Count = Organization.ErpCOREDBContext.RetentionTypes.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Retention Groups", Url = "/Financial/RetentionGroups" })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Payment Terms", Url = "/Financial/PaymentTerms" })
</div>
