@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="flex  justify-between e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="">
                <a href="/@CompanyId/Financial/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}

<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/@CompanyId/Financial">Financial</a>
</div>

<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        Template("FundTransfers", "FundTransfers", Organization.FundTransfers.Count());
        Template("Liabilities", "Liabilities", Organization.ChartOfAccount.LiabilityAccounts.Count());
        Template("LiabilityPayments", "LiabilityPayments", Organization.ErpCOREDBContext.LiabilityPayments.Count());
        Template("Lends", "Lends", Organization.ErpCOREDBContext.Lends.Count());
        Template("Loans", "Loans", Organization.ErpCOREDBContext.Loans.Count());

    }
</div>

<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        Template("Retention Types", "RetentionTypes", Organization.ErpCOREDBContext.RetentionTypes.Count());
        Template("Retention Groups", "RetentionGroups");
        Template("Payment Terms", "PaymentTerms");
    }
</div>
