@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="row e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@CompanyId/Financial/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="col-2 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}

<div class="lh-12 bg-fb1 p-2 rounded border font-weight-600">
    <a href="/@CompanyId/Financial">Financial</a>
</div>

<div class="lh-12 bg-fb1 p-2 rounded border">
    @{
        Template("FundTransfers", "FundTransfers", Organization.FundTransfers.Count());
        Template("LiabilityPayment", "LiabilityPayment", Organization.ErpCOREDBContext.LiabilityPayments.Count());
        Template("Lends", "Lends");
        Template("Loans", "Loans");
        Template("Invests", "Invests");
        Template("Retention Types", "RetentionTypes",Organization.ErpCOREDBContext.RetentionTypes.Count());
    }
</div>
