@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePaymentType


<div class="flex font-weight-600  text-uppercase">
    <div class="col-6 p-2">
        <a href="/@CompanyId/Employees">Employees</a>
        /
        <a href="/@CompanyId/Employees/EmployeePaymentTypes">PaymentType</a>
        /
        <a href="/@CompanyId/Employees/EmployeePaymentTypes/@Model.Id"> @Model.Name</a>
    </div>
    <div class="col-6 text-right p-2">
    </div>
</div>


