@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePaymentType

<div class="row">
    <div class="col p-0 col-center">
        <partial name="_Detail" />
        <partial name="_Payment_Items" />
    </div>
    <div class="col-4 p-0 col-right">

    </div>
</div>

