@using ERPKeeperCore.Enterprise.Models.Items.Enums


<div class="flex">
    <div class="font-weight-bold">
        Ordering ITEMS
    </div>
    <div class="text-right">
        <a href="/@CompanyId/Products">Items</a>  ·
        <a href="/@CompanyId/Products/Groups">Groups</a>
    </div>
</div>
