@using ERPKeeperCore.Enterprise.Models.Items.Enums


<div class="row font-weight-600  text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId/Suppliers">Suppliers</a>
        / <a href="/@CompanyId/Suppliers/SupplierPayments">SupplierPayments</a>
    </div>
</div>
