<div class="mb-2 border-top">
    @(
        Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.Account>()
        .ID("AssetsTreeList")
        .KeyExpr("Id")
        .DataSource(d => d.RemoteController()
        .Key("Id")
        .LoadUrl($"/api/{CompanyId}/Accounting/Accounts/All")
        .UpdateUrl($"/api/{CompanyId}/Accounting/Accounts/Update")
        .UpdateMethod("Post"))
        .KeyExpr("Id")
        .AllowColumnReordering(true)
        .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("AssetsTree" + CompanyId.ToString()))
        .RowAlternationEnabled(true).ShowRowLines(true).HoverStateEnabled(true)
        .ShowColumnLines(true)
        .ShowBorders(false)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .ColumnAutoWidth(false)
        .Paging(pagging => pagging.Enabled(false))
        .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).UseIcons(true))
        .Columns(columns =>
            {
                columns.AddFor(m => m.Code).Width(100).CellTemplate(@<text><a href="/@CompanyId/Accounting/Accounts/<%= data.Uid %>/"><%= data.Code %></a></text>);

                columns.AddFor(m => m.Type)
                .HeaderCellTemplate("Type")
                .Width(100).SortOrder(SortOrder.Asc).SortIndex(1).Lookup(lookup => lookup
    .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.AccountTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
    .DisplayExpr("Text")
    .ValueExpr("Value")
    );

  columns.AddFor(m => m.SubEnumType)
  .HeaderCellTemplate("SubType").Width(200).Lookup(lookup => lookup
    .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.AccountSubTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
    .DisplayExpr("Text")
    .ValueExpr("Value")
    );


                columns.AddFor(m => m.Name).CellTemplate(@<text><a href="/@CompanyId/Accounting/Accounts/<%= data.Uid %>/"><%= data.Name %></a></text>);

                columns.AddFor(m => m.OpeningDebitBalance).HeaderCellTemplate(@<text>Debit</text>).Width(100).Format(Format.FixedPoint);
                columns.AddFor(m => m.OpeningCreditBalance).HeaderCellTemplate(@<text>Credit</text>).Width(100).Format(Format.FixedPoint);

            })
        .Summary(s =>
            s.TotalItems(items => {
            items.AddFor(m => m.OpeningDebitBalance).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat(Format.FixedPoint);
            items.AddFor(m => m.OpeningCreditBalance).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat(Format.FixedPoint);
        
            })
    )
    )
</div>




