<div id="treeListDemo" class="mb-3 border">
    @(
            Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Financial.LiabilityPayment>()
            .ID("gridList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().Key("Id")
            .LoadUrl($"/API/{CompanyId}/Financial/LiabilityPayments/All")
            .InsertUrl($"/API/{CompanyId}/Financial/LiabilityPayments/Insert")
            .InsertMethod("Post")
            .UpdateUrl($"/API/{CompanyId}/Financial/LiabilityPayments/Update")
            .UpdateMethod("Post")
            )
            .Width("100%")
            .RowAlternationEnabled(true)
            .ShowRowLines(false)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
            .ColumnAutoWidth(false)
            .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("LiabilityPayments"))
            .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))
            .ColumnChooser(columnChooser => columnChooser.Enabled(true))
            .Columns(columns =>
            {
                columns.AddFor(m => m.Date).Alignment(HorizontalAlignment.Right).SortOrder(SortOrder.Desc).SortIndex(1).Width(130);
                columns.AddFor(m => m.Status).AllowEditing(false).Width(80).Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Financial.Enums.LiabilityPaymentStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Name).Width(130)
            .CellTemplate(@<text><a href="/@CompanyId/Financial/LiabilityPayments/<%= data.Id %>/"><%= data.Name %></a></text>);
              
            
            columns.AddFor(m => m.Reference).Width(180)
            .CellTemplate(@<text><a href="/@CompanyId/Financial/LiabilityPayments/<%= data.Id %>/">R:<%= data.Reference %></a></text>);


                columns.AddFor(m => m.LiabilityAccountId)
                    .Lookup(lookup => lookup.DataSource(Organization.ChartOfAccount.LiabilityAccounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
                    .Width(150)
                    .HeaderCellTemplate(@<text>Liability Acc</text>)
                    .CellTemplate(@<text><a href="/@CompanyId/Accounting/Accounts/<%= data.LiabilityAccountId %>/"><%= displayValue %></a></text>);

                columns.AddFor(m => m.Amount)
                    .HeaderCellTemplate("Amount")
                    .Width(130)
                    .Format("#,##0.00");

                columns.AddFor(m => m.IsPosted)
                    .AllowEditing(false).Width(30)
                    .HeaderCellTemplate(@<text> </text>)
                    .CellTemplate(@<text><i class="fas fa-fingerprint text-<%= data.IsPosted %>"></i></text>);

            })
        )
</div>