<div class="flex font-semibold  text-uppercase">
    <div class="col-8 p-2 text-uppercase">
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/LiabilityPayments">LiabilityPayments</a>
    </div>
    <div class ="col text-right">
        <div class="dropdown dropleft ">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border roundedmin-w-64 min-h-40" aria-labelledby="dropdownMenuLink">
                <div>
  
                </div>
            </div>
        </div>
    </div>
</div>