<div class="row font-weight-600  text-uppercase">
    <div class="col-8 p-2 text-uppercase">
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/LiabilityPayments">LiabilityPayments</a>
    </div>
    <div class ="col text-right">
        <div class="btn-group">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-fs-18"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/UpdateCurrentBalance">Update Current Balance</a>
                </li>
                <li>
                    <a href="/@CompanyId/Accounting/Accounts/UpdateHistoryBalance">Update History Balance</a>
                </li>
            </ul>
        </div>
    </div>
</div>