
<div class="bg-fb2 p-2 mb-1" style="margin-bottom:5px;min-height:50px;">
    <div style="float:left;font-weight: 600;text-transform:uppercase">
        @Lang.Sponsor
    </div>

    <div style="float:right;font-weight: 600;">
        @Lang.Create
    </div>

    <div style="clear:both"></div>
</div>
