@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear

<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.2.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


<script>
    function exporting(e) {
        alert("Exporting");

        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('TrialBalance');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            return workbook.xlsx.writeBuffer();
        }).then(function (buffer) {
            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), '@(Model.Name)-@(CompanyId)-TrialBalance.xlsx');
        }).catch(function (error) {
            console.error(error);
        });
    }
</script>

<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.FiscalYearAccountBalance>()
            .ID("LedgerList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().LoadUrl($"/api/{CompanyId}/Accounting/FiscalYears/{Model.Id}/AccountBalances/All"))
            .AllowColumnReordering(true)
            .RowAlternationEnabled(true)
            .Export(e => e.Enabled(true))
            .OnExporting("exporting")
            .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("FiscalYearAccountsBalance"))
            .ShowRowLines(true)
            .HoverStateEnabled(true)
            .ShowColumnLines(true)
            .ShowBorders(false)
            .ColumnAutoWidth(false)
            .Paging(pagging => pagging.Enabled(false))
            .Width("100%")
            .HeaderFilter(h => h.Visible(true))
            .ColumnChooser(x=>x.Enabled(true))
            .GroupPanel(g => g.Visible(true))
            .Columns(columns =>
            {

                columns.AddFor(m => m.Account.Type)
            .HeaderCellTemplate("Type")
            .Width(110).SortOrder(SortOrder.Asc).SortIndex(1).Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Account.SubType)
            .SortOrder(SortOrder.Asc).SortIndex(2)
            .HeaderCellTemplate("SubType").Width(150).Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountSubTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );
                columns.AddFor(m => m.AccountId)
            .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .HeaderCellTemplate(@<text>Account</text>)
        .CellTemplate(@<text><a href="/@CompanyId/Accounting/Accounts/<%= data.AccountId %>/"><%= displayValue %></a></text>
            );


                columns.Add()
            .Caption("Open")
            .Columns(b =>
            {
                b.AddFor(m => m.OpeningDebit)
            .Width(110)
            .Format(",##0.00")
            .CssClass("bg-fb1")
            .HeaderCellTemplate(@<text>DR</text>);

                b.AddFor(m => m.OpeningCredit)
            .Width(110)
            .Format(",##0.00")
            .HeaderCellTemplate(@<text>CR</text>);
            });



                columns.Add()
            .Caption("Current")
            .Columns(b =>
            {
                b.AddFor(m => m.TotalDebit)
            .Width(110)
            .Format(",##0.00")
            .CssClass("bg-fb1")
            .HeaderCellTemplate(@<text>DR</text>);

                b.AddFor(m => m.TotalCredit)
            .Width(110)
            .Format(",##0.00")
            .HeaderCellTemplate(@<text>CR</text>);
            });

                columns.Add()
            .Caption("Closing")
            .Columns(b =>
            {
                b.AddFor(m => m.ClosingDebit)
            .Width(110)
            .Format(",##0.00")
            .CssClass("bg-fb1")
            .HeaderCellTemplate(@<text>DR</text>);

                b.AddFor(m => m.ClosingCredit)
            .Width(110)
            .Format(",##0.00")
            .HeaderCellTemplate(@<text>CR</text>);
            });

                columns.Add()
            .Caption("Closed")
            .Columns(b =>
            {
                b.AddFor(m => m.ClosedDebit)
            .Width(110)
            .Format(",##0.00")
            .CssClass("bg-fb1")
            .HeaderCellTemplate(@<text>DR</text>);

                b.AddFor(m => m.ClosedCredit)
            .Width(110)
            .Format(",##0.00")
            .HeaderCellTemplate(@<text>CR</text>);
            });


            })
        .Summary(s => s.TotalItems(items =>
        {
            items.AddFor(m => m.OpeningDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.OpeningCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.TotalDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.TotalCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.ClosingDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.ClosingCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.ClosedDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.ClosedCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
        })
        .GroupItems(items =>
        {
            items.AddFor(m => m.OpeningDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            items.AddFor(m => m.OpeningCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            items.AddFor(m => m.TotalDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            items.AddFor(m => m.TotalCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            items.AddFor(m => m.ClosingDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            items.AddFor(m => m.ClosingCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            items.AddFor(m => m.ClosedDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
            items.AddFor(m => m.ClosedCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00").ShowInGroupFooter(true);
        }))

        )
</div>