@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear

<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.2.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


<script>
    function exporting(e) {
        alert("Exporting");

        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('Incomes');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            return workbook.xlsx.writeBuffer();
        }).then(function (buffer) {
            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), '@(Model.Name)-@(CompanyId)-Incomes.xlsx');
        }).catch(function (error) {
            console.error(error);
        });
    }
</script>


<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.FiscalYearAccountBalance>()
            .ID("LedgerList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().LoadUrl($"/api/Accounting/FiscalYears/{Model.Id}/Incomes/All"))
            .Export(e => e.Enabled(true))
            .OnExporting("exporting")
            .AllowColumnReordering(true)
            .RowAlternationEnabled(true).AllowColumnReordering(true).ShowRowLines(true).HoverStateEnabled(true)
            .ShowColumnLines(true)
            .ShowBorders(false)
            .ColumnAutoWidth(false)
            .Paging(pagging => pagging.Enabled(false))
            .Width("100%")
            .Columns(columns =>
            {
                columns.AddFor(m => m.Account.Type)
                .HeaderCellTemplate("Type")
                .Width(130).SortOrder(SortOrder.Asc).SortIndex(1).Lookup(lookup => lookup
                .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }).ToList())
                .DisplayExpr("Text")
                .ValueExpr("Value")
                );

                columns.AddFor(m => m.Account.SubType).SortOrder(SortOrder.Asc).SortIndex(2)
                .HeaderCellTemplate("SubType").Width(150).Lookup(lookup => lookup
                .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountSubTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }).ToList())
                .DisplayExpr("Text")
                .ValueExpr("Value")
                );
                columns.AddFor(m => m.AccountId)
                    .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
                    .HeaderCellTemplate(@<text>Account</text>)
        .CellTemplate(@<text><a href="/Accounting/Accounts/<%= data.AccountId %>/"><%= displayValue %></a></text>);


                columns.AddFor(m => m.TotalDebit).Width(130).Format("#,##0.00");
                columns.AddFor(m => m.TotalCredit).Width(130).Format("#,##0.00");
            })
            .Summary(s =>  s.TotalItems(items =>
            {
            items.AddFor(m => m.TotalDebit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.TotalCredit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            })
            )
        )
</div>










