@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear

<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.FiscalYearAccountBalance>()
            .ID("LedgerList")
            .KeyExpr("Id")
            .DataSource(d => d.RemoteController().LoadUrl($"/api/{CompanyId}/Accounting/FiscalYears/{Model.Id}/Incomes/All"))
            .AllowColumnReordering(true)
            .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
            .ShowColumnLines(true)
            .ShowBorders(false)
            .ColumnAutoWidth(false)
            .Paging(pagging => pagging.Enabled(false))
            .Width("100%")
            .Columns(columns =>
            {
                columns.AddFor(m => m.Account.Type)
                .HeaderCellTemplate("Type")
                .Width(100).SortOrder(SortOrder.Asc).SortIndex(1).Lookup(lookup => lookup
                .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
                .DisplayExpr("Text")
                .ValueExpr("Value")
                );

                columns.AddFor(m => m.Account.SubType).SortOrder(SortOrder.Asc).SortIndex(2)
                .HeaderCellTemplate("SubType").Width(200).Lookup(lookup => lookup
                .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountSubTypes>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }))
                .DisplayExpr("Text")
                .ValueExpr("Value")
                );
                columns.AddFor(m => m.AccountId)
                    .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.Accounts.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
                    .HeaderCellTemplate(@<text>Account</text>);

                columns.AddFor(m => m.Debit).Width(100).Format(Format.FixedPoint);
                columns.AddFor(m => m.Credit).Width(100).Format(Format.FixedPoint);
            })
            .Summary(s =>  s.TotalItems(items =>
            {
            items.AddFor(m => m.Debit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat(Format.FixedPoint);
            items.AddFor(m => m.Credit).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat(Format.FixedPoint);
            })
            )
        )
</div>










