<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.TransactionLedger>()
        .ID("AssetsTreeList")
        .KeyExpr("Id")
        .DataSource(d => d.RemoteController()
        .LoadUrl($"/api/{CompanyId}/Accounting/FiscalYears/{Model.Id}/Journals/All")
        .UpdateUrl($"/api/{CompanyId}/Accounting/FiscalYears/{Model.Id}/Journals/Update")
        .UpdateMethod("Post"))
        .AllowColumnReordering(true)
        .RowAlternationEnabled(true).AllowColumnReordering(true).ShowRowLines(true).HoverStateEnabled(true)
        .ShowColumnLines(true)
        .ShowBorders(false)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s=>s.Enabled(true)))
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .ColumnAutoWidth(false)
        .Paging(pagging => pagging.PageSize(100))
        @*  .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))*@
        @*  .AllowColumnResizing(true).AllowColumnReordering(true)*@

        .Columns(columns =>
        {
            columns.AddFor(m => m.Debit).Width(130).Format("#,##0.00");
            columns.AddFor(m => m.Credit).Width(130).Format("#,##0.00");
        })
        )
</div>










