@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear

@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="flex e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@CompanyId/Accounting/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="w-2/12 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}

<div class="bg-fb1 p-2 text-xl border">
    <div class="font-weight-600">
        <a href="/@CompanyId/Accounting">Accounting</a>
    </div>
</div>
<div class="bg-fb1 p-2 text-xl border">
    <a href="/@CompanyId/Accounting/FiscalYears/">
        FiscalYears
    </a>:
    <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id">
        @Model.Name
    </a>
</div>


<div class="bg-fb1 p-2 text-xl border">
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Incomes">
            Incomes
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Expenses">
            Expenses
        </a>
    </div>

    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/TrialBalance">
           Trial Balance
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/JournalEntries">
            JournalEntries
        </a>
    </div>

</div>



<div class="bg-fb1 p-2 text-xl border">
    <div class="font-weight-600">
        Reports
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_BalanceSheet" target="_blank">
            งบแสดงฐานะทางการเงิน
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_ProfitandLoss_Statement" target="_blank">
            งบกำไรขาดทุน
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_Changes_in_Equity" target="_blank">
            งบแสดงการเปลี่ยนแปลงผู้ถือหุ้น
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_SupportingDocuments" target="_blank">
            หมายเหตุประกอบงบการเงิน
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_Tax_Calculation" target="_blank">
            งบแสดงการคำนวนภาษีเงินได้
        </a>
    </div>
</div>
