@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear


<div class="bg-fb1 p-2 text-xl border">
	<div class="font-weight-600">
		<a href="/Accounting">Accounting</a>
	</div>
</div>
<div class="bg-fb1 p-2 text-xl border">
	<a href="/Accounting/FiscalYears/">
		FiscalYears
	</a>:
	<a href="/Accounting/FiscalYears/@Model.Id">
		@Model.Name
	</a>
</div>


<div class="bg-fb1 p-2 text-xl border">
	<div>
		<a href="/Accounting/FiscalYears/@Model.Id/Incomes">
			Incomes
		</a>
	</div>
	<div>
		<a href="/Accounting/FiscalYears/@Model.Id/Expenses">
			Expenses
		</a>
	</div>

	<div>
		<a href="/Accounting/FiscalYears/@Model.Id/TrialBalance">
			Trial Balance
		</a>
	</div>
	<div>
		<a href="/Accounting/FiscalYears/@Model.Id/JournalEntries">
			JournalEntries
		</a>
	</div>
	<div>
		<a href="/Accounting/FiscalYears/@Model.Id/Reports">
			Reports
		</a>
	</div>
</div>



