@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear

@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="row e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@CompanyId/Accounting/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="col-2 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}

<div class="bg-fb1 p-2 text-fs-18 border">
    <div class="font-weight-600">
        <a href="/@CompanyId/Accounting">Accounting</a>
    </div>
</div>
<div class="bg-fb1 p-2 text-fs-18 border">
    <a href="/@CompanyId/Accounting/FiscalYears/">
        FiscalYears
    </a>:
    <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id">
        @Model.Name
    </a>
</div>


<div class="bg-fb1 p-2 text-fs-18 border">
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Incomes">
            Incomes
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Expenses">
            Expenses
        </a>
    </div>

    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/TrialBalance">
            Balance
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/JournalEntries">
            JournalEntries
        </a>
    </div>

</div>



<div class="bg-fb1 p-2 text-fs-18 border">
    <div class="font-weight-600">
        Reports
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_BalanceSheet">
            งบแสดงฐานะทางการเงิน
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_ProfitandLoss_Statement">
            งบกำไรขาดทุน
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_Changes_in_Equity">
            งบแสดงการเปลี่ยนแปลงผู้ถือหุ้น
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_SupportingDocuments">
            หมายเหตุประกอบงบการเงิน
        </a>
    </div>
    <div>
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Report_Tax_Calculation">
            งบแสดงการคำนวนภาษีเงินได้
        </a>
    </div>
</div>
