@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear

@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="row e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@CompanyId/Accounting/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="col-2 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}

<div class="bg-fb1 p-2 text-fs-18">
    <div class="font-weight-600 mb-3 ">
        <a href="/@CompanyId/Accounting">Accounting</a>
    </div>
</div>
<div class="bg-fb1 p-2 text-fs-18">
    @{
        Template("Fiscal Years", "FiscalYears");
    }
</div>
<div class="bg-fb1 p-2 text-fs-18">
    <div class="">
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id">
            @Model.Name
        </a>
    </div>

    <div class="">
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Incomes">
            Incomes
        </a>
    </div>
    <div class="">
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Expenses">
            Expenses
        </a>
    </div>

    <div class="">
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/TrialBalance">
            Trial Balance
        </a>
    </div>
    <div class="">
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Journals">
            Journals
        </a>
    </div>
    <div class="">
        <a href="/@CompanyId/Accounting/FiscalYears/@Model.Id/Balances">
            Balances
        </a>
    </div>

</div>

