@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums

<div style="width:960px;" class="p-4 page-break">
	<div class="h-24"></div>
	<div class="text-center font-semibold  mb-3">
		@Organization.Profiles.GetSelf().Name<br />
		เลขที่ผู้เสียภาษี??????<br />
		เลขที่ผู้เสียภาษี??????? ? ??????  31 ??????? @(Model.EndDate.Year - 1 + 543) ??? @(Model.EndDate.Year + 543)
	</div>


	<div class="mb-4">
		<div class="mb-2">
			<b>1.????????????</b><br />
			1.1 เลขที่ผู้เสียภาษี?????<br />
		</div>
		<div class="">
			?????? ???? ?????????????? ?????  ????? (“???????”) เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี? 4 ??????? 2550 เลขที่ผู้เสียภาษี???????? 0505550003746 เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี???????????? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี??? ?????????????? 108/1 ??????? 1 ??????????? เลขที่ผู้เสียภาษี?? ????????????????
		</div>
		<div class="mb-3">
			เลขที่ผู้เสียภาษี???????
			เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี?????????? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี??? 28 ??????? 2554 เลขที่ผู้เสียภาษี???????????????? ?.?. 2543
			เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี?????????
		</div>

		<div class="mb-2">
			2.	เลขที่ผู้เสียภาษี?????<br />
			2.1	???????????????
		</div>
		<div class="">
			???????????????<br />
			เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี

		</div>

		<div class="">
			2.2	เลขที่ผู้เสียภาษี??<br />
			เลขที่ผู้เสียภาษี?????????????
		</div>
		<div class="">
			2.3	เลขที่ผู้เสียภาษี?????????????<br />
			?????? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี???????????? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี???????????????? (????????????) เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี?????  เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี????????????? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี????????
		</div>
		<div class="">
			2.4	เลขที่ผู้เสียภาษี??????<br />
			เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี?????????? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี???????????? เลขที่ผู้เสียภาษี?????? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี????????????
		</div>
		<div class="">
			2.5	?????????????<br />
			เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี??????????-??????? (First in – First out: FIFO)
		</div>
		<div class="">
			2.6	???????????????<br />
			เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี????? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี???? เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี??? 5-20 ?????

		</div>
	</div>

	<partial name="_Report_SupportingDocuments_CashEquivalent" />
	<partial name="_Report_SupportingDocuments_Recevable" />
	<partial name="_Report_SupportingDocuments_Assets" />
	<partial name="_Report_SupportingDocuments_Payable" />
	<partial name="_Report_SupportingDocuments_Expense_Management" />
	<partial name="_Report_SupportingDocuments_Expense_Sales" />



	<div class="mt-4">
		เลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษีเลขที่ผู้เสียภาษี??????? 1/@(Model.EndDate.Year - 1 + 543) ??????????? 30 ?????? @(Model.EndDate.Year + 1 + 543)
	</div>
</div>

