@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums


<div class="flex">
    <div class="mh-50"></div>
    <div class="text-center font-semibold  mb-3">
        @Organization.Profiles.GetSelf().Name<br />
        งบแสดงการเปลี่ยนแปลงในส่วนของผู้ถือหุ้น<br />
        ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
    </div>
    <div class="mh-50"></div>
    <div class="flex mt-4">
        <div class="w-6/12">
        </div>
        <div class="col-6 font-semibold text-center">
            หน่วย:บาท
        </div>
        <div class="col-6  font-semibold ">
        </div>
        <div class="w-2/12 p-0 text-right border-dark border-top  ">
            ทุนที่ชำระแล้ว
        </div>
        <div class="w-2/12 p-0 text-right border-dark border-top  ">
            กำไร(ขาดทุน) 
            สะสม
        </div>
        <div class="w-2/12 p-0 text-right border-dark border-top  ">
            รวม
        </div>
    </div>


    @if (Model.PreviusFiscalYear != null)
    {
        <partial name="_Report_Changes_in_Equity_FY" model="Model.PreviusFiscalYear" />
    }

    <div class="mt-5"></div>
    <partial name="_Report_Changes_in_Equity_FY" model="Model" />



    <div class="mt-5">
        หมายเหตุประกอบงบการเงินเป็นส่วนหนึ่งของงบการเงินนี้
    </div>
</div>
