@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear

<div class="flex">
    <div class="col-center grow mh-100v border-right border-2">
        
        <partial name="_Incomes_Grid" />
    </div>
</div>

