@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums

@{
    Layout = "_Layout_Empty";
}
<style>
    @@media print {
        .page-break {
            page-break-before: always;
        }
    }
</style>

<div class="flex">
    <div class="col px-3 col-center mh-100v">
        <partial name="_Report_BalanceSheet_Assets.cshtml" />
        <partial name="_Report_BalanceSheet_Liabilities.cshtml" />
        <partial name="_Report_BalanceSheet_Equity.cshtml" />
    </div>
</div>
