@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums


@{
	Layout = "_Layout_Export";
}
<style>
	@@media print {
		.page-break {
			page-break-before: always;
		}
	}
</style>


<div class="">
	<div class="h-24"></div>
	<div class="text-center font-semibold  mb-3">
		@Organization.Profiles.GetSelf().Name<br />
		หมายเหตุประกอบงบการเงิน<br />
		สำหรับรอบระยะเวลาสิ้นสุด ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
	</div>


	<div class="mb-4">
		<div class="mb-2">
			<b>1.ข้อมูลทั่วไป</b><br />
			1.1 ข้อมูลทั่วไปของบริษัทฯ<br />
		</div>
		<div class="">
			บริษัท เดอะ เอ็นจิเนียริ่ง คร๊าฟ  จำกัด (“บริษัทฯ”) ได้จัดตั้งขึ้นเป็นบริษัทจำกัดตามประมวลกฎหมายแพ่งและพาณิชย์เมื่อวันที่ 4 กันยายน 2550 เลขทะเบียนนิติบุคคลเลขที่ 0505550003746 ซึ่งบริษัทฯประกอบกิจการประเภทขายส่งคอมพิวเตอร์ อุปกรณ์ต่อพ่วงคอมพิวเตอร์และซอฟต์แวร์ ตั้งอยู่เลขที่ 108/1 หมู่ที่ 1 ตำบลหนองหอย อำเภอเมืองเชียงใหม่ จังหวัดเชียงใหม่
		</div>
		<div class="mb-3">
			เกณฑ์ในการจัดทำงบการเงิน
			งบการเงินนี้จัดทำขึ้นตามมาตรฐานการรายงานทางการเงินสำหรับกิจการที่ไม่มีส่วนได้เสียสาธารณะที่ออกโดยสภาวิชาชีพบัญชี โดยแสดงรายการในงบการเงินตามข้อกำหนดในประกาศกรมพัฒนาธุรกิจการค้าลงวันที่ 28 กันยายน 2554 ออกตามความในพระราชบัญญัติการบัญชี พ.ศ. 2543
			งบการเงินนี้ได้จัดทำขึ้นโดยใช้เกณฑ์ราคาทุนเดิมเว้นแต่จะได้เปิดเผยเป็นอย่างอื่นในนโยบายการบัญชี
		</div>

		<div class="mb-2">
			2.	นโยบายการบัญชีที่สำคัญ<br />
			2.1	การรับรู้รายได้
		</div>
		<div class="">
			การรับรู้รายได้<br />
			รายได้ประกอบด้วยมูลค่ายุติธรรมที่จะได้รับจากการขายสินค้าและบริการที่ให้เป็นจำนวนเงินสุทธิจากภาษีขายเงินคืนและส่วนลดรายได้จากการขายสินค้ารับรู้เมื่อผู้ซื้อรับโอนความเสี่ยงและผลตอบแทนที่เป็นสาระสำคัญของความเป็นเจ้าของสินค้า

		</div>

		<div class="">
			2.2	การรับรู้ค่าใช้จ่าย<br />
			ค่าใช้จ่ายบันทึกตามเกณฑ์คงค้าง
		</div>
		<div class="">
			2.3	เงินสดและรายการเทียบเท่าเงินสด<br />
			เงินสด หมายรวมถึงเงินสดในมือและเงินฝากธนาคารทุกประเภท แต่ไม่รวมเงินฝากธนาคารประเภทที่ต้องจ่ายคืนเมื่อสิ้นระยะเวลาที่กำหนด (เงินฝากประจำ) และบัตรเงินฝากที่ออกโดยธนาคารพาณิชย์และสถาบันการเงินอื่น  และไม่รวมเงินฝากธนาคารที่มีข้อจำกัดในการเบิกถอน และรายการเทียบเท่าเงินสดรวมถึงเงินลงทุนระยะสั้นอื่นที่มีสภาพคล่องสูงซึ่งมีอายุไม่เกินสามเดือนนับจากวันที่ได้มา
		</div>
		<div class="">
			2.4	การใช้ประมาณการทางบัญชี<br />
			ในการจัดทำงบการเงินตามมาตรฐานการบัญชีที่รับรองทั่วไป ในบางสถานการณ์ฝ่ายบริหารอาจต้องใช้การประมาณและการตั้งสมมติฐาน ซึ่งมีผลกระทบต่อจำนวนเงินที่แสดงในงบการเงินและ หมายเหตุประกอบงบการเงิน ด้วยเหตุนี้ผลที่เกิดขึ้นจริงจึงอาจแตกต่างไปจากจำนวนที่ประมาณไว้
		</div>
		<div class="">
			2.5	สินค้าคงเหลือ<br />
			สินค้าคงเหลือแสดงด้วยราคาทุนหรือมูลค่าสุทธิที่จะได้รับแล้วแต่ราคาใดจะต่ำกว่าราคาทุนของสินค้าคำนวณโดยวิธีเข้าก่อน-ออกก่อน (First in – First out: FIFO)
		</div>
		<div class="">
			2.6	อาคารและอุปกรณ์<br />
			อาคารและอุปกรณ์แสดงรายการด้วยราคาทุนหักค่าเสื่อมราคาสะสม ค่าเลื่อมราคาของอาคารและอุปกรณ์คำนวณจากราคาทุนของสินทรัพย์โดยวิธีเส้นตรง ตามอายุการให้ประโยชน์ของสินทรัพย์ที่ประมาณการไว้ของสินทรัพย์อัตราร้อยละ 5-20 ต่อปี

		</div>
	</div>

	<partial name="_Report_SupportingDocuments_CashEquivalent" />
	<partial name="_Report_SupportingDocuments_Recevable" />
	<partial name="_Report_SupportingDocuments_Assets" />
	<partial name="_Report_SupportingDocuments_Payable" />
	<partial name="_Report_SupportingDocuments_Expense_Management" />
	<partial name="_Report_SupportingDocuments_Expense_Sales" />
</div>
