




<div class="flex w-full font-semibold text-lg justify-between">
    <div class="col-6 p-2">
        
        /
        <a href="/Taxes">Taxes</a>
        /
        <a href="/Taxes/IncomeTaxes"> IncomeTaxes</a>
    </div>
    <div class="col-6 text-right p-2">

    </div>
</div>


