@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div>
            <div class="flex e-r">
                <div class="col-10 p-l@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {
                            
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="col-2 p-0 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}

<div class="lh-120 bg-fb1 font-semibold p-2 rounded border">
    @{
        MenuTemplate(0, "Setting", $"/{CompanyId}/Setting");
    }
</div>
<div class="lh-120 bg-fb1 p-2 rounded border">
    @{
        MenuTemplate(0, "Branches", $"/{CompanyId}/Setting/Branches", Organization.ErpCOREDBContext.Branches.Count());
       
    }
</div>

