@model ERPKeeperCore.Enterprise.Models.Suppliers.SupplierPayment

<div class="lh-120">
    <a href="/Suppliers/Suppliers">Suppliers</a><br />
    <a href="/Suppliers/SupplierPayments">SupplierPayments</a><br />
    <a href="/Suppliers/SupplierPayments/@Model.Id">@Model.Purchase.Name.Replace("SL", "RP")</a>
</div>

<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Detail", Url = $"/Suppliers/SupplierPayments/{Model.Id}" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = $"Purchase: {Model.Purchase.Name}", Url = $"/Suppliers/Purchases/{Model.PurchaseId}" })
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Documents", Url = $"/Suppliers/SupplierPayments/{Model.Id}/Documents" })
</div>
<div class="lh-120">
    @await Html.PartialAsync("_MenuTemplate", new ERPKeeper.Web.New.Models.MenuTemplateModel { Level = 0, DisplayName = "Export", Url = $"/Suppliers/SupplierPayments/{Model.Id}/Export" })
</div>