
@model ERPKeeperCore.Enterprise.Models.Suppliers.SupplierPayment

<div class="flex font-semibold text-lg text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId/Suppliers"> Suppliers</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Suppliers/Purchases">Purchases</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Suppliers/Purchases/@Model.PurchaseId">@Model.Purchase.Name</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Suppliers/SupplierPayments">Payments</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/@CompanyId/Suppliers/SupplierPayments/@Model.Id">@Model.Name</a>
    </div>
</div>
