@model ERPKeeperCore.Enterprise.Models.Suppliers.SupplierPayment

<div class="flex flex-wrap">
    <div class="col-center-div w-9/12">
        <partial name="_EditForm" />
    </div>
    <div class="col-right-div w-3/12">
        <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />
        <partial name="/Areas/Storage/Views/NoteItems/_Notes.cshtml" model="Model.Id" />
    </div>
</div>