@using ERPKeeperCore.Enterprise.Models.Items.Enums




<div class="row mb-2 font-weight-600  text-uppercase">
    <div class="col-8 p-2">
        <a href="/@CompanyId/Profiles/Employees"> Employees</a>
        / <a href="/@CompanyId/Profiles/Employees/EmployeePayments"> Payments</a>
        / <a href="/@CompanyId/Profiles/Employees/EmployeePaymentTypes"> Types</a>
    </div>
    <div class="col-4 p-2">
        <a href="/@CompanyId/Profiles/Employees/EmployeePaymentTypes/Refresh">
            <i class="fa-solid fa-arrows-rotate"></i>
        </a>
    </div>
</div>

