

<div class="flex font-semibold  text-uppercase">
    <div class="p-2">
     
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/Lends">Lends</a>
    </div>
</div>

      