

<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2">
     
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/Lends">Lends</a>
    </div>
</div>

      