

    <div class="flex flex-wrap">
        <div class="w-full col-center p-0">
        Employee ID

        Full name (TH/EN if needed)

        Profile photo

        Department / Section

        Position / Job title

        Employment type (Permanent / Contract / Intern)

        Start date (Join date)

        Employment status (Active / Probation / Resigned)

        Company / Branch
        </div>
        <div class="col-300px col-right">
   
        </div>
    </div>

