@using ERPKeeperCore.Enterprise.Models.Items.Enums


<div class="flex font-semibold  text-uppercase">
    <div class="p-2">
        / <a href="/@CompanyId/Customers"> Customers</a>
        / <a href="/@CompanyId/Customers/Sales"> Sales</a>
    </div>
</div>
