

@model ERPKeeperCore.Enterprise.Models.Customers.Enums.SaleQuoteStatus

<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2">
       <a href="/Customers"> Customers</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/Customers/SaleQuotes"> Quotes</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i> <a href="/Customers/SaleQuotes?status=@Model"> @Model</a>
    </div>
</div>
