

<div class="row font-weight-600  text-uppercase">
    <div class="p-2">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/investors">investors</a>
        /
        <a href="/@CompanyId/investors/Stocks">Stocks</a>
    </div>
</div>

      