
<style>
    .dx-treelist .dx-row > td {
        padding: 2px !important;
    }
</style>


<div id="treeListDemo" class="mb-3">

    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Items.Item>()
    .ID("gridList")
    .KeyExpr("Id")
    
        
    .ShowRowLines(true)
    .ShowBorders(false)
    .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(true)@*
            .AllowDeleting(true)*@
    .AllowAdding(true)
    )
    .Paging(pagging=> pagging.PageSize(100))
    //.SearchPanel(searchPanel => searchPanel.Visible(true))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))

    .ColumnAutoWidth(false)
        @*.AutoExpandAll(true)*@
    .RowDragging(rd => rd
    .AllowDropInsideItem(false)
    .AllowReordering(false)
        @*.OnDragChange("onDragChange")
            .OnDragEnd("onDragEnd")
            .ShowDragIcons(false)*@
    )


    .Columns(columns => {
    columns.Add().DataField("Name").Width(250)
    .CellTemplate(@<text>
            <a href="/@CompanyId/Products/Brand/<%= data.Id %>">
                <%= data.Name %>
            </a>
        </text>);
         columns.Add().DataField("Description").Format(Format.FixedPoint);
    columns.Add().DataField("ItemsCount").Format(Format.FixedPoint);
    })
    )
</div>


