@model ERPKeeperCore.Enterprise.Models.Financial.LendReturn


<div class="flex font-weight-600  text-uppercase">
    <div class="col-8 p-2">
        <a href="/@CompanyId/Financial">Financial</a>
        /
        <a href="/@CompanyId/Financial/LendReturns">LendReturns</a>
        /
        <a href="/@CompanyId/Financial/LendReturns/@Model.Id">@Model.Name</a>
    </div>
    <div class="col p-2">
        <a href="/@CompanyId/Financial/LendReturns/@Model.Id/Unpost">Unpost</a>
    </div>
</div>