@model ERPKeeperCore.Enterprise.Models.Financial.LendReturn


<div class="flex w-full font-semibold text-lg justify-between">
    <div class="p-2">
        <a href="/Financial">Financial</a>
        /
        <a href="/Financial/LendReturns">LendReturns</a>
        /
        <a href="/Financial/LendReturns/@Model.Id">@Model.Name</a>
    </div>
    <div class="col p-2">
        <a href="/Financial/LendReturns/@Model.Id/Unpost">Unpost</a>
    </div>
</div>