@model ERPKeeper.Node.Models.Items.Enums.ItemTypes?


<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col-7 col-Middle p-0">
            @Html.Partial("_MenuTop")
            @Html.Action("PartialGridView", new { Id = Model })
        </div>
        <div class="col-3 col-Left pl-0">

        </div>
    </div>
</div>