@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="row e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@CompanyId/Suppliers/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="col-2 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}



<div class="p-0 text-fs-16">
    @{
        
        Template("Suppliers", "Suppliers");
        Template("Quotes", "Quotes");
        Template("Orders", "Orders");
        Template("Purchases", "Purchases");
        Template("Payments", "Payments");
    }
</div>
