<div class="flex flex-wrap">
    <div class="col-6 p-0  font-semibold">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/JournalEntryTypes">JournalEntry Types</a>
    </div>
    <div class="col-right-div w-3/12">
    </div>
    <div class="w-3/12 p-0 text-right">
    </div>
</div>