<div class="flex justify-between">
    <div class="font-semibold text-lg p-2">
        <a href="/Accounting">Accounting</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
        <a href="/Accounting/JournalEntryTypes">JournalEntry Types</a>
        <i class="fa-solid fa-chevron-right text-danger text-sm"></i>
    </div>
    <div class="">
    </div>
</div>