<div id="MenuTop">
    <div class="row p-0 bg-white" id="navigation">
        <div class="col-8 p-2">
            <div class="font-weight-600">
            </div>
        </div>
        <div class="col-3 p-0 text-right">
          
        </div>
    </div>
</div>