
<div class="row mh-45">
    <div class="row p-2 " id="navigation">
        <div class="col-8 p-0">
            <div class="text-tile-header">
                @User.Identity.Name
            </div>
            <div class="text-black-50 pb-3">
                @@HyperX
            </div>
        </div>
        <div class="col-4 pr-0">
            
        </div>
    </div>
</div>