@model ERPKeeper.Node.Models.Projects.Project

<div class="row bg-fb1 p-2 mb-2 rounded">
    <div class="col-8 p-0 font-weight-600">
        Project: @Model.Name
    </div>
    <div class="col-4 p-0 text-right">
        <a href="/Portal/Projects">My</a>  ·
        <a href="/Portal/Projects">All</a>
    </div>
</div>
