@using ERPKeeper.Node.Models.Items.Enums



<div class="row mb-2 font-weight-600">
    <div class="p-2">
        <a href="/">ERP</a>
        <a href="/@CompanyId/Employees">> Employment</a>
        <a href="/@CompanyId/Employees/Positions">> Positions</a>
    </div>
</div>

