



<div class="container-non-responsive px-2">
    <div class="row">
        <div class="col-9">
            <div class="bg-fb2 p-2 rounded-top">Recent Projects</div>

            <div class="row bg-fb1">
           
            </div>

        </div>
        <div class="col-3 bg-fb1 p-2 text-right rounded mh-175">
            <a class="btn btn-outline-secondary btn-sm" href="/My/Setup">
                Re-Setup
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="/My/Setting">
                <i class="fas fa-cog fa-lg"></i>
            </a>
            <a class="btn btn-outline-secondary btn-sm" role="button" asp-action="Process" asp-controller="SignOut" asp-area="Authen">
                <span >SignOut</span>
            </a>
        </div>
    </div>

</div>
