@using Microsoft.AspNetCore.Http
@using System.Security.Claims;

<div class="dropdown dropleft ">
    <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-power-off text-xl"></i>
    </a>
    <div class="dropdown-menu bg-white border-2 border rounded min-w-64 min-h-40" aria-labelledby="dropdownMenuLink">
        <div class="px-2">
            <div class="flex flex-wrap">
                <div class="w-full mb-2 text-xl font-semibold">
                    <a href="/Users/@AuthorizeUserId"> @User.Identity.Name </a>
                </div>
            </div>

            <a href="/Signout">
                <div class="flex flex-wrap">
                    <div class="w-10/12 text-xl">
                        Sign Out
                    </div>
                </div>
            </a>
            @*
            <a href="/QRScanner">
            <div class="flex flex-wrap">
            <div class="w-2/12 p-0">
            <i class="fa-regular fa-barcode-read "></i>
            </div>
            <div class="w-10/12 text-xl">
            QR Scanner
            </div>
            </div>
            </a>
            *@
            <a href="/My/setting">
                <div class="flex flex-wrap">
                    <div class="w-10/12 text-xl">
                        Setting
                    </div>
                </div>
            </a>

            <div class="flex flex-wrap">
                <div class="w-full text-xl">
                    Language

                    <div class="pl-3">

                        @{
                            var defaultCultures = new List<System.Globalization.CultureInfo>()
                        {
                        new System.Globalization.CultureInfo("th-TH"),
                        new System.Globalization.CultureInfo("en-US"),
                        };

                            System.Globalization.CultureInfo[] cinfo = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.AllCultures);
                            var cultureItems = cinfo.Where(x => defaultCultures.Contains(x))
                            .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
                            .ToList();



                            foreach (var cultureItem in cultureItems)
                            {

                                <div>

                                    <a href="/My/Localize/Update?culture=@cultureItem.Value">
                                        @cultureItem.Text
                                    </a>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>



            @if (User.IsInRole("GlobalAdmin"))
            {
                <div class="mt-4">

                    <a href="/Admin">

                        <div class="flex flex-wrap">
                            <div class="w-10/12 text-xl font-semibold">
                                Admin
                            </div>
                        </div>
                    </a>
                    <div class="flex flex-wrap">

                        <div class="col  text-xl">
                            <a href="/Bay">Bay</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
