

    <div class="flex flex-wrap py-2 justify-between">
        <div class="">
            
        </div>
        <div class="">
            @if (!User.Identity.IsAuthenticated)
            {
                <partial name="_Header_UnAuthenticated" />
            }
            else
            {
                <partial name="_Header_Authenticated" />
            }
        </div>
    </div>

