@using Microsoft.AspNetCore.Http
@using System.Security.Claims;

<div class="row py-2">
    <div class="col-11 p-0 mb-2  text-uppercase">
        <a href="/" class="font-weight-600">
            ERP
        </a>
        @if (!String.IsNullOrEmpty(@CompanyId))
        {
            <span>/</span>

            <a href="/@CompanyId" class="font-weight-600">
                @CompanyId
            </a>
        }

    </div>
    <div class="col-1 p-0 text-right">
        <span class="btn-group">
            <a class="btn btn-outline-light  btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">

            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/tec@(Context.Request.Path.ToString().Replace($"/{CompanyId}",""))" class="font-weight-600">
                        TEC
                    </a>
                </li>
                <li>
                    <a href="/bit@(Context.Request.Path.ToString().Replace($"/{CompanyId}",""))" class="font-weight-600">
                        BIT
                    </a>
                </li>
            </ul>
        </span>

    </div>
</div>
