@using Microsoft.AspNetCore.Http
@using System.Security.Claims;

<div class="flex justify-between">
    <div class="font-semibold  text-lg p-2">

        @if (!String.IsNullOrEmpty(@CompanyId) && CompanyId.ToLower() != "portal")
        {
          
            <a href="/" class="font-weight-600">
                @CompanyId.ToUpper()
            </a>
      }
    </div>

  

</div>
