
<div class="py-2">
    <div class="flex flex-wrap">
        <div class="w-9/12 p-0">
            
        </div>
        <div class="w-3/12 pr-0">
            @if (!User.Identity.IsAuthenticated)
            {
                <partial name="_Header_UnAuthenticated" />
            }
            else
            {
                <partial name="_Header_Authenticated" />
            }
        </div>
    </div>
</div>

