<!DOCTYPE html>
<html>
<head>
    <partial name="_Header_CSS_Font" />
    <partial name="_Header_CSS" />

    <style>
        @@media print {
            .page-break {
                page-break-before: always;
            }

            @@page {
                margin-top: 50px;
                size: A5;
            }
            /* Ensures #Summary appears at the bottom of every printed page */
            .no-break {
                page-break-inside: avoid;
            }
    </style>


</head>


<body class="dx-viewport" style="height:100%;">
    <div style="max-width:800px; min-width:800px;" class="container-non-responsive overflow-hidden pl-2">
        <div class="min-h-screen bg-white">
            <div class="mx-auto max-w-4xl px-8 py-8 print:p-0">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
