<!DOCTYPE html>
<html>
<head>
    <partial name="_Header_CSS_Font" />
    <partial name="_Header_CSS" />
</head>
<body>
    <div id="MainContent" class="flex flex-wrap bg-gray-100 h-screen">
        <div class="grow pl-2">
            @RenderBody()
        </div>
    </div>
    <div class="px-4 mx-auto bg-gray-50">

    </div>
</body>
</html>
