<!DOCTYPE html>
<html>
<head>
    <partial name="_Header_Meta" />
    <partial name="_Header_CSS" />
    <script src="/font-awesome-pro-v6-6/js/pro.min.js"></script>
    <link rel="stylesheet" href="/font-awesome-pro-v6-6/css/all.min.css">
</head>


<body class="dx-viewport" style="height:100%;">
    <div style="max-width:1024px; min-width:1024px;" class="container-non-responsive overflow-hidden pl-2">
        @RenderBody()
    </div>
</body>
</html>
