<!DOCTYPE html>
<html>
<head>
    <partial name="_Layout_Meta" />
    <partial name="_Layout_CSS" />

    @*<link rel="stylesheet" href="/FontAwesome/css/all.css">*@
    <script src="/font-awesome-pro-v6-6/js/pro.min.js"></script>
    <link rel="stylesheet" href="/font-awesome-pro-v6-6/css/all.min.css">
    @*
    <script src="/FontAwesome/js/all.js"></script>
    <script src="https://kit.fontawesome.com/fc6c9ab1e2.js" crossorigin="anonymous"></script>
    *@


</head>


<body class="dx-viewport" style="height:100%;">
    <div  style="max-width:800px; min-width:800px;" class="container-non-responsive overflow-hidden pl-2">
        @RenderBody()
    </div>
</body>
</html>

