<!DOCTYPE html>
<html>
<head>
	<partial name="_Header_CSS_Font" />
	<partial name="_Header_CSS" />
</head>
<body class="content-center">
	<div id="MainContent" class="p-8 content-center" style="width:960px;">
		@RenderBody()
	</div>
	<div class="px-4 mx-auto bg-gray-50">
	</div>
</body>
</html>
