<!DOCTYPE html>
<html>
<head>
	<partial name="_Header_CSS_Font" />
	<partial name="_Header_CSS" />
</head>
<body class="dx-viewport items-center justify-center">
	<div id="MainContent" class="p-8 content-center" style="width:960px;">
		@RenderBody()
	</div>
</body>
</html>


