<!DOCTYPE html>
<html>
<head>
    <partial name="_Layout_Header_1200" />
    <partial name="_Layout_Header_CSS" />
</head>
<body class="dx-viewport lh-12" style="height:100%;">

    <div id="GlobalContainer" class="container-non-responsive overflow-hidden px-1">
        <div class="row  bg-fb1">
            <div class="col-20p px-2 border">
                <div class="lh-12 text-fs-18">
                    <partial name="_Header_logo" />
                </div>
                <div class="side-nav-buttom">
                </div>
            </div>
            <div class="col-80p p-0 border">
                <div class="row ">
                    <div class="col-9 p-0">
                        <partial name="_MenuTop" />
                    </div>
                    <div class="col-4 p-0">
                        <partial name="_Header_Authenticated_DropMenu" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-20p p-0  border-right mh-100v">
                <div class="lh-12 text-fs-18">
                    <partial name="_LeftMenu" />
                </div>
                <div class="side-nav-buttom">
                </div>
            </div>
            <div class="col-80p p-0">
                @RenderBody()
            </div>
        </div>
    </div>



</body>
</html>