<!DOCTYPE html>
<html>
<head>
    <partial name="_Layout_Meta" />
    <partial name="_Layout_CSS" />
</head>


<body class="dx-viewport" style="height:100%;">
    <div  style="max-width:800px; min-width:800px;" class="container-non-responsive overflow-hidden pl-2">
        @RenderBody()
    </div>
</body>
</html>

