<!DOCTYPE html>
<html>
<head>
	<partial name="_Header_CSS_Font" />
	<partial name="_Header_CSS" />

	<style>
		@@page {
			size: A4 landscape;
		}
		
		@@media print {
			.page-break-after {
				page-break-after: always;
			}
			.page-break {
				page-break-before: always;
			}
			/* Ensures #Summary appears at the bottom of every printed page */
			.no-break {
				page-break-inside: avoid;
			}
		}
		
		/* This ensures proper printing in Chrome */
		body {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		
		.print-container {
			width: 100%;
			height: 100%;
		}
	</style>
</head>

<body class="dx-viewport items-center justify-center">
	<div class="mx-auto max-w-6xl print-container">
		@RenderBody()
	</div>
</body>
</html>
