<!DOCTYPE html>
<html>
<head>
	<partial name="_Header_CSS_Font" />
	<partial name="_Header_CSS" />

	<style>
		@@media print {
			.page-break {
				page-break-before: always;
			}
			/* Ensures #Summary appears at the bottom of every printed page */
			.no-break {
				page-break-inside: avoid;
			}
	</style>


</head>


<body class="dx-viewport items-center justify-center">
	<div class="mx-auto max-w-4xl">
		@RenderBody()
	</div>
</body>
</html>
