

@if (User.IsInRole("Employee"))
{
    <div class="lh-120 px-2 rounded border-b-2">
        @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Employee", Url = "/Employee", Icon = "fas fa-user-tie" })
    </div>
}


@if (User.IsInRole("Administrator") || User.IsInRole("Accountant"))
{
    <div class="lh-120 px-2 rounded border-b-2">
        @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Accountant", Url = "/Accountant", Icon = "fas fa-calculator" })
    </div>
}