@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div>
            <div class="flex justify-between items-center">
                <div class="flex-grow pl-@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {

                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="flex-shrink-0 text-right">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}


@if (User.IsInRole("Employee"))
{
    <div class="lh-120 bg-gray-200 px-2 rounded border-b-2">
        @{
            MenuTemplate(0, "Employee", $"/Employee");
        }
    </div>
}


@if (User.IsInRole("Administrator") || User.IsInRole("Accountant"))
{
    <div class="lh-120 bg-gray-200 px-2 rounded border-b-2">
        @{
            MenuTemplate(0, "Accountant", $"/Accountant");
        }
    </div>
}