@model ERPKeeperCore.Enterprise.Models.Investors.Investor

<div class="bg-gray-200 p-2 border mb-2">
    <div class="font-weight-bold">
        @Model.Profile.Name
    </div>
    @Model.Profile.TaxNumber  ·  @Model.Profile.ShotName<br />
</div>