@model ERPKeeper.Node.Models.Equity.Investor


<div class="row mb-2 font-weight-600">
    <div class="p-2">
        <a href="/">ERP</a>
        <a href="/Owners">> Owners</a>
        <a href="/Owners/Owners">> Owners</a>
        <a href="/Owners/Owners/@Model.ProfileUid">> @Model.Profile.Name</a>

    </div>
</div>



<div class="text-right mb-2">
    <a href="/Owners/Owners/@Model.ProfileUid">Overview</a>  ·
    <a href="/Profiles/@Model.ProfileUid">Profile</a>  ·
    <a href="/Owners/Owners/@Model.ProfileUid/Payments">Estimates</a> 
</div>
