@model ERPKeeperCore.Enterprise.Models.Investors.Investor


<div class="flex w-full font-semibold text-lg text-uppercase justify-between">
    <div class="p-2">

        <a href="/Owners"> Owners</a>
        <a href="/Owners/Owners"> Owners</a>
        <a href="/Owners/Owners/@Model.ProfileId"> @Model.Profile.Name</a>

    </div>
</div>



<div class="text-right mb-2">
    <a href="/Owners/Owners/@Model.ProfileId">Overview</a>  ·
    <a href="/@CompanyId/Profiles/@Model.ProfileId">Profile</a>  ·
    <a href="/Owners/Owners/@Model.ProfileId/Payments">Estimates</a> 
</div>
