@model ERPKeeperCore.Enterprise.Models.Customers.Customer

<div class="flex">
    <div class="col-center-div grow">
        
        <partial name="_Detail" />
    </div>
    <div class="col-right-div w-3/12">

    </div>
</div>

