@model ERPKeeperCore.Enterprise.Models.Customers.Customer

<div class="flex flex-wrap">
    <div class="w-full">
        
        <partial name="_Detail" />
    </div>
    <div class="col-right-div w-3/12">

    </div>
</div>

