@model ERPKeeperCore.Enterprise.Models.Accounting.JournalEntry

<div class="row p-1">
    <div class="col-6 p-0 font-weight-600">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/JournalEntries">JournalEntries</a>
        /
        <a href="/@CompanyId/Accounting/JournalEntries/@Model.Id"> @Model.Name</a>
       
    </div>
    <div class="col-4 p-0 col-right">
    </div>
    <div class="col-3 p-0 text-right">
        <div class="btn-group">
            <a class="btn btn-outline-light border btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-calculator"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Accounting/JournalEntries/@Model.Id/UpdateBalance">Balance</a>
                </li>
                <li>
                    <a href="/@CompanyId/Accounting/JournalEntries/@Model.Id/Clone">Clone</a>
                </li>
                <li>
                    <a href="/@CompanyId/Accounting/JournalEntries/@Model.Id/UnPost">UnPost</a>
                </li>
            </ul>
        </div>
    </div>
</div>

