@model ERPKeeperCore.Enterprise.Models.Accounting.JournalEntry

<div class="row">
    <div class="col-8 p-0 col-center mh-100v border-right">
        
        <partial name="_Items_Grid" />
    </div>

    <div class="col-3 pr-0">

    </div>
</div>

