

<div class=" mb-2">
    <div class="col p-0">
        <div class="rounded bg-fb2 mh-100 p-2 text-right">
           General | Financial | Sales | Purchases | Employees
        </div>
    </div>
</div>

