

    <div class="flex flex-wrap">
        <div class="w-full col-center p-0">
        Purpose: Upskilling

        Data to show

        Training history

        Certifications

        Upcoming training sessions

        Training hours (for compliance)

        Skill matrix (optional)
        </div>
        <div class="col-300px col-right">
   
        </div>
    </div>

