
<div class="bg-fb1 border p-2 rounded">
    <div>
        <a href="/">Portal</a>
    </div>
</div>

<div class="bg-fb1 border p-2 rounded">
    <div>
        <a href="/bit/">Bit Engine</a>
    </div>
    <div>
        <a href="/tec/">Engineering Craft</a>
    </div>
</div>
