@model ERPKeeperCore.Enterprise.Models.Suppliers.SupplierPayment

<div class="row">
    <div class="col-8 p-0 col-center">
        <partial name="_EditForm" />
    </div>
    <div class="col-4 col-right pr-0">
        <partial name="/areas/accounting/views/transaction/_transactionledgers.cshtml" model="Model.Transaction" />
    </div>
</div>