

<div class="row bg-fb1 p-2 mb-2 rounded">
    <div class="col-9 p-0 font-weight-600">
        Task: @Model.Title
    </div>
    <div class="col-4 p-0 text-right">
        <a href="/Portal/Tasks">My</a>  ·
        <a href="/Portal/Tasks">All</a>
    </div>
</div>
