@model ERPKeeper.Node.Models.Assets.FixedAsset

<div class="row">
    <div class="col-8 pl-0 col-center">
        <partial name="_EditForm" />
        <partial name="_DeprecateSchedule_Grid" />
    </div>
    <div class="col-4 pr-0 col-right">
    </div>
</div>

