<div class="flex w-full font-semibold text-lg text-uppercase justify-between">
    <div class="p-2 text-uppercase">
        
        /
        <a href="/@CompanyId/Taxes">Taxes</a>
        /
        <a href="/@CompanyId/Taxes/TaxPeriods"> Periods</a>
    </div>
    <div class="p-2">
        <a href="/@CompanyId/Taxes/TaxPeriods/Refresh">
            <i class="fa-solid fa-arrows-rotate"></i>
        </a>
    </div>
</div>