

<div class="row mb-2 font-weight-600">
    <div class="col-6 p-2">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Assets">Assets</a>
        /
        <a href="/@CompanyId/Assets/Assets">Assets</a>
    </div>
    <div class="col-6 text-right p-2">
      
    </div>
</div>


