
<div class="row bg-fb2 p-1 mb-2 mh-50 rounded">
    <div class="col-9 p-1">
        <span class="bg-dark px-2 mt-2 mr-3 text-white">
            Payment Retentions
        </span>
    </div>
    <div class="col text-right">
        <span id="ImageMenuAction" style="cursor:pointer">
            <i class="fab fa-chrome fa-lg text-muted"></i>
            <a href="@Url.Action("Reorder", "RetentionGroups", new { Area = "Financial" })">
                <i class="fas fa-redo-alt  fa-lg text-muted"></i>
            </a>
        </span>
    </div>
</div>
