@{
    Layout = null;
}

<div class="bg-fb2 p-2 mb-2 mh-50">
    <div class="col-8">
        <div style="font-weight: 600;margin-bottom:10px;">@Lang.Loans</div>
    </div>
    <div class="col-4 text-right">
        <a href="@Url.Action("New", "Loan")">
            <i class="fas fa-plus-circle fa-lg text-muted"></i>
        </a>
        <a href="@Url.Action("ReOrder")">
            <i class="fas fa-sync fa-lg text-muted"></i>
        </a>
    </div>
</div>
