<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.TransactionLedger>()
        .ID("AssetsTreeList")
        .KeyExpr("Id")
        .DataSource(d => d.RemoteController()
        .LoadUrl($"/api/{CompanyId}/Accounting/Journals/All")
        .InsertUrl($"/api/{CompanyId}/Accounting/Journals/Insert")
        .UpdateUrl($"/api/{CompanyId}/Accounting/Journals/Update")
        .UpdateMethod("Post")
        .DeleteUrl($"/api/{CompanyId}/Accounting/Journals/Delete")
        .DeleteMethod("Post"))
        .AllowColumnReordering(true)
        .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
        .ShowColumnLines(true)
        .ShowBorders(false)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .ColumnAutoWidth(false)
        .Paging(pagging => pagging.PageSize(100))
        @*  .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))*@
        @*  .AllowColumnResizing(true)*@

        .Columns(columns =>
        {
            columns.AddFor(m => m.Name).CellTemplate(@<text><a href="/@CompanyId/Accounting/Journals/<%= data.Id %>/"><%= data.Name %></a></text>);
      
            columns.AddFor(m => m.Reference);
            columns.AddFor(m => m.Debit).Width(100).Format(Format.FixedPoint);
            columns.AddFor(m => m.Credit).Width(100).Format(Format.FixedPoint);

         
             })
        )
</div>










