<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeper.Node.Models.Accounting.TransactionLedger>()
        .ID("AssetsTreeList")
        .KeyExpr("Uid")
        .DataSource(d => d.RemoteController()
        .LoadUrl($"/api/{CompanyId}/Accounting/Journals/All")
        .InsertUrl($"/api/{CompanyId}/Accounting/Journals/Insert")
        .UpdateUrl($"/api/{CompanyId}/Accounting/Journals/Update")
        .UpdateMethod("Post")
        .DeleteUrl($"/api/{CompanyId}/Accounting/Journals/Delete")
        .DeleteMethod("Post"))
        .AllowColumnReordering(true)
        .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
        .ShowColumnLines(true)
        .ShowBorders(false)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .ColumnAutoWidth(false)
        .Paging(pagging => pagging.PageSize(100))
        @*  .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))*@
        @*  .AllowColumnResizing(true)*@

        .Columns(columns =>
        {
            columns.AddFor(m => m.Name).CellTemplate(@<text><a href="/@CompanyId/Accounting/Journals/<%= data.Uid %>/"><%= data.Name %></a></text>);
            columns.AddFor(m => m.TransactionType).Width(150).Lookup(lookup => lookup.DataSource(Html.GetEnumSelectList<ERPKeeper.Node.Models.Accounting.Enums.ERPObjectType>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text })).DisplayExpr("Text").ValueExpr("Value"));
            columns.AddFor(m => m.TrnDate).SortOrder(SortOrder.Desc).Width(100);
            columns.AddFor(m => m.Reference);
            columns.AddFor(m => m.TotalDebit).Width(100).Format(Format.FixedPoint);
            columns.AddFor(m => m.TotalCredit).Width(100).Format(Format.FixedPoint);

         
            columns.AddFor(m => m.FiscalYearUid)
            .Lookup(lookup => lookup.DataSource(d => d.RemoteController().LoadUrl($"/api/{CompanyId}/Accounting/FiscalYears/All")).DisplayExpr("Name").ValueExpr("Uid"))
            .HeaderCellTemplate(@<text>Fiscal</text>)
            .CellTemplate(@<text><a href="/@CompanyId/Accounting/FiscalYears/<%= data.FiscalYearUid %>/"><%= displayValue %></a></text>);
        })
        )
</div>










