


<div class="lh-120 bg-gray-100 font-semibold p-2 border">

    <a href="/Profiles/">
        Profiles
    </a>
</div>
<div class="lh-120 bg-gray-100 font-semibold p-2 border">

    <a href="/Profiles/@Profile.Id">
        @Profile.Name
    </a>
</div>


<div class="lh-120 bg-gray-100 p-2 border">
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "General", Url = $"/Profiles/{Profile.Id}" })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Addresses", Url = $"/Profiles/{Profile.Id}/Addresses", Count = Profile.Addresses.Count() })
    @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Contacts", Url = $"/Profiles/{Profile.Id}/Contacts", Count = Profile.Contacts.Count() })
</div>

<div class="lh-120 bg-gray-100 p-2 border">
    @{
        if (Profile.Customer != null)
        {
            @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Customers", Url = $"/Customers/Customers/{Profile.Id}" })
        }

        if (Profile.Supplier != null)
        {
            @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Suppliers", Url = $"/Suppliers/Suppliers/{Profile.Id}" })
        }

        if (Profile.Investor != null)
        {
            @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Investors", Url = $"/Investors/Investors/{Profile.Id}" })
        }

        if (Profile.Employee != null)
        {
            @await Html.PartialAsync("_MenuTemplate", new MenuTemplateModel { Level = 0, DisplayName = "Employees", Url = $"/HR/Employees/{Profile.Id}" })
        }

    }
</div>