@model ERPKeeperCore.Enterprise.Models.Employees.Employee


<div class="row mb-2 font-weight-600  text-uppercase">
    <div class="col-6 p-2">
        <a href="/@CompanyId/Profiles/Employees">Employees</a>
        /
        <a href="/@CompanyId/Profiles/Employees/Employees"> Employees</a>
        /
        <a href="/@CompanyId/Profiles/Employees/Employees/@Model.ProfileId"> @Model.Profile.Name</a>
    </div>
    <div class="col-6 text-right p-2">
        <a href="/@CompanyId/Profiles/Employees/Employees/@Model.ProfileId">Overview</a>  ·
        <a href="/Profiles/@Model.ProfileId">Profile</a>  ·
        <a href="/@CompanyId/Profiles/Employees/Employees/@Model.ProfileId/Payments">Estimates</a>
    </div>
</div>


