



<div id="MainContent" class="flex mh-100vh">
    <div class="w-2/12 col-left border-right pl-0">
 er
    </div>
    <div class="col col-center pl-0">
    </div>
    <div class="col-300px col-right">
    </div>
</div>

