@model ERPKeeperCore.Enterprise.Models.Accounting.JournalEntryType

<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.JournalEntry>()
        .ID("AssetsTreeList")
        .KeyExpr("Id")
        .DataSource(d => d.RemoteController()
        .Key("Id")
        .LoadUrl($"/api/{CompanyId}/Accounting/JournalEntryTypes/{Model.Id}/JournalEntries/All")
        .InsertUrl($"/api/{CompanyId}/Accounting/JournalEntryTypes/{Model.Id}/JournalEntries/Insert")
        .UpdateUrl($"/api/{CompanyId}/Accounting/JournalEntryTypes/{Model.Id}/JournalEntries/Update")
        .UpdateMethod("Post"))
        .AllowColumnReordering(true)
        .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
        .ShowColumnLines(true)
        .ShowBorders(false)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .ColumnAutoWidth(false)
        .Paging(pagging => pagging.PageSize(100))
         .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))
        @*  .AllowColumnResizing(true)*@

        .Columns(columns =>
        {
                columns.AddFor(m => m.Date).Width(100).Format(Format.ShortDate);
                columns.AddFor(m => m.JournalEntryTypeId)
            .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.JournalEntryTypes.Select(t => new { t.Id, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Id"))
            .HeaderCellTemplate(@<text>Type</text>)
            .CellTemplate(@<text><a href="/@CompanyId/Accounting/JournalEntryTypes/<%= data.JournalEntryTypeId %>/"><%= displayValue %></a></text>);

                columns.AddFor(m => m.Name).AllowEditing(false).Width(100).SortOrder(SortOrder.Desc).CellTemplate(@<text> <div> <a href="/@CompanyId/Accounting/JournalEntries/<%= data.Id %>/"><%= data.Name %></a> </div></text>);
                columns.AddFor(m => m.Memo).SortOrder(SortOrder.Desc).CellTemplate(@<text> <div><a href="/@CompanyId/Accounting/JournalEntries/<%= data.Id %>/"><%= data.Memo %></a></div></text>);
               columns.AddFor(m => m.Debit).AllowEditing(false).Width(100).Format(Format.FixedPoint);
                columns.AddFor(m => m.Credit).AllowEditing(false).Width(100).Format(Format.FixedPoint);
        })
        )
</div>










