@model ERPKeeperCore.Enterprise.Models.Accounting.JournalEntryType

<div class="mb-2 border-top">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Accounting.JournalEntry>()
        .ID("AssetsTreeList")
        .KeyExpr("Uid")
        .DataSource(d => d.RemoteController()
        .Key("Uid")
        .LoadUrl($"/api/{CompanyId}/Accounting/JournalEntryTypes/{Model.Uid}/JournalEntries/All")
        .InsertUrl($"/api/{CompanyId}/Accounting/JournalEntryTypes/{Model.Uid}/JournalEntries/Insert")
        .UpdateUrl($"/api/{CompanyId}/Accounting/JournalEntryTypes/{Model.Uid}/JournalEntries/Update")
        .UpdateMethod("Post"))
        .AllowColumnReordering(true)
        .RowAlternationEnabled(false).ShowRowLines(true).HoverStateEnabled(true)
        .ShowColumnLines(true)
        .ShowBorders(false)
        .HeaderFilter(headerFilter => headerFilter.Visible(true).AllowSearch(true))
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .ColumnAutoWidth(false)
        .Paging(pagging => pagging.PageSize(100))
         .Editing(editing => editing.Mode(GridEditMode.Row).AllowUpdating(IsOnEditMode).AllowAdding(IsOnEditMode).UseIcons(true))
        @*  .AllowColumnResizing(true)*@

        .Columns(columns =>
        {
                columns.AddFor(m => m.TrnDate).Width(100).Format(Format.ShortDate);
                columns.AddFor(m => m.JournalEntryTypeGuid)
            .Lookup(lookup => lookup.DataSource(Organization.ErpCOREDBContext.JournalEntryTypes.Select(t => new { t.Uid, t.Name }).OrderBy(t => t.Name).ToList()).DisplayExpr("Name").ValueExpr("Uid"))
            .HeaderCellTemplate(@<text>Type</text>)
            .CellTemplate(@<text><a href="/@CompanyId/Accounting/JournalEntryTypes/<%= data.JournalEntryTypeGuid %>/"><%= displayValue %></a></text>);

                columns.AddFor(m => m.Name).AllowEditing(false).Width(100).SortOrder(SortOrder.Desc).CellTemplate(@<text> <div> <a href="/@CompanyId/Accounting/JournalEntries/<%= data.Uid %>/"><%= data.Name %></a> </div></text>);
                columns.AddFor(m => m.Memo).SortOrder(SortOrder.Desc).CellTemplate(@<text> <div><a href="/@CompanyId/Accounting/JournalEntries/<%= data.Uid %>/"><%= data.Memo %></a></div></text>);
                columns.AddFor(m => m.Status).AllowEditing(false).Width(100).Lookup(lookup => lookup.DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Accounting.EnumFiscalYearStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text })).DisplayExpr("Text").ValueExpr("Value"));
                columns.AddFor(m => m.Debit).AllowEditing(false).Width(100).Format(Format.FixedPoint);
                columns.AddFor(m => m.Credit).AllowEditing(false).Width(100).Format(Format.FixedPoint);
        })
        )
</div>










