@model ERPKeeperCore.Enterprise.Models.Accounting.JournalEntryType

<div class="flex">
    <div class="col-6 p-2 font-weight-600">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/JournalEntries">JournalEntries</a>
        /
        <a href="/@CompanyId/Accounting/JournalEntries/@Model.Id">@Model.Name</a>
    </div>
    <div class="col-right w-3/12">
    </div>
    <div class="w-3/12 p-0 text-right">
        <div class="btn-group">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <ul class="dropdown-menu p-2">
                <li>
                    <a href="/@CompanyId/Accounting/TransactionEntryType/@Model.Id/UpdateBalance">Balance</a>
                </li>
                <li>
                    <a href="/@CompanyId/Accounting/TransactionEntryType/@Model.Id/Clone">Clone</a>
                </li>
            </ul>
        </div>
    </div>
</div>

