@model ERPKeeperCore.Enterprise.Models.Accounting.JournalEntryType

<div class="flex flex-wrap">
    <div class="grow p-2 font-semibold">
        <a href="/@CompanyId">@CompanyId</a>
        /
        <a href="/@CompanyId/Accounting">Accounting</a>
        /
        <a href="/@CompanyId/Accounting/JournalEntries">JournalEntries</a>
        /
        <a href="/@CompanyId/Accounting/JournalEntries/@Model.Id">@Model.Name</a>
    </div>

    <div class="w-3/12 p-0 text-right">




        <div class="dropdown dropleft ">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrows-rotate text-xl"></i>
            </a>
            <div class="dropdown-menu p-2 bg-white border-2 border roundedmin-w-64 min-h-40" aria-labelledby="dropdownMenuLink">
                <div>
                    <a href="/@CompanyId/Accounting/TransactionEntryType/@Model.Id/UpdateBalance">Balance</a>
                </div>
                <div>
                    <a href="/@CompanyId/Accounting/TransactionEntryType/@Model.Id/Clone">Clone</a>
                </div>
            </div>
        </div>






    </div>
</div>

