@model ERPKeeper.Node.Models.Accounting.JournalEntryType

<div class="row">
    <div class="col-8 p-0 col-center mh-100v border-right border-2">
        <partial name="_MenuTop" />
        <partial name="_JournalEntries_Grid" />
    </div>
</div>

